#Header.CE--menu,
#Header.CE--menu * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#Header.CE--menu #Top_bar {
  padding-top: 50px;
  z-index: 101; }
  @media (max-width: 1240px) {
    #Header.CE--menu #Top_bar {
      position: fixed !important;
      border-bottom: 1px solid #01498E !important;
      background: rgba(0, 0, 0, 0.5) !important; } }
  @media (min-width: 768px) and (max-width: 1240px) {
    #Header.CE--menu #Top_bar {
      height: 90px !important;
      padding-top: 15px !important; } }
  @media (max-width: 767px) {
    #Header.CE--menu #Top_bar {
      padding-top: 10px !important; } }

#Header.CE--menu #Top_bar.is-sticky {
  height: 90px !important;
  padding-top: 25px !important;
  padding-bottom: 25px !important; }
  @media (max-width: 1240px) {
    #Header.CE--menu #Top_bar.is-sticky {
      padding-top: 15px !important;
      background: rgba(0, 0, 0, 0.85) !important; } }

@media only screen and (min-width: 1240px) {
  #Header.CE--menu.sticky-dark #Top_bar.is-sticky {
    background: rgba(0, 0, 0, 0.3) !important; } }

#Header.CE--menu .logo {
  float: left;
  width: 14%; }

#Header.CE--menu #Top_bar .menu_wrapper {
  float: left;
  width: 69%; }
  @media (max-width: 1240px) {
    #Header.CE--menu #Top_bar .menu_wrapper {
      width: 0;
      float: left; } }

#Header.CE--menu #Top_bar .secondary_menu_wrapper {
  display: inline-block !important;
  float: right;
  width: 17%; }
  @media (max-width: 1220px) {
    #Header.CE--menu #Top_bar .secondary_menu_wrapper {
      width: auto;
      float: left;
      margin-left: 15px; } }
  @media (max-width: 767px) {
    #Header.CE--menu #Top_bar .secondary_menu_wrapper {
      width: 100%;
      margin-left: 0; } }

@media (max-width: 767px) {
  #Header.CE--menu #Top_bar.is-sticky .secondary_menu_wrapper {
    display: none !important; } }

#Header.CE--menu #Top_bar .secondary_menu_wrapper nav#secondary-menu {
  text-align: center; }

#Header.CE--menu #Top_bar .secondary_menu_wrapper nav#secondary-menu ul.secondary-menu {
  display: inline-block; }

#Header.CE--menu #Top_bar .secondary_menu_wrapper nav#secondary-menu ul.secondary-menu > li {
  display: inline-block !important;
  vertical-align: middle;
  float: none !important;
  padding: 0px !important;
  margin: 0 4px !important; }

#Header.CE--menu #Top_bar .secondary_menu_wrapper nav#secondary-menu ul.secondary-menu > li.hover {
  background-color: transparent !important; }

#Header.CE--menu #Top_bar .secondary_menu_wrapper nav#secondary-menu ul.secondary-menu > li > a {
  height: 40px;
  width: 40px;
  color: #ffffff;
  font-size: 18px;
  background: #01498E;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Header.CE--menu #Top_bar .secondary_menu_wrapper nav#secondary-menu ul.secondary-menu > li > a:hover {
  font-weight: bold !important;
  background-color: #ffffff;
  color: #01498E; }

#Header.CE--menu #Top_bar .logo {
  margin: -5px 00px 0px 00px !important; }
  @media (max-width: 767px) {
    #Header.CE--menu #Top_bar .logo {
      width: 90%; } }

#Header.CE--menu #Top_bar .logo a#logo {
  padding: 0 !important;
  height: auto !important; }

#Header.CE--menu #Top_bar.is-sticky .logo a#logo {
  line-height: 25px !important;
  height: 50px !important; }

#Header.CE--menu #Top_bar .logo a#logo img {
  max-height: inherit !important; }
  @media (max-width: 767px) {
    #Header.CE--menu #Top_bar .logo a#logo img {
      height: 70px !important;
      margin-left: 10%; } }

#Header.CE--menu #Top_bar.is-sticky .logo a#logo img {
  max-height: 100% !important; }

#Header.CE--menu #Top_bar #menu {
  background-color: transparent !important; }

#Header.CE--menu #Top_bar .menu_wrapper,
#Header.CE--menu #Top_bar .secondary_menu_wrapper {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (max-width: 1240px) {
    #Header.CE--menu #Top_bar .menu_wrapper,
    #Header.CE--menu #Top_bar .secondary_menu_wrapper {
      padding-top: 15px; } }
  @media (max-width: 767px) {
    #Header.CE--menu #Top_bar .menu_wrapper,
    #Header.CE--menu #Top_bar .secondary_menu_wrapper {
      padding-top: 0;
      padding-bottom: 0; } }

#Header.CE--menu #Top_bar.is-sticky .menu_wrapper,
#Header.CE--menu #Top_bar.is-sticky .secondary_menu_wrapper {
  padding-top: 0px;
  padding-bottom: 0px; }
  @media (max-width: 1240px) {
    #Header.CE--menu #Top_bar.is-sticky .menu_wrapper,
    #Header.CE--menu #Top_bar.is-sticky .secondary_menu_wrapper {
      padding-top: 5px;
      padding-bottom: 0px; } }

#Header.CE--menu #Top_bar ul.menu > li > a {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

#Header.CE--menu #Top_bar #menu ul.menu {
  float: right; }
  @media only screen and (min-width: 1240px) {
    #Header.CE--menu #Top_bar #menu ul.menu {
      display: inline-block !important; } }

#Header.CE--menu #Top_bar ul.menu li a span {
  color: #ffffff;
  text-transform: none !important;
  font-family: "Colfax Medium", "Roboto", Arial, Tahoma, sans-serif !important;
  letter-spacing: 0px !important;
  font-size: 17px !important;
  padding: 0 12.5px !important;
  line-height: 40px !important;
  border: none !important;
  -webkit-transition-property: all, padding-left !important;
  transition-property: all, padding-left !important;
  -webkit-transition-duration: 0.3s, 0s !important;
          transition-duration: 0.3s, 0s !important;
  transition-timig-function: ease-in-out !important;
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important; }

#Header.CE--menu #Top_bar ul.menu li a:hover,
#Header.CE--menu #Top_bar ul.menu li a:hover span {
  color: #E51E54;
  font-family: "Colfax Medium", "Roboto", Arial, Tahoma, sans-serif !important; }

#Header.CE--menu #Top_bar ul.menu li a span > span.home {
  width: 35px;
  height: 35px;
  display: block;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 0 25px !important; }

#Header.CE--menu #Top_bar ul.menu li a span > span.home:hover {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link-pink.svg"); }

/* START hook for auto preload img */
#Header.CE--menu #Top_bar ul.menu li a span > span.home:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link-pink.svg");
  left: 0;
  top: 0; }

/* END hook for auto proload img */
#Side_slide #menu ul li:first-child a {
  padding: 11px 5px 30px 20px !important;
  color: rgba(255, 255, 255, 0.7) !important; }

#Side_slide #menu ul li:first-child a:hover {
  padding: 11px 5px 30px 20px !important;
  color: #ffffff; }

#Side_slide ul.menu li:first-child a > span {
  position: relative; }

#Side_slide ul.menu li:first-child a span > span.home:before {
  content: 'home';
  position: absolute;
  top: 0;
  left: 0; }

#Side_slide #menu ul li:last-child a {
  padding: 11px 5px 30px 20px !important;
  color: rgba(255, 255, 255, 0.7) !important; }

#Side_slide #menu ul li:last-child a:hover {
  padding: 11px 5px 30px 20px !important;
  color: #ffffff; }

#Side_slide ul.menu li:last-child a {
  position: relative; }

#Side_slide ul.menu li:last-child a > span:before {
  content: 'some link?';
  position: absolute;
  top: 11px;
  left: 20px; }
