/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
#Top_bar,
#Top_bar.is-sticky,
#Top_bar.is-sticky > div.container > div.column.one > div {
  height: 120px !important; }

.home--menu #Top_bar {
  z-index: 99998 !important;
  width: auto !important; }
  @media (max-width: 991px) {
    .home--menu #Top_bar {
      top: 0 !important;
      width: 100%;
      max-width: 100%; } }

.header-overlay #Top_bar.is-sticky {
  display: block !important; }

.sticky-dark #Top_bar.is-sticky {
  background: transparent !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.home--menu #Overlay {
  padding-top: 120px;
  padding-bottom: 120px; }

.home--menu #Overlay,
.home--menu #Overlay * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* -------------------------- START .logo (block) -------------------------- */
.home--menu #Top_bar div.logo {
  position: fixed;
  top: 0;
  left: 0;
  float: none !important; }

.home--menu #Top_bar div.logo,
.home--menu #Top_bar div.logo a#logo,
.home--menu #Top_bar div.logo a#logo img {
  height: 120px !important;
  max-height: 120px !important; }

.home--menu #Top_bar div.logo a#logo img {
  width: auto !important;
  height: 100% !important; }

/* --------------------------  END  .logo (block) -------------------------- */
/* ------------------------ START open/close button menu ------------------------ */
.home--menu a.overlay-menu-toggle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 38px;
  top: 0 !important;
  right: 0 !important;
  width: 90px;
  height: 90px;
  padding: 20px;
  margin-right: 0 !important;
  z-index: 99999; }

.home--menu a.overlay-menu-toggle span.hamburger_own {
  width: 40px;
  display: inline-block;
  vertical-align: middle; }

.home--menu a.overlay-menu-toggle span.hamburger_own span {
  height: 4px;
  margin-bottom: 6px;
  background-color: #ffffff;
  display: block; }

.home--menu a.overlay-menu-toggle span.hamburger_own span:last-child {
  margin-bottom: 0px; }

.home--menu a.overlay-menu-toggle span.hamburger_own span {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.home--menu a.overlay-menu-toggle span.hamburger_own span:nth-child(1) {
  width: 60%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0; }

.home--menu a.overlay-menu-toggle span.hamburger_own span:nth-child(2) {
  width: 100%;
  opacity: 1; }

.home--menu a.overlay-menu-toggle span.hamburger_own span:nth-child(3) {
  width: 80%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0; }

.home--menu a.overlay-menu-toggle.focus span.hamburger_own span:nth-child(1) {
  width: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px; }

.home--menu a.overlay-menu-toggle.focus span.hamburger_own span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.home--menu a.overlay-menu-toggle.focus span.hamburger_own span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -10px; }

/* ------------------------  END  open/close button menu ------------------------ */
.home--menu #Overlay .title-menu,
.home--menu #Overlay .body-menu,
.home--menu #Overlay .footer-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 150px;
  padding-right: 150px; }
  @media (max-width: 991px) {
    .home--menu #Overlay .title-menu,
    .home--menu #Overlay .body-menu,
    .home--menu #Overlay .footer-menu {
      padding-left: 40px;
      padding-right: 40px; } }

/* ------------------------ START title menu ------------------------ */
.home--menu #Overlay .title-menu {
  font-size: 60px;
  line-height: 60px;
  color: #E51E54;
  text-align: center;
  font-family: "Colfax Bold"; }

.home--menu #Overlay .subtitle-menu {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 50px; }

.home--menu #Overlay .subtitle-menu ul {
  display: block;
  margin-right: -16px; }

.home--menu #Overlay .subtitle-menu ul li {
  display: inline-block;
  width: 33%;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 3;
  text-align: center;
  color: #ffffff;
  margin-left: -2px;
  margin-right: -2px;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  @media (max-width: 991px) {
    .home--menu #Overlay .subtitle-menu ul li {
      width: 100%; } }

.home--menu #Overlay .subtitle-menu ul li:hover {
  cursor: pointer; }

.home--menu #Overlay .subtitle-menu ul li:hover,
.home--menu #Overlay .subtitle-menu ul li.active {
  color: #E51E54;
  border-bottom: 1px solid #E51E54; }

/* ------------------------  END  title menu ------------------------ */
/* -------------------------- START body menu -------------------------- */
.home--menu #Overlay #overlay-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: static !important;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  margin: 0 auto !important; }

#secondary-menu {
  margin: 0 auto !important; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu,
.home--menu #Overlay nav#secondary-menu ul.secondary-menu {
  overflow: hidden; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li,
.home--menu #Overlay nav#secondary-menu ul.secondary-menu > li {
  display: block;
  width: 100%;
  list-style: none !important; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:hover,
.home--menu #Overlay nav#secondary-menu ul.secondary-menu > li:hover,
#Header .secondary-menu li ul,
#Header .secondary-menu > li.hover {
  background: transparent !important;
  background-color: transparent !important; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li > a,
.home--menu #Overlay nav#secondary-menu ul.secondary-menu > li > a {
  font-size: 55px;
  line-height: 65px;
  text-transform: capitalize;
  font-family: "Colfax Bold";
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  @media (max-width: 991px) {
    .home--menu #Overlay nav#overlay-menu ul.overlay-menu > li > a,
    .home--menu #Overlay nav#secondary-menu ul.secondary-menu > li > a {
      font-size: 30px;
      line-height: 40px; } }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li > a:hover,
.home--menu #Overlay nav#secondary-menu ul.secondary-menu > li > a:hover {
  opacity: 1 !important;
  color: #E51E54; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li > a:before,
.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li > a:after {
  content: "" !important;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
  opacity: 0 !important; }

/* ------------------- START body menu - home link ------------------- */
.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child {
  height: 80px; }
  @media (max-width: 991px) {
    .home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child {
      height: 45px; } }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a {
  width: 100%; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon,
.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon:before {
  width: 40px;
  height: 40px; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon {
  position: relative;
  display: inline-block; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a,
.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a * {
  color: #E51E54; }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a span.home_icon:before {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link-pink.svg"); }

.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a:hover span.home_icon:before {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link.svg"); }

/* START hook for auto preload img */
.home--menu #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link-pink.svg");
  left: 0;
  top: 0; }

/* END hook for auto proload img */
/* -------------------  END  body menu - home link ------------------- */
/* --------------------------  END  body menu -------------------------- */
/* ------------------------ START footer menu ------------------------ */
.home--menu #Overlay .footer-menu:after {
  content: '';
  display: table;
  clear: both; }

.home--menu #Overlay .footer-menu .footer-menu--left.address_side {
  text-align: left; }

.home--menu #Overlay .footer-menu .footer-menu--right.social_side {
  text-align: right;
  font-size: 21px; }

.home--menu #Overlay .footer-menu .footer-menu--left.address_side,
.home--menu #Overlay .footer-menu .footer-menu--right.social_side {
  margin-top: 50px;
  width: 49%;
  display: inline-block;
  vertical-align: bottom; }
  @media (max-width: 991px) {
    .home--menu #Overlay .footer-menu .footer-menu--left.address_side,
    .home--menu #Overlay .footer-menu .footer-menu--right.social_side {
      width: 100%;
      margin-top: 25px;
      text-align: center; } }

.home--menu #Overlay .footer-menu .footer-menu--right.social_side #social-menu {
  margin: 0 auto !important; }

.home--menu #Overlay .footer-menu .footer-menu--right.social_side * {
  display: inline-block; }

.home--menu #Overlay .footer-menu .footer-menu--left.address_side a,
.home--menu #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a,
.home--menu #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a span {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

.home--menu #Overlay .footer-menu .footer-menu--left.address_side a:hover {
  color: #E51E54; }

.home--menu #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li,
.home--menu #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a {
  width: 60px;
  height: 30px; }

.home--menu #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a:hover,
.home--menu #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a:hover span {
  color: #E51E54; }

.home--menu #Overlay .footer-menu,
.home--menu #Overlay .footer-menu * {
  color: #ffffff;
  margin-bottom: 0; }

.home--menu #Overlay .footer-menu .footer-menu--left.address_side span {
  width: 180px;
  display: inline-block; }

/* ------------------------  END  footer menu ------------------------ */
/* ---------------------------- START secondary-menu ---------------------------- */
/* ----------------------------  END  secondary-menu ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
