*:focus {
  outline: none !important; }

.hidden,
.disabled {
  display: none !important; }

.break {
  display: block; }
  @media (max-width: 767px) {
    .break {
      display: inline; } }

.CE_home--page,
.CE_home--page *,
.CE_1_of_6_jobs--page,
.CE_1_of_6_jobs--page *,
.CE_vacancy_overview--page,
.CE_vacancy_overview--page *,
.CE_vacancy_detail--page,
.CE_vacancy_detail--page * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#only_JS,
#only_JS:before,
#only_JS:after,
#only_JS *,
#only_JS *:before,
#only_JS *:after {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  float: none !important;
  width: 100% !important; }

.over_title {
  font-family: "Colfax Regular";
  letter-spacing: -1px;
  word-spacing: 3px; }

body.Spring_contact--page a.overlay-menu-toggle {
  -webkit-box-shadow: -1px 2px 10px black;
          box-shadow: -1px 2px 10px black; }

blockquote {
  background: url("") !important; }

/* ----------- START test outlines ----------- */
section {
  outline: 2px dashed orange !important; }

.section_wrapper {
  outline: 3px dashed red !important; }

.the_content_wrapper {
  outline: 2px dashed green !important; }

.wpb_wrapper {
  outline: 2px dashed blue !important; }

#Header,
#Header * {
  outline: 2px dashed lime !important; }

.wpb_text_column {
  outline: 2px dashed yellow !important; }

#section__1--slider,
#section__1--slider * {
  outline: 2px dashed cyan !important; }

.vc_column_container > .vc_column-inner {
  outline: 3px dashed pink; }

/* -----------  END  test outlines ----------- */
@media (min-width: 1400px) {
  h1 {
    font-size: 60px !important;
    line-height: 60px !important; } }

@media (min-width: 992px) and (max-width: 1399px) {
  h1 {
    font-size: 55px !important;
    line-height: 55px !important; } }

@media (min-width: 992px) and (max-width: 1200px) {
  h1 {
    font-size: 50px !important;
    line-height: 50px !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 40px !important;
    line-height: 50px !important; } }

@media (max-width: 767px) {
  h1 {
    font-size: 30px !important;
    line-height: 30px !important; } }

@media (min-width: 1400px) {
  h2,
  #Header #Overlay div.body-menu nav ul > li > a,
  #Header #Overlay .title-menu,
  .search_vacancie--form .search_vacancie--row,
  .search_vacancie--form .search_vacancie--row input,
  .search_vacancie--form .search_vacancie--row input:focus,
  .search_vacancie--form .search_vacancie--row input:active,
  .search_vacancie--form .search_vacancie--row input:hover,
  .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
  .search_vacancie--form .search_vacancie--row div.input_city-buffer,
  .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
  .search_vacancie--form .search_vacancie--row div.fake_city_input,
  .search_vacancie--form div.own_popup ul.list_of_city li button {
    font-size: 45px !important;
    line-height: 45px !important; } }

@media (min-width: 992px) and (max-width: 1399px) {
  h2,
  #Header #Overlay div.body-menu nav ul > li > a,
  #Header #Overlay .title-menu,
  .search_vacancie--form .search_vacancie--row,
  .search_vacancie--form .search_vacancie--row input,
  .search_vacancie--form .search_vacancie--row input:focus,
  .search_vacancie--form .search_vacancie--row input:active,
  .search_vacancie--form .search_vacancie--row input:hover,
  .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
  .search_vacancie--form .search_vacancie--row div.input_city-buffer,
  .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
  .search_vacancie--form .search_vacancie--row div.fake_city_input,
  .search_vacancie--form div.own_popup ul.list_of_city li button {
    font-size: 40px !important;
    line-height: 40px !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  h2,
  #Header #Overlay div.body-menu nav ul > li > a,
  #Header #Overlay .title-menu,
  .search_vacancie--form .search_vacancie--row,
  .search_vacancie--form .search_vacancie--row input,
  .search_vacancie--form .search_vacancie--row input:focus,
  .search_vacancie--form .search_vacancie--row input:active,
  .search_vacancie--form .search_vacancie--row input:hover,
  .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
  .search_vacancie--form .search_vacancie--row div.input_city-buffer,
  .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
  .search_vacancie--form .search_vacancie--row div.fake_city_input,
  .search_vacancie--form div.own_popup ul.list_of_city li button {
    font-size: 35px !important;
    line-height: 35px !important; } }

@media (max-width: 767px) {
  h2,
  #Header #Overlay div.body-menu nav ul > li > a,
  #Header #Overlay .title-menu,
  .search_vacancie--form .search_vacancie--row,
  .search_vacancie--form .search_vacancie--row input,
  .search_vacancie--form .search_vacancie--row input:focus,
  .search_vacancie--form .search_vacancie--row input:active,
  .search_vacancie--form .search_vacancie--row input:hover,
  .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
  .search_vacancie--form .search_vacancie--row div.input_city-buffer,
  .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
  .search_vacancie--form .search_vacancie--row div.fake_city_input,
  .search_vacancie--form div.own_popup ul.list_of_city li button {
    font-size: 25px !important;
    line-height: 25px !important; } }

h3 {
  font-size: 37px !important;
  line-height: 37px !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    h3 {
      font-size: 32px !important;
      line-height: 32px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    h3 {
      font-size: 27px !important;
      line-height: 27px !important; } }
  @media (max-width: 767px) {
    h3 {
      font-size: 22px !important;
      line-height: 22px !important; } }

h4 {
  font-size: 29px !important;
  line-height: 29px !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    h4 {
      font-size: 24px !important;
      line-height: 24px !important; } }
  @media (max-width: 991px) {
    h4 {
      font-size: 19px !important;
      line-height: 19px !important; } }

h5 {
  font-size: 20px !important;
  line-height: 20px !important; }
  @media (max-width: 991px) {
    h5 {
      font-size: 17px !important;
      line-height: 17px !important; } }

@media (min-width: 1400px) {
  h6,
  body p,
  body ul,
  body ul li,
  blockquote,
  a.btn-medium,
  button.btn-medium {
    font-size: 18px !important; } }

@media (min-width: 1201px) and (max-width: 1399px) {
  h6,
  body p,
  body ul,
  body ul li,
  blockquote,
  a.btn-medium,
  button.btn-medium {
    font-size: 16px !important; } }

@media (min-width: 992px) and (max-width: 1200px) {
  h6,
  body p,
  body ul,
  body ul li,
  blockquote,
  a.btn-medium,
  button.btn-medium {
    font-size: 15px !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  h6,
  body p,
  body ul,
  body ul li,
  blockquote,
  a.btn-medium,
  button.btn-medium {
    font-size: 14px !important; } }

@media (max-width: 767px) {
  h6,
  body p,
  body ul,
  body ul li,
  blockquote,
  a.btn-medium,
  button.btn-medium {
    font-size: 13px !important; } }

body p {
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6,
#Header #Overlay div.body-menu nav ul > li > a,
#Header #Overlay .title-menu {
  font-family: "Colfax Bold" !important;
  word-break: break-word; }

h1,
h2,
#Header #Overlay div.body-menu nav ul > li > a,
#Header #Overlay .title-menu,
.search_vacancie--form .search_vacancie--row,
.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input:focus,
.search_vacancie--form .search_vacancie--row input:active,
.search_vacancie--form .search_vacancie--row input:hover,
.search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
.search_vacancie--form .search_vacancie--row div.input_city-buffer,
.search_vacancie--form div.own_popup ul.list_of_vacancies li button,
.search_vacancie--form .search_vacancie--row div.fake_city_input,
.search_vacancie--form div.own_popup ul.list_of_city li button {
  letter-spacing: -5px !important; }
  @media (min-width: 768px) and (max-width: 991px) {
    h1,
    h2,
    #Header #Overlay div.body-menu nav ul > li > a,
    #Header #Overlay .title-menu,
    .search_vacancie--form .search_vacancie--row,
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input:focus,
    .search_vacancie--form .search_vacancie--row input:active,
    .search_vacancie--form .search_vacancie--row input:hover,
    .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
    .search_vacancie--form .search_vacancie--row div.input_city-buffer,
    .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
    .search_vacancie--form .search_vacancie--row div.fake_city_input,
    .search_vacancie--form div.own_popup ul.list_of_city li button {
      letter-spacing: -4px !important; } }
  @media (max-width: 767px) {
    h1,
    h2,
    #Header #Overlay div.body-menu nav ul > li > a,
    #Header #Overlay .title-menu,
    .search_vacancie--form .search_vacancie--row,
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input:focus,
    .search_vacancie--form .search_vacancie--row input:active,
    .search_vacancie--form .search_vacancie--row input:hover,
    .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
    .search_vacancie--form .search_vacancie--row div.input_city-buffer,
    .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
    .search_vacancie--form .search_vacancie--row div.fake_city_input,
    .search_vacancie--form div.own_popup ul.list_of_city li button {
      letter-spacing: -3px !important; } }

#1_section_custom_own_slider h1 {
  color: #ffffff;
  font-size: 80px !important;
  line-height: 80px !important; }
  @media (max-width: 440px) {
    #1_section_custom_own_slider h1 {
      font-size: 45px !important;
      line-height: 45px !important; } }

#1_section_custom_own_slider h2 {
  color: #ffffff;
  font-size: 60px !important;
  line-height: 60px !important; }
  @media (max-width: 440px) {
    #1_section_custom_own_slider h2 {
      font-size: 40px !important;
      line-height: 40px !important; } }

#1_section_custom_own_slider h3 {
  color: #ffffff;
  font-size: 50px !important;
  line-height: 50px !important; }
  @media (max-width: 440px) {
    #1_section_custom_own_slider h3 {
      font-size: 32px !important;
      line-height: 32px !important; } }

#1_section_custom_own_slider h4 {
  color: #ffffff;
  font-size: 40px !important;
  line-height: 40px !important; }
  @media (max-width: 440px) {
    #1_section_custom_own_slider h4 {
      font-size: 25px !important;
      line-height: 25px !important; } }

#1_section_custom_own_slider h5 {
  color: #ffffff;
  font-size: 30px !important;
  line-height: 30px !important; }
  @media (max-width: 440px) {
    #1_section_custom_own_slider h5 {
      font-size: 17px !important;
      line-height: 17px !important; } }

.empty_space {
  height: 150px !important; }

.1_section_custom_own_slider .btn_row div a.btn {
  margin-top: 15px !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.bold_text {
  font-family: "Colfax Bold" !important; }

.text_color-pink {
  color: #E51E54 !important; }

.text_color-blue {
  color: #01498E !important; }

.colfax-b {
  font-family: "Colfax Bold", "Roboto", Arial, Tahoma, sans-serif !important; }

.colfax-m {
  font-family: "Colfax Medium", "Roboto", Arial, Tahoma, sans-serif !important; }

.colfax-r {
  font-family: "Colfax Regular", "Roboto", Arial, Tahoma, sans-serif !important; }

.slider-title-text {
  letter-spacing: -2px !important; }

.bebasNeue-r {
  font-family: "BebasNeue Regular", "Colfax Regular", "Roboto", Arial, Tahoma, sans-serif !important;
  letter-spacing: 2px; }

.bebasNeue-b {
  font-family: "BebasNeue Bold", "Colfax Regular", "Roboto", Arial, Tahoma, sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 2px; }

.roboto {
  font-family: "Roboto", Arial, Tahoma, sans-serif !important; }

.lato-l {
  font-family: "Lato Light", sans-serif !important;
  font-weight: 300 !important; }

.lato-b {
  font-family: "Lato Bold", sans-serif !important;
  font-weight: 700 !important; }

.btn_row {
  text-align: center;
  margin-bottom: 0 !important;
  max-width: 1220px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.btn_row.left {
  text-align: left !important; }

.CE_home--page button:after,
.CE_home--page button:hover:after,
.CE_1_of_6_jobs--page button:after,
.CE_1_of_6_jobs--page button:hover:after,
.CE_vacancy_overview--page button:after,
.CE_vacancy_overview--page button:hover:after,
.CE_vacancy_detail--page button:after,
.CE_vacancy_detail--page button:hover:after {
  width: 0 !important;
  height: 0 !important;
  background: transparent !important; }

a.btn,
button.btn {
  display: inline-block !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-align: center !important;
  font-family: "Colfax Medium" !important;
  width: 100%;
  max-width: 100%;
  border: none;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  -webkit-transition: all 0.3s ease-in-out 0s !important;
  transition: all 0.3s ease-in-out 0s !important; }
  @media (max-width: 991px) {
    a.btn,
    button.btn {
      line-height: 1.5; } }

a.btn:nth-child(2),
button.btn:nth-child(2) {
  margin-left: 15px; }
  @media (max-width: 767px) {
    a.btn:nth-child(2),
    button.btn:nth-child(2) {
      margin-left: 0px; } }

a.btn:hover,
button.btn:hover {
  color: #ffffff;
  cursor: pointer; }

a.btn-rounded,
button.btn-rounded {
  -webkit-border-radius: 10px;
          border-radius: 10px; }

a.btn-outlined,
button.btn-outlined {
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff; }

a.btn-outlined.btn-pink:hover,
button.btn-outlined.btn-pink:hover {
  border-color: #01498E; }

a.btn-outlined.btn-blue:hover,
button.btn-outlined.btn-blue:hover {
  border-color: #E51E54; }

a.btn-outlined.btn-silver,
button.btn-outlined.btn-silver {
  border-color: #000000; }

a.btn-outlined.btn-silver:hover,
button.btn-outlined.btn-silver:hover {
  border-color: #E51E54; }

a.btn-invert.btn-outlined.btn-pink,
button.btn-invert.btn-outlined.btn-pink {
  border-color: #E51E54; }

a.btn-invert.btn-outlined.btn-pink:hover,
button.btn-invert.btn-outlined.btn-pink:hover {
  border-color: #E51E54; }

a.btn-invert.btn-outlined.btn-blue,
button.btn-invert.btn-outlined.btn-blue {
  border-color: #01498E; }

a.btn-invert.btn-outlined.btn-blue:hover,
button.btn-invert.btn-outlined.btn-blue:hover {
  border-color: #01498E; }

a.btn-invert.btn-outlined.btn-silver,
button.btn-invert.btn-outlined.btn-silver {
  border-color: #000000; }

a.btn-invert.btn-outlined.btn-silver:hover,
button.btn-invert.btn-outlined.btn-silver:hover {
  border-color: #E51E54; }

a.btn-pink,
button.btn-pink {
  background-color: #E51E54; }

a.btn-pink:hover,
button.btn-pink:hover {
  background-color: #01498E; }

a.btn-blue,
button.btn-blue {
  background-color: #01498E; }

a.btn-blue:hover,
button.btn-blue:hover {
  background-color: #E51E54; }

a.btn-silver,
button.btn-silver {
  color: #000000;
  background-color: #B1ADAF; }

a.btn-silver:hover,
button.btn-silver:hover {
  color: #ffffff;
  background-color: #E51E54; }

a.btn-pink.btn-invert,
button.btn-pink.btn-invert {
  color: #E51E54;
  background-color: transparent; }

a.btn-pink.btn-invert:hover,
button.btn-pink.btn-invert:hover {
  color: #ffffff;
  background-color: #E51E54; }

a.btn-blue.btn-invert,
button.btn-blue.btn-invert {
  color: #01498E;
  background-color: transparent; }

a.btn-blue.btn-invert:hover,
button.btn-blue.btn-invert:hover {
  color: #ffffff;
  background-color: #01498E; }

a.btn-silver.btn-invert,
button.btn-silver.btn-invert {
  color: #000000;
  background-color: transparent; }

a.btn-silver.btn-invert:hover,
button.btn-silver.btn-invert:hover {
  color: #ffffff;
  background-color: #E51E54; }

a.btn-small,
button.btn-small {
  padding: 7px 10px;
  max-width: 250px; }
  @media (max-width: 767px) {
    a.btn-small,
    button.btn-small {
      max-width: 100%;
      padding: 7px; } }

a.btn-medium,
button.btn-medium {
  padding: 12px 10px;
  max-width: 330px; }
  @media (max-width: 767px) {
    a.btn-medium,
    button.btn-medium {
      max-width: 100%;
      padding: 9px; } }

a.btn-large,
button.btn-large {
  padding: 20px 10px;
  max-width: 350px;
  font-size: 30px; }
  @media (max-width: 767px) {
    a.btn-large,
    button.btn-large {
      max-width: 100%;
      padding: 12px; } }

/* ---------------------- START styl for INPUTs ---------------------- */
.inp {
  font-size: 19px !important;
  width: 100% !important; }

.CE_home--page input,
.CE_home--page input:focus,
.CE_1_of_6_jobs--page input,
.CE_1_of_6_jobs--page input:focus,
.CE_vacancy_overview--page input,
.CE_vacancy_overview--page input:focus,
.CE_vacancy_detail--page input,
.CE_vacancy_detail--page input:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
  background: transparent !important;
  background-color: transparent !important; }

.inp::-webkit-input-placeholder {
  font-family: "Colfax Medium"; }

.inp::-moz-placeholder {
  font-family: "Colfax Medium"; }

.inp:-ms-input-placeholder {
  font-family: "Colfax Medium"; }

.inp::placeholder {
  font-family: "Colfax Medium"; }

.inp-rounded {
  -webkit-border-radius: 10px !important;
          border-radius: 10px !important; }

.inp-outlined {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #ffffff !important; }

.inp-blue {
  border-color: #01498E !important; }

.inp-pink {
  border-color: #E51E54 !important; }

.inp-small {
  padding: 7px 10px !important; }

.inp-medium {
  padding: 12px 10px !important; }

.inp-large {
  padding: 20px 10px !important; }

@media (max-width: 767px) {
  .inp-small,
  .inp-medium,
  .inp-large {
    padding: 12px !important; } }

/* ----------------------  END  styl for INPUTs ---------------------- */
.width-100-perc {
  max-width: 100% !important; }

.width-95-perc {
  max-width: 95% !important; }
  @media (max-width: 767px) {
    .width-95-perc {
      max-width: 100% !important; } }

.width-90-perc {
  max-width: 90% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-90-perc {
      max-width: 93% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-90-perc {
      max-width: 96% !important; } }
  @media (max-width: 767px) {
    .width-90-perc {
      max-width: 100% !important; } }

.width-85-perc {
  max-width: 85% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-85-perc {
      max-width: 90% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-85-perc {
      max-width: 95% !important; } }
  @media (max-width: 767px) {
    .width-85-perc {
      max-width: 100% !important; } }

.width-80-perc {
  max-width: 80% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-80-perc {
      max-width: 87% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-80-perc {
      max-width: 94% !important; } }
  @media (max-width: 767px) {
    .width-80-perc {
      max-width: 100% !important; } }

.width-75-perc {
  max-width: 75% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-75-perc {
      max-width: 84% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-75-perc {
      max-width: 93% !important; } }
  @media (max-width: 767px) {
    .width-75-perc {
      max-width: 100% !important; } }

.width-70-perc {
  max-width: 70% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-70-perc {
      max-width: 80% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-70-perc {
      max-width: 90% !important; } }
  @media (max-width: 767px) {
    .width-70-perc {
      max-width: 100% !important; } }

.width-65-perc {
  max-width: 65% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-65-perc {
      max-width: 77% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-65-perc {
      max-width: 89% !important; } }
  @media (max-width: 767px) {
    .width-65-perc {
      max-width: 100% !important; } }

.width-60-perc {
  max-width: 60% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-60-perc {
      max-width: 72% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-60-perc {
      max-width: 87% !important; } }
  @media (max-width: 767px) {
    .width-60-perc {
      max-width: 100% !important; } }

.width-55-perc {
  max-width: 55% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-55-perc {
      max-width: 70% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-55-perc {
      max-width: 85% !important; } }
  @media (max-width: 767px) {
    .width-55-perc {
      max-width: 100% !important; } }

.width-50-perc {
  max-width: 50% !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    .width-50-perc {
      max-width: 66% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .width-50-perc {
      max-width: 82% !important; } }
  @media (max-width: 767px) {
    .width-50-perc {
      max-width: 100% !important; } }

.width-100-perc,
.width-95-perc,
.width-90-perc,
.width-85-perc,
.width-80-perc,
.width-75-perc,
.width-70-perc,
.width-65-perc,
.width-60-perc,
.width-55-perc,
.width-50-perc {
  margin-left: auto;
  margin-right: auto; }

.rotate90 {
  -webkit-transform: rotate(90deg) !important;
      -ms-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important; }

.rotate180 {
  -webkit-transform: rotate(180deg) !important;
      -ms-transform: rotate(180deg) !important;
          transform: rotate(180deg) !important; }

.rotate270 {
  -webkit-transform: rotate(270deg) !important;
      -ms-transform: rotate(270deg) !important;
          transform: rotate(270deg) !important; }

button.scroll_btn,
button.scroll_btn_next {
  cursor: pointer; }

button.scroll_btn + .wpb_wrapper,
button.scroll_btn_next + .wpb_wrapper {
  height: 0; }

#row_scroll,
#row_scroll.top150,
#row_scroll.top100,
#row_scroll.top50,
#row_scroll.top-50,
#row_scroll.top-100,
#row_scroll.top-150 {
  position: relative; }

#row_scroll.top350 {
  top: 350px !important; }

#row_scroll.top350 + div > div {
  margin-top: 350px !important; }

#row_scroll.top300 {
  top: 300px !important; }

#row_scroll.top300 + div > div {
  margin-top: 300px !important; }

#row_scroll.top250 {
  top: 250px !important; }

#row_scroll.top250 + div > div {
  margin-top: 250px !important; }

#row_scroll.top200 {
  top: 200px !important; }

#row_scroll.top200 + div > div {
  margin-top: 200px !important; }

#row_scroll.top150 {
  top: 150px !important; }

#row_scroll.top150 + div > div {
  margin-top: 150px !important; }

#row_scroll.top100 {
  top: 100px !important; }

#row_scroll.top100 + div > div {
  margin-top: 100px !important; }

#row_scroll.top50 {
  top: 50px !important; }

#row_scroll.top50 + div > div {
  margin-top: 50px !important; }

#row_scroll.top-50 {
  top: -50px !important; }

#row_scroll.top-50 + div > div {
  margin-top: -50px !important; }

#row_scroll.top-50.overlap + div > div {
  margin-top: -140px !important; }

#row_scroll.top-100 {
  top: -100px !important; }

#row_scroll.top-100 + div > div {
  margin-top: -100px !important; }

#row_scroll.top-100.overlap + div > div {
  margin-top: -190px !important; }

#row_scroll.top-150 {
  top: -150px !important; }

#row_scroll.top-150 + div > div {
  margin-top: -150px !important; }

#row_scroll.top-150.overlap + div > div {
  margin-top: -240px !important; }

#row_scroll.top-200 {
  top: -200px !important; }

#row_scroll.top-200 + div > div {
  margin-top: -200px !important; }

#row_scroll.top-200.overlap + div > div {
  margin-top: -290px !important; }

#row_scroll.top-250 {
  top: -250px !important; }

#row_scroll.top-250 + div > div {
  margin-top: -250px !important; }

#row_scroll.top-250.overlap + div > div {
  margin-top: -340px !important; }

#row_scroll.top-300 {
  top: -300px !important; }

#row_scroll.top-300 + div > div {
  margin-top: -300px !important; }

#row_scroll.top-300.overlap + div > div {
  margin-top: -390px !important; }

#row_scroll.top-350 {
  top: -350px !important; }

#row_scroll.top-350 + div > div {
  margin-top: -350px !important; }

#row_scroll.top-350.overlap + div > div {
  margin-top: -440px !important; }

#row_scroll.absolute {
  position: absolute; }

/* --------------- START #section--row_scroll_down --------------- */
#section--row_scroll_top,
#row_scroll_top,
#section--row_scroll_down {
  width: 75px !important;
  margin-left: auto !important;
  margin-right: auto !important; }

#section--row_scroll_down.the_team #row_scroll button.scroll_btn,
#section--row_scroll_down.vacancies #row_scroll button.scroll_btn,
#section--row_scroll_down #row_scroll button.scroll_btn_next {
  margin-left: 0 !important;
  margin-bottom: 0 !important;
  position: relative;
  top: -60px; }

@media (min-width: 1201px) {
  #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
    left: -57px; } }

@media (min-width: 991px) and (max-width: 1999px) {
  #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
    left: -55px; } }

@media (max-width: 767px) {
  #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
    left: -30px; } }

#section--row_scroll_down.vacancies #row_scroll button.scroll_btn {
  left: -25px; }
  @media (max-width: 767px) {
    #section--row_scroll_down.vacancies #row_scroll button.scroll_btn {
      left: -20px; } }

#section--row_scroll_down #row_scroll button.scroll_btn_next {
  left: -7px; }
  @media (max-width: 767px) {
    #section--row_scroll_down #row_scroll button.scroll_btn_next {
      left: -2px; } }

/* ---------------  END  #section--row_scroll_down --------------- */
#row_scroll {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  z-index: 99;
  margin-left: auto !important;
  margin-right: auto !important; }

.scroll_btn_for_slider,
#row_scroll button.scroll_btn,
#row_scroll button.scroll_btn_next {
  font-size: 21px !important;
  line-height: 21px !important;
  font-family: "BebasNeue Regular", "Colfax Regular", "Roboto", Arial, Tahoma, sans-serif !important;
  text-transform: uppercase !important;
  letter-spacing: 5px !important;
  display: inline-block !important;
  background-color: transparent !important;
  border: none !important; }
  @media (max-width: 767px) {
    .scroll_btn_for_slider,
    #row_scroll button.scroll_btn,
    #row_scroll button.scroll_btn_next {
      font-size: 17px !important;
      line-height: 17px !important; } }

#row_scroll button.scroll_btn,
#row_scroll button.scroll_btn_next {
  white-space: nowrap;
  margin-left: 2px !important;
  margin-bottom: 35px !important; }
  @media (max-width: 767px) {
    #row_scroll button.scroll_btn,
    #row_scroll button.scroll_btn_next {
      margin-left: -2px !important; } }

#row_scroll button.scroll_btn,
#row_scroll button.scroll_btn:after,
#row_scroll button.scroll_btn:before,
#row_scroll button.scroll_btn:hover,
#row_scroll button.scroll_btn:hover,
#row_scroll button.scroll_btn:hover:after,
#row_scroll button.scroll_btn:hover:before,
#row_scroll button.scroll_btn_next,
#row_scroll button.scroll_btn_next,
#row_scroll button.scroll_btn_next:after,
#row_scroll button.scroll_btn_next:before,
#row_scroll button.scroll_btn_next:hover,
#row_scroll button.scroll_btn_next:hover,
#row_scroll button.scroll_btn_next:hover:after,
#row_scroll button.scroll_btn_next:hover:before {
  content: '' !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  -webkit-box-shadow: 0 0 0 0 transparent !important;
          box-shadow: 0 0 0 0 transparent !important;
  background-image: none !important;
  background-color: transparent !important; }

#row_scroll button.scroll_btn.sd_blue,
#row_scroll button.scroll_btn_next.sd_blue {
  color: #01498E !important; }

#row_scroll button.scroll_btn.sd_white,
#row_scroll button.scroll_btn_next.sd_white {
  color: #ffffff !important; }

.vr-line {
  position: relative;
  margin-top: 100px;
  height: 10px; }

.vr-line:before {
  content: '';
  position: absolute;
  top: -100px;
  left: -webkit-calc(50% - 2px);
  left: calc(50% - 2px);
  width: 2px;
  height: 100px; }

.vr-line.h50:before {
  height: 50px !important; }

.vr-line.h75:before {
  height: 75px !important; }

.vr-line:after {
  content: '';
  position: absolute;
  left: -webkit-calc(50% - 7px);
  left: calc(50% - 7px);
  width: 0;
  height: 0;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important; }

.vr-line.vr-top:after {
  top: -105px;
  border-bottom: 12px solid #01498E; }

.vr-line.vr-bottom:after {
  top: 0px;
  border-top: 12px solid #01498E; }

.vr-line.vr-blue:before {
  background-color: #01498E !important; }

.vr-line.vr-blue:after {
  border-color: #01498E !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important; }

.vr-line.vr-white:before {
  background-color: #ffffff !important; }

.vr-line.vr-white:after {
  border-color: #ffffff !important;
  border-left-color: transparent !important;
  border-right-color: transparent !important; }

.CE_1_of_6_jobs--page #Content .stars {
  width: 116px;
  height: 20px; }

.CE_1_of_6_jobs--page #Content .stars div {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star.svg");
  background-size: cover; }

.CE_1_of_6_jobs--page #Content .stars.of_1_5 div:nth-child(1) {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg") !important; }

.CE_1_of_6_jobs--page #Content .stars.of_2_5 div:nth-child(1),
.CE_1_of_6_jobs--page #Content .stars.of_2_5 div:nth-child(2) {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg") !important; }

.CE_1_of_6_jobs--page #Content .stars.of_3_5 div:nth-child(1),
.CE_1_of_6_jobs--page #Content .stars.of_3_5 div:nth-child(2),
.CE_1_of_6_jobs--page #Content .stars.of_3_5 div:nth-child(3) {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg") !important; }

.CE_1_of_6_jobs--page #Content .stars.of_4_5 div:nth-child(1),
.CE_1_of_6_jobs--page #Content .stars.of_4_5 div:nth-child(2),
.CE_1_of_6_jobs--page #Content .stars.of_4_5 div:nth-child(3),
.CE_1_of_6_jobs--page #Content .stars.of_4_5 div:nth-child(4) {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg") !important; }

.CE_1_of_6_jobs--page #Content .stars.of_5_5 div:nth-child(1),
.CE_1_of_6_jobs--page #Content .stars.of_5_5 div:nth-child(2),
.CE_1_of_6_jobs--page #Content .stars.of_5_5 div:nth-child(3),
.CE_1_of_6_jobs--page #Content .stars.of_5_5 div:nth-child(4),
.CE_1_of_6_jobs--page #Content .stars.of_5_5 div:nth-child(5) {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg") !important; }

/* ---------------- START custom--meet_our_team ---------------- */
#custom--meet_our_team .photo--tiles {
  text-align: center;
  max-width: 1548px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 0 !important;
  background-color: #D9E0E6; }

#custom--meet_our_team .photo--tiles h4 {
  font-size: 40px;
  line-height: 40px;
  font-family: "Colfax Bold" !important;
  word-break: break-word; }

#custom--meet_our_team .photo--tiles .photo--tile_bgi > div.vc_column-inner,
#custom--meet_our_team .photo--tiles .photo--tile_bgi > div.vc_column-inner > div.wpb_wrapper,
#custom--meet_our_team .photo--tiles .photo--tile_bgi > div.vc_column-inner > div.wpb_wrapper > div.photo--tile,
#custom--meet_our_team .photo--tiles .photo--tile_bgi > div.vc_column-inner > div.wpb_wrapper > div.photo--tile > div.wpb_wrapper {
  height: 100%; }

#custom--meet_our_team .photo--tiles .photo--tile {
  position: relative;
  margin-bottom: 0; }

#custom--meet_our_team .photo--tiles .photo--tile_bgi > .vc_column-inner {
  background-position: center center !important; }
  @media (min-width: 1200px) {
    #custom--meet_our_team .photo--tiles .photo--tile_bgi > .vc_column-inner {
      background-position: center bottom !important; } }

.photo--tile .vc_column-inner {
  background-position: top center !important; }

#custom--meet_our_team .photo--tiles .photo--tile * {
  color: #ffffff; }

#custom--meet_our_team .photo--tiles .photo--tile .after {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 73, 142, 0.8);
  padding: 65px 40px;
  margin-bottom: 0 !important;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s !important;
          transition-duration: 0.3s !important;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

#custom--meet_our_team .photo--tiles .photo--tile:hover .after {
  opacity: 1; }

#custom--meet_our_team .photo--tiles .photo--tile .position p {
  text-transform: uppercase;
  font-size: 15px; }

#custom--meet_our_team .photo--tiles .photo--tile .soc_link {
  height: 70px;
  text-align: center;
  display: table;
  width: 100%; }

#custom--meet_our_team .photo--tiles .photo--tile .soc_link .soc_link--wrap {
  display: table-cell;
  vertical-align: middle; }

#custom--meet_our_team .photo--tiles .photo--tile .soc_link a {
  display: inline-block;
  vertical-align: middle;
  font-size: 22px;
  width: 40px;
  height: 40px;
  padding: 6px;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  @media (max-width: 768px) {
    #custom--meet_our_team .photo--tiles .photo--tile .soc_link a {
      padding: 9px; } }

#custom--meet_our_team .photo--tiles .photo--tile .soc_link a i {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#custom--meet_our_team .photo--tiles .photo--tile .soc_link a:hover i {
  color: #E51E54; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info {
  min-height: 100px; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info p {
  font-size: 16px;
  position: relative;
  width: 86%;
  margin-left: auto;
  margin-right: auto; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info p,
#custom--meet_our_team .photo--tiles .photo--tile .some_info p * {
  line-height: 2 !important; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info p span {
  display: inline-block;
  vertical-align: baseline;
  width: 40px;
  height: 10px;
  line-height: 0.3 !important;
  position: relative; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info p span img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -30px;
  left: 0; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info p span:first-child {
  top: 8px;
  margin-left: -40px;
  margin-right: 3px; }

#custom--meet_our_team .photo--tiles .photo--tile .some_info p span:last-child {
  top: 25px;
  margin-left: 5px;
  margin-right: -40px; }

/* ----------------  END  custom--meet_our_team ---------------- */
