@font-face {
	font-family: 'BebasNeue Regular';
	src: url('../fonts/BebasNeueRegular.eot');
	src: local('☺'), url('../fonts/BebasNeueRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue Bold';
	src: url('../fonts/BebasNeueBold.eot');
	src: local('☺'), url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Light';
	src: url('../fonts/LatoLight.eot');
	src: local('☺'), url('../fonts/LatoLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/LatoBold.eot');
	src: local('☺'), url('../fonts/LatoBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}