@charset "UTF-8";
@font-face {
  font-family: 'BebasNeue Regular';
  src: url("../fonts/BebasNeueRegular.eot");
  src: local("☺"), url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeueBold.eot");
  src: local("☺"), url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/LatoLight.eot");
  src: local("☺"), url("../fonts/LatoLight.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/LatoBold.eot");
  src: local("☺"), url("../fonts/LatoBold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Colfax Medium';
  font-style: normal;
  font-weight: 400;
  src: local("Colfax Medium"), url(../fonts/Colfax-Medium.woff) format("woff"); }

@font-face {
  font-family: 'Colfax Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Colfax Regular"), url(../fonts/Colfax-Regular.woff) format("woff"); }

@font-face {
  font-family: 'Colfax Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Colfax Bold"), url(../fonts/Colfax-Bold.woff) format("woff"); }

@font-face {
  font-family: 'AbrilFatface Regular';
  font-style: normal;
  font-weight: 400;
  src: local("AbrilFatface Regular"), url(../fonts/AbrilFatface-Regular.woff) format("woff"); }

@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon.eot?uaxz2s);
  src: url(../fonts/icomoon.eot?uaxz2s#iefix) format("embedded-opentype"), url(../fonts/icomoon.woff?uaxz2s) format("woff"), url(../fonts/icomoon.svg?uaxz2s#icomoon) format("svg");
  font-weight: 400;
  font-style: normal; }

[class*=" icom-"],
[class^=icom-] {
  font-family: icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#sc-meet-our-team .arrow {
  text-transform: uppercase; }

.icom-long-vr-arrow:before {
  content: "\e905"; }

.icom-long-hr-arrow:before {
  content: "\e904"; }

.icom-quote-right:before {
  content: "\e902"; }

.icom-quote-left:before {
  content: "\e903"; }

.icom-home:before {
  content: "\e901"; }

.icom-arrow-right:before {
  content: "\e900"; }
