#ce-success-stories-gallery,
#sc-intro {
	z-index: 1
}

.colfax-b {
	font-family: "Colfax Bold", sans-serif!important
}

.colfax-m {
	font-family: "Colfax Medium", sans-serif!important
}

@font-face {
	font-family: 'Colfax Medium';
	font-style: normal;
	font-weight: 400;
	src: local("Colfax Medium"), url(../fonts/Colfax-Medium.woff) format("woff")
}

@font-face {
	font-family: 'Colfax Regular';
	font-style: normal;
	font-weight: 400;
	src: local("Colfax Regular"), url(../fonts/Colfax-Regular.woff) format("woff")
}

@font-face {
	font-family: 'Colfax Bold';
	font-style: normal;
	font-weight: 400;
	src: local("Colfax Bold"), url(../fonts/Colfax-Bold.woff) format("woff")
}

@font-face {
	font-family: 'AbrilFatface Regular';
	font-style: normal;
	font-weight: 400;
	src: local("AbrilFatface Regular"), url(../fonts/AbrilFatface-Regular.woff) format("woff")
}

@font-face {
	font-family: icomoon;
	src: url(../fonts/icomoon.eot?uaxz2s);
	src: url(../fonts/icomoon.eot?uaxz2s#iefix) format("embedded-opentype"), url(../fonts/icomoon.woff?uaxz2s) format("woff"), url(../fonts/icomoon.svg?uaxz2s#icomoon) format("svg");
	font-weight: 400;
	font-style: normal
}

[class*=" icom-"],
[class^=icom-] {
	font-family: icomoon!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}


#sc-meet-our-team .arrow {
	text-transform: uppercase
}

.icom-long-vr-arrow:before {
	content: "\e905"
}

.icom-long-hr-arrow:before {
	content: "\e904"
}

.icom-quote-right:before {
	content: "\e902"
}

.icom-quote-left:before {
	content: "\e903"
}

.icom-home:before {
	content: "\e901"
}

.icom-arrow-right:before {
	content: "\e900"
}

#menu .menu-item a {
	font-family: "Colfax Medium"
}

#menu .menu-item .description {
	display: none
}

.is-sticky #menu-main-menu > li {
	margin-top: 10px!important
}

#menu-main-menu .menu-item span.description {
	display: none!important
}

@media (min-width:1240px) {
	#menu .menu-item a {
		font-size: 16px
	}
	#menu-main-menu > li.submenu {
		height: 70px
	}
	#menu-main-menu > li:last-child span {
		background: #144384
	}
}

#menu-main-menu > li span {
	padding: 0 15px!important;
	height: 40px;
	line-height: 40px!important
}

#Footer .one-third:first-child li a,
#Footer .one-third:last-child address {
	font-family: "Colfax Medium";
	letter-spacing: -1px;
	line-height: 1.3
}

@media (min-width:1240px) {
	#menu-main-menu > .current-menu-item > a > span {
		padding: 0!important;
		margin: 0 15px
	}
	#Top_bar:not(.is-sticky) {
		top: 0!important
	}
}

#menu-main-menu > .current-menu-item .menu-toggle {
	display: none
}

#menu-main-menu > .current-menu-parent {
	height: 70px
}

#menu-main-menu .sub-menu .current-menu-item a > span:after,
#menu-main-menu > .current-menu-item > a span:after,
#menu-main-menu > .current-menu-parent > a span:after {
	content: '';
	display: block;
	height: 2px;
	width: 100%;
	background: #e51e54;
	margin-left: -2px
}

#menu-main-menu .sub-menu a > span {
	padding: 0!important
}

#Top_bar .menu > li > a span {
	padding: 0 15px!important
}



#Footer .widgets_wrapper {
	padding-bottom: 0!important
}

@media (max-width:767px) {
	#Footer .container .column,
	#Footer .container .column address,
	#Footer .container .column h4 {
		text-align: center
	}
}

#Footer .one-third:first-child li a {
	font-size: 19px
}

#Footer .one-third:nth-child(2) {
	text-align: center
}

#Footer .one-third:nth-child(2) img {
	zoom: .8
}

#Footer .one-third:last-child {
	text-align: right
}

@media (min-width:768px) {
	#Footer .container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	#Footer .one-third:first-child {
		width: 23%
	}
	#Footer .one-third:nth-child(2) {
		width: 48%
	}
	#Footer .one-third:last-child {
		width: 23%
	}
}

#Footer .one-third:last-child address {
	font-size: 19px
}

#Footer .social-links {
	text-align: center
}

#Footer .social-links li {
	display: inline-block;
	margin: 0 8px;
	vertical-align: top
}

#Footer .footer_copy #back_to_top,
#Footer .social-links a span:before {
	margin: 0
}

#Footer .social-links li:first-child {
	margin-left: 0
}

#Footer .social-links li:last-child a {
	font-size: 19px
}

#Footer .social-links a {
	height: 45px;
	width: 45px;
	color: #000!important;
	font-size: 15px;
	background: #939393;
	border-radius: 45px;
	transition: color .4s, background .4s;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

#Footer .social-links a:hover {
	color: #fff!important;
	background: #e51e54
}

#Footer .footer_copy {
	border-top: none!important
}

#Footer .footer_copy .container > .column {
	padding-top: 50px!important
}

#Footer .before-copyright {
	border-top: 1px solid rgba(135, 135, 134, .6);
	padding-top: 23px
}

@media (min-width:960px) {
	#Footer .one-third:nth-child(2) img {
		zoom: 1
	}
	#Footer .social-links {
		text-align: left
	}
	#Footer .before-copyright {
		font-size: 15px
	}
}

#Footer .before-copyright .pull-left {
	float: none
}

#Footer .before-copyright .adecco-group {
	text-align: center;
	margin: 25px 0
}

@media (min-width:768px) {
	#Footer .before-copyright {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	#Footer .before-copyright .pull-left {
		width: 40%;
		float: left
	}
	#Footer .before-copyright .adecco-group {
		width: 20%;
		margin: 0
	}
}

#Footer .before-copyright .pull-right {
	float: none
}

@media (min-width:768px) {
	#Footer .before-copyright .pull-right {
		width: 40%;
		text-align: right;
		float: right
	}
}

#Footer .before-copyright .pull-right li {
	display: inline-block;
	margin: 0 5px
}

#Footer .before-copyright .pull-right a {
	font-size: 15px
}


#ce-job-functions-intro h2,
#ce-job-functions-intro h4,
#ce-job-functions-intro p,
#ce-select-deploy-train h2,
#ce-select-deploy-train h4,
#ce-select-deploy-train p,
#sc-intro address,
#sc-intro h2,
#sc-intro h4,
#subscription h4 {
	color: #fff
}


#subscription h4 {
	font-size: 16px
}

@media (min-width:480px) {
	#subscription h4 {
		font-size: 21px
	}
}

#subscription form {
	display: block
}

#subscription form input[type=submit] {
	position: absolute;
	color: transparent;
	background: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/05/arrow-right.png) center no-repeat;
	margin: 0 0 0 -55px;
	right: 0;
	outline: 0;
	top: calc(50% - 19px)
}

#subscription form input[type=email] {
	background: 0 0;
	border: none;
	border-bottom: 1px solid #fff;
	padding: 0 60px 0 0;
	color: #fff;
	font-size: 22px
}

@media (min-width:480px) and (max-width:767px) {
	#subscription form input[type=email] {
		font-size: 36px
	}
	#ce-job-functions-intro .vc_column-inner {
		max-width: 90%
	}
}

@media (min-width:768px) and (max-width:959px) {
	#subscription form input[type=email] {
		font-size: 56px
	}
}

@media (min-width:960px) and (max-width:1239px) {
	#subscription form input[type=email] {
		font-size: 76px
	}
}

@media (min-width:1240px) {
	#subscription form input[type=email] {
		font-size: 86px
	}
}

#subscription form input[type=email]:focus {
	background: 0 0!important
}

#subscription form input[type=email]::-webkit-input-placeholder {
	color: #144384
}

#subscription form input[type=email]::-moz-placeholder {
	color: #144384
}

#subscription form input[type=email]:-moz-placeholder {
	color: #144384
}

#subscription form input[type=email]:-ms-input-placeholder {
	color: #144384
}

#ce-job-functions-intro {
	overflow: visible;
	top: -30px
}

@media (min-width:768px) {
	#ce-job-functions-intro {
		top: -75px
	}
}

#ce-job-functions-intro img,
#sc-intro .scroll-img img {
	top: -80px;
	position: relative
}

@media (max-width:399px) {
	#ce-job-functions-intro .scroll-img {
		visibility: hidden
	}
}

#ce-job-functions-intro .vc_column-inner {
	background: #01498e;
	margin: 0 auto;
	text-align: center;
	padding: 0 15px 120px
}

#ce-job-list .wpb_wrapper,
#ce-job-list .wpb_wrapper .wpb_raw_code {
	margin: 0
}

@media (min-width:768px) {
	#ce-job-functions-intro .vc_column-inner {
		max-width: 80%
	}
}

#ce-job-list .wpb_wrapper .wpb_wrapper {
	text-align: center;
	padding: 115px 0 80px
}

#ce-job-list .vc_column-inner {
	padding-top: 0
}

@media (min-width:992px) and (max-width:1199px) {
/*
	#ce-job-list .wpb_column > div {
		background: 0!important
	}
*/
	#ce-job-list .wpb_column:nth-child(2),
	#ce-job-list .wpb_column:nth-child(3),
	#ce-job-list .wpb_column:nth-child(6) {
		background: #f4f4f4!important
	}
}

@media (min-width:1200px) {
	#ce-job-list h2 {
		font-size: 50px
	}
}

@media (min-width:1380px) {
	#ce-job-list h2 {
		font-size: 60px
	}
}

#ce-job-list h4 {
	color: #b1adaf
}

#ce-select-deploy-train {
	min-height: 100vh;
	display: table
}

#ce-select-deploy-train > div {
	display: table-cell;
	vertical-align: middle
}

#ce-select-deploy-train h2 {
	margin-bottom: 25px
}

#ce-select-deploy-train p {
	margin-bottom: 45px
}

#ce-select-deploy-train .spring-btn {
	margin: 8px 0
}

@media (min-width:480px) {
	#ce-select-deploy-train .spring-btn {
		margin: 8px 15px
	}
}

#ce-browse-job h2,
#ce-browse-job h4 {
	margin-bottom: 25px
}

#ce-browse-job p {
	margin-bottom: 60px
}

#sc-intro {
	overflow: visible;
	margin-top: -75px
}

#sc-intro .vc_column-inner {
	background: #01498e;
	margin: 0 auto 120px;
	text-align: center;
	padding: 0
}

#sc-intro .wpb_raw_code {
	margin: 0
}

#sc-intro h2 {
	margin-bottom: 30px
}

#sc-intro address {
	margin-bottom: 125px;
	font-size: 16px;
	line-height: 1.8
}

@media (min-width:480px) and (max-width:767px) {
	#sc-intro .vc_column-inner {
		max-width: 90%
	}
	#sc-intro address {
		font-size: 18px
	}
}

@media (min-width:768px) {
	#sc-intro .vc_column-inner {
		max-width: 80%
	}
	#sc-intro address {
		font-size: 20px
	}
}

#sc-intro .vr-line {
	height: 15px;
	width: 3px;
	background: #e51e54;
	display: inline-block;
	margin: 0 7px
}

#sc-intro #g-map {
	height: 500px;
	width: 100%;
	margin: 0;
	background: #fff
}

@media (min-width:768px) and (max-width:1239px) {
	#sc-intro #g-map {
		height: 677px
	}
}

@media (min-width:1240px) {
	#sc-intro #g-map {
		height: 45vw
	}
}

#sc-intro .gm-style-cc,
#sc-intro .gm-style-mtc {
	display: none
}

#sc-contact-form {
	padding-top: 500px;
	overflow: visible;
	margin-top: -500px
}

#sc-contact-form form {
	display: block;
	max-width: 600px;
	margin: 0 auto 50px;
	padding-top: 60px
}

#sc-contact-form form span.first {
	margin-left: 0
}

#sc-contact-form form * {
	margin-bottom: 0;
	line-height: 1
}

#sc-contact-form form .message {
	display: block
}

#sc-contact-form form p {
	margin-bottom: 15px
}

#sc-contact-form input[type=radio] {
	display: none
}

#sc-contact-form input[type=radio]+span:before {
	content: '';
	display: inline-block;
	height: 16px;
	width: 16px;
	border-radius: 18px;
	box-sizing: border-box;
	margin-right: 8px;
	box-shadow: 0 0 0 3px #01498e
}

#sc-contact-form input[type=radio]:checked+span:before {
	border: 3px solid #fff;
	background: #01498e
}

#sc-contact-form input:not([type=submit]),
#sc-contact-form textarea {
	box-shadow: none;
	border: 3px solid #01498e;
	border-radius: 10px;
	font-family: "Colfax Medium";
	font-size: 16px;
	background: 0;
	padding: 15px 30px
}

@media (min-width:480px) and (max-width:767px) {
	#sc-contact-form input:not([type=submit]),
	#sc-contact-form textarea {
		font-size: 18px
	}
}

@media (min-width:768px) {
	#sc-contact-form input:not([type=submit]),
	#sc-contact-form textarea {
		font-size: 19px
	}
}

#sc-contact-form input:not([type=submit])::-webkit-input-placeholder {
	color: #999998
}

#sc-contact-form input:not([type=submit])::-moz-placeholder {
	color: #999998
}

#sc-contact-form input:not([type=submit]):-moz-placeholder {
	color: #999998
}

#sc-contact-form input:not([type=submit]):-ms-input-placeholder {
	color: #999998
}

#sc-contact-form textarea::-webkit-input-placeholder {
	color: #999998
}

#sc-contact-form textarea::-moz-placeholder {
	color: #999998
}

#sc-contact-form textarea:-moz-placeholder {
	color: #999998
}

#sc-contact-form textarea:-ms-input-placeholder {
	color: #999998
}

#sc-contact-form input[type=submit] {
	background: #e51e54;
	border-radius: 12px;
	box-shadow: none;
	max-width: 290px;
	display: block;
	margin: 0 auto;
	font: 400 16px/52px "Colfax Medium";
	padding: 0;
	width: 100%
}

@media (min-width:480px) and (max-width:767px) {
	#sc-contact-form input[type=submit] {
		font-size: 18px
	}
}

@media (min-width:768px) {
	#sc-contact-form input[type=submit] {
		font-size: 19px
	}
}









/* --------------- START Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* --------------- START Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* --------------- START Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* --------------- START Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/*
#sc-meet-our-team {
	padding-top: 140px;
	overflow: visible
}

#sc-meet-our-team .arrow {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	display: inline-block;
	position: relative;
	top: -160px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	color: #01498e
}

#sc-meet-our-team .arrow span {
	margin-left: 10px;
	font-size: 10px
}

#sc-meet-our-team .wpb_wrapper:hover > .after {
	visibility: visible;
	opacity: 1
}

@media (min-width:1200px) and (max-width:1550px) {
	#sc-meet-our-team .team:nth-of-type(5) > div {
		background-position: 0!important
	}
}

#sc-meet-our-team .after {
	text-align: center;
	visibility: hidden;
	opacity: 0;
	padding: 115px 15px 70px;
	transition: opacity .5s;
	background: rgba(1, 73, 142, .8)
}

@media (max-width:479px) {
	#sc-meet-our-team .icom-quote-left,
	#sc-meet-our-team .icom-quote-right {
		font-size: 30px
	}
	#sc-meet-our-team .after {
		padding: 45px 15px
	}
}

#sc-meet-our-team .after a,
#sc-meet-our-team .after h2,
#sc-meet-our-team .after h4 {
	color: #fff
}

@media (min-width:1200px) and (max-width:1550px) {
	#sc-meet-our-team .after {
		padding: 50px 15px 20px
	}
	#sc-meet-our-team .after h2 {
		font-size: 46px
	}
}

#sc-meet-our-team .after .soc_link a {
	display: inline-block;
	height: 45px;
	width: 45px;
	box-sizing: border-box;
	border: 3px solid #fff;
	border-radius: 45px;
	margin: 0 8px;
	line-height: 39px;
	font-size: 15px;
	transition: all .4s
}

#sc-meet-our-team .after .soc_link a:hover {
	background: #e51e54;
	border-color: #e51e54
}

#sc-meet-our-team .after .email,
#sc-meet-our-team .after .tel,
#sc-meet-our-team .after p {
	font-size: 16px;
	color: #fff
}

#sc-meet-our-team .after p {
	padding: 0 10%
}

#sc-meet-our-team .after .email {
	margin-bottom: 15px
}

#sc-meet-our-team .after .soc_link,
#sc-meet-our-team .after .tel {
	margin-bottom: 25px
}

#sc-meet-our-team .after,
#sc-meet-our-team .after p,
#sc-meet-our-team .wpb_raw_code {
	margin: 0
}

#sc-looking-for-talent {
	margin-top: -40px
}

#sc-looking-for-talent .vc_column-inner {
	background: #01498e;
	margin: 0 auto 120px;
	text-align: center;
	padding: 90px 0
}

@media (min-width:480px) and (max-width:767px) {
	#sc-meet-our-team .after .email,
	#sc-meet-our-team .after .tel,
	#sc-meet-our-team .after p {
		font-size: 18px
	}
	#sc-looking-for-talent .vc_column-inner {
		max-width: 90%
	}
}

@media (min-width:768px) {
	#sc-meet-our-team .after .email,
	#sc-meet-our-team .after .tel,
	#sc-meet-our-team .after p {
		font-size: 20px
	}
	#sc-looking-for-talent .vc_column-inner {
		max-width: 80%
	}
}
*/
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */












#sc-looking-for-talent h2,
#sc-looking-for-talent h4,
#sc-looking-for-talent p {
	color: #fff
}

#sc-looking-for-talent p {
	padding: 0 10%;
	margin-bottom: 50px
}

#sc-follow-us h4 {
	margin-bottom: 50px
}

#sc-follow-us .social-links {
	list-style: none;
	margin: 0 0 150px
}

#sc-follow-us .social-links li {
	display: inline-block;
	margin: 0
}

#sc-follow-us .social-links a {
	display: inline-block;
	height: 45px;
	width: 45px;
	background: #01498e;
	color: #fff;
	line-height: 45px;
	border-radius: 98px;
	transition: background .4s;
	font-size: 20px;
	margin: 0 6px
}

#sc-follow-us .social-links a:hover {
	background: #e51e54
}

@media (min-width:480px) and (max-width:767px) {
	#sc-follow-us .social-links a {
		height: 60px;
		width: 60px;
		line-height: 60px;
		font-size: 24px
	}
}

@media (min-width:768px) {
	#sc-follow-us .social-links a {
		height: 98px;
		width: 98px;
		line-height: 98px;
		font-size: 30px
	}
}

#ce-success-stories-intro {
	overflow: hidden;
	margin-bottom: 200px
}

#ce-success-stories-intro h4 {
	margin-bottom: 25px
}

#ce-success-stories-intro h2 {
	margin-bottom: 30px
}

#ce-success-stories-intro .icom-long-vr-arrow {
	color: #01498e;
	font-size: 120px;
	margin: -60px 0 130px 1px
}

#ce-success-stories-gallery > div {
	margin: 0 auto
}

@media (min-width:480px) and (max-width:1399px) {
	#ce-success-stories-gallery > div {
		max-width: 90%
	}
}

@media (min-width:1400px) {
	#ce-success-stories-gallery > div {
		max-width: 80%
	}
}

#ce-success-stories-gallery * {
	margin: 0;
	padding: 0
}

#ce-success-stories-gallery h2,
#ce-success-stories-gallery h4 {
	margin-bottom: 25px;
	color: #fff
}

@media (min-width:1200px) and (max-width:2020px) {
	#ce-success-stories-gallery h2 {
		font-size: 3vw
	}
}

#ce-success-stories-gallery .wpb_raw_code {
	min-height: 476px;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center
}

#ce-success-stories-gallery .wpb_raw_code > div {
	text-align: center;
	display: table;
	min-height: inherit
}

#ce-success-stories-gallery .wpb_raw_code .content {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px
}

#ce-success-stories-gallery .wpb_raw_code .content h2 {
	margin-bottom: 0
}

#ce-success-stories-gallery .wpb_raw_code .content.text {
	text-align: left;
	padding: 0 10%
}

#ce-success-stories-gallery .wpb_raw_code .content.text h2,
#ce-success-stories-gallery .wpb_raw_code .content.text h4 {
	color: #000
}

#ce-success-stories-gallery .wpb_raw_code .hover {
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s;
	background: rgba(1, 73, 142, .8);
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 0 15px
}

#ce-success-stories-gallery .wpb_raw_code:hover .hover {
	opacity: 1;
	visibility: visible
}

#ce-success-stories-gallery .vc_column-inner > .wpb_wrapper {
	height: 100%
}

#ce-success-stories-gallery .bg-logo > div {
	background-position: center!important
}

#ce-success-stories-references {
	margin-top: -140px;
	padding: 250px 0 200px
}

#ce-success-stories-coffe h2,
#ce-success-stories-references h2,
#ce-success-stories-references h4 {
	margin-bottom: 25px
}

#ce-success-stories-references p {
	margin-bottom: 125px
}

#ce-success-stories-coffe {
	top: -150px
}

#ce-success-stories-coffe h2,
#ce-success-stories-coffe h4,
#ce-success-stories-coffe p {
	color: #fff
}

#ce-success-stories-coffe p {
	margin-bottom: 55px
}

#ce-success-stories-coffe .vc_column-inner {
	background: #01498e;
	margin: 0 auto;
	text-align: center;
	padding: 90px 15px
}

@media (min-width:480px) and (max-width:767px) {
	#ce-success-stories-coffe .vc_column-inner {
		max-width: 90%
	}
}

@media (min-width:768px) {
	#ce-success-stories-coffe .vc_column-inner {
		max-width: 80%
	}
}

.bebas-r {
	font-family: "BebasNeue Regular"!important;
	letter-spacing: 2px
}

#subscription h4,
.bebas-b {
	font-family: "BebasNeue Bold"!important;
	font-weight: 700!important;
	letter-spacing: 2px
}

.lato-l {
	font-family: "Lato Light"!important;
	font-weight: 300!important
}

#subscription form input[type=email],
.lato-b {
	font-family: "Lato Bold"!important;
	font-weight: 700!important
}

.spring-btn {
	width: 100%;
	border-radius: 12px;
	border: 3px solid;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	font-family: "Colfax Medium";
	transition: all .4s
}

.spring-btn.medium {
	line-height: 46px;
	max-width: 290px;
	height: 52px;
	font-size: 16px
}

@media (min-width:480px) and (max-width:767px) {
	.spring-btn.medium {
		font-size: 18px
	}
}

@media (min-width:768px) {
	.spring-btn.medium {
		font-size: 19px
	}
}

.spring-btn.black {
	border-color: #000;
	color: #000
}

.spring-btn.black:hover {
	background: #000;
	color: #fff
}

.spring-btn.blue {
	border-color: #01498e;
	color: #01498e
}

.spring-btn.blue:hover {
	background: #01498e;
	color: #fff
}

.spring-btn.white {
	color: #fff;
	border-color: #fff
}

.spring-btn.white:hover {
	background: #fff;
	color: #000
}

.spring-btn.pink-filled {
	background: #e51e54;
	border-color: #e51e54;
	color: #fff
}

.spring-btn.pink-filled:hover {
	background: #01498e;
	border-color: #01498e
}

.spring-btn.center {
	margin: 0 auto
}

.owl_carousel .slide img {
	width: auto;
	display: inline-block
}

.owl_carousel .slide hr {
	margin: 60px 0
}

.owl_carousel .img-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.owl_carousel .img-row img {
	margin: 15px 0;
	width: 200px!important
}

@media (min-width:480px) {
	.owl_carousel .img-row {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row
	}
	.owl_carousel .img-row img {
		width: auto!important;
		max-width: 30%!important;
		margin: 0;
		max-height: 150px
	}
}

.owl_carousel .owl-dot span {
	background: #cbcbcb!important;
	border-radius: 0!important;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 0 22px!important
}

.owl_carousel .owl-dot.active span {
	background: #e51e54!important
}

.icom-quote-left,
.icom-quote-right {
	display: inline-block;
	/*display: block;*/
	color: #e51e54;
	font-size: 47px;
	line-height: 1.2
}

.icom-quote-left {
	text-align: left
}

.icom-quote-right {
	text-align: right
}

.m0 {
	margin: 0
}

.text-center {
	text-align: center
}

.scroll-img img {
	cursor: pointer
}

body h1,
body h2 {
	font-family: "Colfax Bold", sans-serif;
	letter-spacing: -2px;
	line-height: 1.2
}

body h2 {
	font-size: 30px
}

@media (min-width:480px) and (max-width:767px) {
	body h2 {
		font-size: 40px
	}
}

@media (min-width:768px) and (max-width:959px) {
	body h2 {
		font-size: 50px
	}
}

@media (min-width:960px) {
	body h2 {
		font-size: 60px
	}
}

body h4 {
	font-family: "Colfax Regular", sans-serif;
	font-size: 17px;
	color: #b1adaf
}

@media (min-width:480px) {
	body h4 {
		font-size: 19px
	}
}

body a:hover {
	text-decoration: none
}

body p {
	font-size: 16px;
	line-height: 1.8
}

@media (min-width:480px) and (max-width:767px) {
	body p {
		font-size: 18px
	}
}

@media (min-width:768px) {
	body p {
		font-size: 19px
	}
}