/* ------------------------ START some like BASE ------------------------ */
#subscription h4 {
  font-family: "BebasNeue Bold" !important;
  font-weight: 700 !important;
  letter-spacing: 2px; }

#subscription form input[type=email] {
  font-family: "Lato Bold" !important;
  font-weight: 700 !important; }

/* -------------- START style spring-btn -------------- */
.spring-btn {
  width: 100%;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  border: 3px solid;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  font-family: "Colfax Medium";
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.spring-btn.medium {
  line-height: 46px;
  max-width: 290px;
  height: 52px;
  font-size: 16px; }
  @media (min-width: 768px) {
    .spring-btn.medium {
      font-size: 19px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .spring-btn.medium {
      font-size: 18px; } }

.spring-btn.black {
  border-color: #000;
  color: #000; }

.spring-btn.black:hover {
  background: #000;
  color: #fff; }

.spring-btn.blue {
  border-color: #01498e;
  color: #01498e; }

.spring-btn.blue:hover {
  background: #01498e;
  color: #fff; }

.spring-btn.white {
  color: #fff;
  border-color: #fff; }

.spring-btn.white:hover {
  background: #fff;
  color: #000; }

.spring-btn.pink-filled {
  background: #E51E54;
  border-color: #E51E54;
  color: #fff; }

.spring-btn.pink-filled:hover {
  background: #01498e;
  border-color: #01498e; }

.spring-btn.center {
  margin: 0 auto; }

/* --------------  END  style spring-btn -------------- */
.owl_carousel .slide img {
  width: auto;
  display: inline-block; }

.owl_carousel .slide hr {
  margin: 60px 0; }

.owl_carousel .img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column; }

.owl_carousel .img-row img {
  margin: 15px 0;
  width: 200px !important; }

@media (min-width: 480px) {
  .owl_carousel .img-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
            flex-direction: row; }
  .owl_carousel .img-row img {
    width: auto !important;
    max-width: 30% !important;
    margin: 0;
    max-height: 150px; } }

.owl_carousel .owl-dot span {
  background: #cbcbcb !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  margin: 0 22px !important; }

.owl_carousel .owl-dot.active span {
  background: #E51E54 !important; }

.icom-quote-left,
.icom-quote-right {
  display: inline-block;
  /*display: block*/
  color: #E51E54;
  font-size: 47px;
  line-height: 1.2; }

.icom-quote-left {
  text-align: left; }

.icom-quote-right {
  text-align: right; }

.m0 {
  margin: 0; }

.text-center {
  text-align: center; }

.scroll-img img {
  cursor: pointer; }

body a:hover {
  text-decoration: none; }

/* ------------------------ END  some like BASE ------------------------ */
#menu .menu-item a {
  font-family: "Colfax Medium"; }

#menu .menu-item .description {
  display: none; }

.is-sticky #menu-main-menu > li {
  margin-top: 10px !important; }

#menu-main-menu .menu-item span.description {
  display: none !important; }

@media (min-width: 1240px) {
  #menu .menu-item a {
    font-size: 16px; }
  #menu-main-menu > li.submenu {
    height: 70px; }
  #menu-main-menu > li:last-child span {
    background: #144384; } }

#menu-main-menu > li span {
  padding: 0 15px !important;
  height: 40px;
  line-height: 40px !important; }

@media (min-width: 1240px) {
  #menu-main-menu > .current-menu-item > a > span {
    padding: 0 !important;
    margin: 0 15px; }
  #Top_bar:not(.is-sticky) {
    top: 0 !important; } }

#menu-main-menu > .current-menu-item .menu-toggle {
  display: none; }

#menu-main-menu > .current-menu-parent {
  height: 70px; }

#menu-main-menu .sub-menu .current-menu-item a > span:after,
#menu-main-menu > .current-menu-item > a span:after,
#menu-main-menu > .current-menu-parent > a span:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  background: #E51E54;
  margin-left: -2px; }

#menu-main-menu .sub-menu a > span {
  padding: 0 !important; }

#Top_bar .menu > li > a span {
  padding: 0 15px !important; }

#ce-job-functions-intro h2,
#ce-job-functions-intro h4,
#ce-job-functions-intro p,
#ce-select-deploy-train h2,
#ce-select-deploy-train h4,
#ce-select-deploy-train p,
#subscription h4 {
  color: #ffffff; }

#subscription h4 {
  font-size: 16px; }

@media (min-width: 480px) {
  #subscription h4 {
    font-size: 21px; } }

#subscription form {
  display: block; }

#subscription form input[type=submit] {
  position: absolute;
  color: transparent;
  background: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/05/arrow-right.png) center no-repeat;
  margin: 0 0 0 -55px;
  right: 0;
  outline: 0;
  top: -webkit-calc(50% - 19px);
  top: calc(50% - 19px); }

#subscription form input[type=email] {
  background: 0 0;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 60px 0 0;
  color: #fff;
  font-size: 22px; }

@media (min-width: 480px) and (max-width: 767px) {
  #subscription form input[type=email] {
    font-size: 36px; }
  #ce-job-functions-intro .vc_column-inner {
    max-width: 90%; } }

@media (min-width: 768px) and (max-width: 959px) {
  #subscription form input[type=email] {
    font-size: 56px; } }

@media (min-width: 960px) and (max-width: 1239px) {
  #subscription form input[type=email] {
    font-size: 76px; } }

@media (min-width: 1240px) {
  #subscription form input[type=email] {
    font-size: 86px; } }

#subscription form input[type=email]:focus {
  background: 0 0 !important; }

#subscription form input[type=email]::-webkit-input-placeholder {
  color: #144384; }

#subscription form input[type=email]::-moz-placeholder {
  color: #144384; }

#subscription form input[type=email]:-moz-placeholder {
  color: #144384; }

#subscription form input[type=email]:-ms-input-placeholder {
  color: #144384; }

#ce-job-functions-intro {
  overflow: visible;
  top: -30px; }

/*@media (min-width:768px)*/
/*#ce-job-functions-intro*/
/*top: -75px*/
/*}*/
/*}*/
#ce-job-functions-intro img {
  top: -80px;
  position: relative; }

@media (max-width: 399px) {
  #ce-job-functions-intro .scroll-img {
    visibility: hidden; } }

#ce-job-functions-intro .vc_column-inner {
  background: #01498e;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px 120px; }

#ce-job-list .wpb_wrapper,
#ce-job-list .wpb_wrapper .wpb_raw_code {
  margin: 0; }

@media (min-width: 768px) {
  #ce-job-functions-intro .vc_column-inner {
    max-width: 80%; } }

#ce-job-list .wpb_wrapper .wpb_wrapper {
  text-align: center;
  padding: 115px 90px 80px 90px; }

#ce-job-list .vc_column-inner {
  padding-top: 0; }

/* @media (min-width:992px) and (max-width:1199px)*/
/*	#ce-job-list .wpb_column > div */
/*		background: 0!important */
@media (min-width: 992px) and (max-width: 1199px) {
  #ce-job-list .wpb_column:nth-child(2),
  #ce-job-list .wpb_column:nth-child(3),
  #ce-job-list .wpb_column:nth-child(6) {
    background: #f4f4f4 !important; } }

@media (min-width: 1200px) {
  #ce-job-list h2 {
    font-size: 50px; } }

@media (min-width: 1380px) {
  #ce-job-list h2 {
    font-size: 60px; } }

#ce-job-list h4 {
  color: #b1adaf; }

#ce-select-deploy-train {
  min-height: 100vh;
  display: table; }

#ce-select-deploy-train > div {
  display: table-cell;
  vertical-align: middle; }

#ce-select-deploy-train h2 {
  margin-bottom: 25px; }

#ce-select-deploy-train p {
  margin-bottom: 45px; }

#ce-select-deploy-train .spring-btn {
  margin: 8px 0; }

@media (min-width: 480px) {
  #ce-select-deploy-train .spring-btn {
    margin: 8px 15px; } }

#ce-browse-job h2,
#ce-browse-job h4 {
  margin-bottom: 25px; }

#ce-browse-job p {
  margin-bottom: 60px; }

/* ------------------- START address ------------------- */
/* -------------------  END  address ------------------- */
/* -------------------------------------------------- START #Footer -------------------------------------------------- */
#Footer {
  background-color: #010101 !important; }

#Footer,
#Footer * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#Footer .footer-top--row {
  font-family: "Roboto";
  position: relative;
  max-width: 1548px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 180px !important;
  padding-bottom: 50px !important; }
  @media (max-width: 991px) {
    #Footer .footer-top--row {
      padding-top: 50px !important; } }

#Footer .footer-top--row .container .column {
  width: 33.3% !important;
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 !important; }
  @media (max-width: 991px) {
    #Footer .footer-top--row .container .column {
      margin: 20px auto !important; } }
  @media (max-width: 767px) {
    #Footer .footer-top--row .container .column {
      width: 100% !important;
      text-align: center; } }

#Footer .footer-top--row .container .column aside {
  padding: 0; }

#Footer .footer-top--row .container .column:nth-child(1) {
  text-align: left; }

#Footer .footer-top--row .container .column:nth-child(2) {
  text-align: center; }

#Footer .footer-top--row .container .column:nth-child(3) {
  text-align: right; }

@media (max-width: 767px) {
  #Footer .footer-top--row .container .column:nth-child(1),
  #Footer .footer-top--row .container .column:nth-child(2),
  #Footer .footer-top--row .container .column:nth-child(3) {
    text-align: center; } }

#Footer .footer-top--row a {
  font-size: 19px;
  font-family: "Colfax Medium";
  line-height: 1.5; }

/* ----------------------------------- START .before-copyright ----------------------------------- */
#Footer .footer-top--row a,
#Footer .footer-bottom--row .before-copyright .pull-right li a {
  color: #939393;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Footer .footer-top--row a:hover,
#Footer .footer-bottom--row .before-copyright .pull-right li a:hover {
  color: #ffffff; }

/* -------------------------- START .footer-bottom--row .before-copyright -------------------------- */
#Footer .footer-bottom--row .before-copyright {
  border-top: 1px solid rgba(135, 135, 134, 0.6);
  padding-top: 25px;
  display: block;
  width: 100%;
  margin-bottom: 25px; }
  @media (min-width: 960px) {
    #Footer .footer-bottom--row .before-copyright {
      font-size: 15px; } }

#Footer .footer-bottom--row .before-copyright .pull-left {
  text-align: left; }

#Footer .footer-bottom--row .before-copyright .adecco-group {
  text-align: center; }

#Footer .footer-bottom--row .before-copyright .pull-right {
  text-align: right; }

#Footer .footer-bottom--row .before-copyright .adecco-group {
  width: 19%; }

#Footer .footer-bottom--row .before-copyright .pull-left,
#Footer .footer-bottom--row .before-copyright .pull-right {
  width: 40%; }

#Footer .footer-bottom--row .before-copyright .pull-left,
#Footer .footer-bottom--row .before-copyright .adecco-group,
#Footer .footer-bottom--row .before-copyright .pull-right {
  float: none !important;
  display: inline-block;
  vertical-align: middle;
  margin: 0 !important;
  padding: 15px !important; }
  @media (max-width: 991px) {
    #Footer .footer-bottom--row .before-copyright .pull-left,
    #Footer .footer-bottom--row .before-copyright .adecco-group,
    #Footer .footer-bottom--row .before-copyright .pull-right {
      margin: 20px auto !important; } }
  @media (max-width: 767px) {
    #Footer .footer-bottom--row .before-copyright .pull-left,
    #Footer .footer-bottom--row .before-copyright .adecco-group,
    #Footer .footer-bottom--row .before-copyright .pull-right {
      width: 100% !important;
      text-align: center; } }

@media (min-width: 1200px) {
  #Footer .footer-bottom--row .before-copyright .pull-left {
    padding-left: 15px !important; }
  #Footer .footer-bottom--row .before-copyright .adecco-group {
    padding: 0 !important; }
  #Footer .footer-bottom--row .before-copyright .pull-right {
    padding-right: 15px !important; } }

@media (min-width: 1201px) and (max-width: 1370px) {
  #Footer .footer-bottom--row .before-copyright .pull-left,
  #Footer .footer-bottom--row .before-copyright .pull-right {
    width: 43%; }
  #Footer .footer-bottom--row .before-copyright .adecco-group {
    width: 13%; } }

#Footer .footer-bottom--row .before-copyright .pull-right li {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-family: "Colfax Medium";
  margin: 0 0px; }
  @media (max-width: 1200px) {
    #Footer .footer-bottom--row .before-copyright .pull-right li {
      width: 100%;
      padding: 0 0px; } }
  @media (max-width: 767px) {
    #Footer .footer-bottom--row .before-copyright .pull-right li {
      margin-top: 10px;
      margin-bottom: 10px; } }

@media (min-width: 1200px) {
  #Footer .footer-bottom--row .before-copyright .pull-right li:nth-child(1) {
    padding-right: 8px; }
  #Footer .footer-bottom--row .before-copyright .pull-right li:nth-child(3) {
    padding-left: 8px; }
  #Footer .footer-bottom--row .before-copyright .pull-right li:nth-child(2) {
    padding: 0 8px; } }

#Footer .footer-bottom--row .before-copyright .pull-right li:nth-child(2) {
  border-left: 3px solid #E51E54;
  border-right: 3px solid #E51E54; }
  @media (max-width: 1200px) {
    #Footer .footer-bottom--row .before-copyright .pull-right li:nth-child(2) {
      border-left: none;
      border-right: none; } }

#Footer .footer-bottom--row .before-copyright .pull-right a {
  font-size: 15px;
  line-height: 1; }

/* --------------------- START .before-copyright .social-links --------------------- */
#Footer .footer-bottom--row .before-copyright .social-links li {
  display: inline-block;
  margin: 0 8px;
  vertical-align: top; }

#Footer .footer-bottom--row .before-copyright .social-links li:first-child {
  margin-left: 0; }

#Footer .footer-bottom--row .before-copyright .social-links li:last-child a {
  font-size: 19px; }

#Footer .footer-bottom--row .before-copyright .social-links a {
  width: 45px;
  height: 45px;
  font-size: 15px;
  background: #939393;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    #Footer .footer-bottom--row .before-copyright .social-links a {
      height: 37px;
      width: 37px; } }

#Footer .footer-bottom--row .social-links a,
#Footer .footer-bottom--row .before-copyright .social-links a span {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Footer .footer-bottom--row .social-links a:hover {
  background: #E51E54; }

#Footer .footer-bottom--row .before-copyright .social-links a span {
  color: #000 !important; }

#Footer .footer-bottom--row .before-copyright .social-links a:hover span {
  color: #ffffff !important; }

#Footer .footer-bottom--row {
  border-top: none !important; }

@media (min-width: 960px) {
  #Footer .footer-bottom--row .before-copyright .social-links {
    text-align: left; } }

/* ---------------------  END  .before-copyright .social-links --------------------- */
/* --------------------------  END  .footer-bottom--row .before-copyright -------------------------- */
/* --------------------------------------------------  END  #Footer -------------------------------------------------- */
/* --------------- START Section #sc-contact-form =-= from only CONTACT page ??? =-= --------------- */
/* ---------------  END  Section #sc-contact-form =-= from only CONTACT page ??? =-= --------------- */
/* ----------- START Section #sc-looking-for-talent =-= on =-= CONTACT page ----------- */
/* -----------  END  Section #sc-looking-for-talent =-= on =-= CONTACT page ----------- */
/* --------------- START Section #sc-follow-us =-= on =-= CONTACT page --------------- */
/* ---------------  END  Section #sc-follow-us =-= on =-= CONTACT page --------------- */
/* --------------- START Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* ---------------  END  Section meet-our-team w/ photo tiles #sc-meet-our-team --------------- */
/* -------------------------------- START #ce-success-stories PAGE -------------------------------- */
/* -------------------------------- START #ce-success-stories PAGE -------------------------------- */
/* -------------------------------- START #ce-success-stories PAGE -------------------------------- */
/* -------------------------------- START #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
/* --------------------------------  END  #ce-success-stories PAGE -------------------------------- */
