/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ---------------------------- START Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
#Top_bar,
#Top_bar.is-sticky,
#Top_bar.is-sticky > div.container > div.column.one > div,
#Top_bar .top_bar_right,
.header-plain #Top_bar .top_bar_right,
#Header #Top_bar div.logo,
#Header #Top_bar div.logo a#logo,
#Header #Top_bar div.logo a#logo img {
  height: 120px !important;
  max-height: 120px !important; }
  @media (max-width: 767px) {
    #Top_bar,
    #Top_bar.is-sticky,
    #Top_bar.is-sticky > div.container > div.column.one > div,
    #Top_bar .top_bar_right,
    .header-plain #Top_bar .top_bar_right,
    #Header #Top_bar div.logo,
    #Header #Top_bar div.logo a#logo,
    #Header #Top_bar div.logo a#logo img {
      height: 60px !important;
      max-height: 60px !important; } }

#Header #Top_bar,
#Top_bar,
#Action_bar {
  position: absolute !important;
  background: transparent !important;
  background-color: transparent !important;
  z-index: 99998 !important; }
  @media (max-width: 991px) {
    #Header #Top_bar,
    #Top_bar,
    #Action_bar {
      position: absolute !important; } }
  @media only screen and (max-width: 767px) {
    #Header #Top_bar,
    #Top_bar,
    #Action_bar {
      background: transparent !important;
      background-color: transparent !important;
      z-index: 99998 !important; } }

#Top_bar,
#Top_bar .container {
  width: 100% !important; }

#Top_bar * {
  background: transparent !important;
  background-color: transparent !important; }

.header-overlay.ab-hide #Top_bar {
  top: 0 !important; }
  @media (max-width: 991px) {
    .header-overlay.ab-hide #Top_bar {
      top: 0 !important;
      width: 100%;
      max-width: 100%; } }

/* ----------- START now (form 20170927 top bar is not sticky, but... ) */
body.header-overlay #Top_bar.is-sticky {
  display: block !important; }

body.sticky-dark #Top_bar.is-sticky {
  background: transparent !important;
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

@media only screen and (min-width: 1240px) {
  #Top_bar.is-sticky {
    opacity: 1 !important; } }

/* -----------  END  now (form 20170927 top bar is not sticky, but... ) */
#Top_bar .top_bar_right,
#Top_bar .top_bar_left {
  display: inline-block !important;
  width: 50% !important;
  padding: 0;
  border: none;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

#Top_bar .top_bar_right {
  height: 0 !important;
  display: none !important; }

#Header #Overlay {
  padding-top: 120px;
  padding-bottom: 120px;
  height: 101% !important;
  background-color: rgba(0, 0, 0, 0.9); }
  @media (max-width: 767px) {
    #Header #Overlay {
      padding-top: 60px;
      padding-bottom: 60px; } }

#Header #Overlay,
#Header #Overlay * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* -------------------------- START .logo (block) -------------------------- */
#Top_bar #logo,
.header-fixed #Top_bar #logo,
.header-plain #Top_bar #logo,
.header-transparent #Top_bar #logo {
  padding: 0 !important; }

/* -----------  END  now (form 20170927 logo is not sticky, but... ) */
/* -----------  END  now (form 20170927 logo is not sticky, but... ) */
#Header #Top_bar div.logo a#logo {
  display: inline-block; }

#Header #Top_bar div.logo a#logo img {
  width: auto !important; }
  @media (max-width: 767px) {
    #Header #Top_bar div.logo a#logo img {
      width: auto !important; } }

@media only screen and (max-width: 767px) {
  #Top_bar div.logo a#logo {
    margin: 0px !important; } }

#Top_bar div.logo {
  float: none !important;
  margin: 0 !important; }
  @media only screen and (max-width: 767px) {
    #Top_bar div.logo {
      width: 50% !important;
      max-width: 50% !important;
      text-align: left !important; } }

/* --------------------------  END  .logo (block) -------------------------- */
/* ------------------------ START open/close button menu ------------------------ */
#Header a.overlay-menu-toggle:before {
  content: "MENU";
  position: absolute;
  top: 100px;
  right: 30px;
  font-family: "BebasNeue Regular";
  font-size: 15px;
  letter-spacing: 2px;
  color: #ffffff; }
  @media (max-width: 767px) {
    #Header a.overlay-menu-toggle:before {
      top: 55px; } }

#Header a.overlay-menu-toggle:after {
  content: "";
  position: absolute;
  top: 121px;
  right: 0px;
  width: 26px;
  height: 2px;
  background-color: #ffffff; }
  @media (max-width: 767px) {
    #Header a.overlay-menu-toggle:after {
      top: 76px; } }

#Header a.overlay-menu-toggle {
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 38px;
  width: 90px;
  height: 90px;
  padding: 20px;
  margin-right: 0 !important;
  z-index: 99999;
  background-color: #E51E54 !important; }
  @media (max-width: 767px) {
    #Header a.overlay-menu-toggle {
      width: 50px;
      height: 50px;
      padding: 1px; } }

#Header a.overlay-menu-toggle span.hamburger_own {
  width: 40px;
  display: inline-block;
  vertical-align: middle; }

#Header a.overlay-menu-toggle span.hamburger_own span {
  height: 4px;
  margin-bottom: 6px;
  background-color: #ffffff;
  display: block; }

#Header a.overlay-menu-toggle span.hamburger_own span:last-child {
  margin-bottom: 0px; }

#Header a.overlay-menu-toggle span.hamburger_own span {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Header a.overlay-menu-toggle span.hamburger_own span:nth-child(1) {
  width: 60%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0; }

#Header a.overlay-menu-toggle span.hamburger_own span:nth-child(2) {
  width: 100%;
  opacity: 1; }

#Header a.overlay-menu-toggle span.hamburger_own span:nth-child(3) {
  width: 80%;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: 0; }

#Header a.overlay-menu-toggle.focus span.hamburger_own span:nth-child(1) {
  width: 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px; }

#Header a.overlay-menu-toggle.focus span.hamburger_own span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#Header a.overlay-menu-toggle.focus span.hamburger_own span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -10px; }

/* ------------------------  END  open/close button menu ------------------------ */
#Header #Overlay .title-menu,
#Header #Overlay div.body-menu,
#Header #Overlay .footer-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 150px;
  padding-right: 150px; }
  @media (max-width: 991px) {
    #Header #Overlay .title-menu,
    #Header #Overlay div.body-menu,
    #Header #Overlay .footer-menu {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 767px) {
    #Header #Overlay .title-menu,
    #Header #Overlay div.body-menu,
    #Header #Overlay .footer-menu {
      padding-left: 15px;
      padding-right: 15px; } }

/* ------------------------ START title menu ------------------------ */
#Header #Overlay .title-menu {
  text-align: center;
  margin: -35px 0 35px 0;
  color: #ffffff; }
  @media (max-width: 991px) {
    #Header #Overlay .title-menu {
      margin-top: 10px; } }
  @media (max-width: 767px) {
    #Header #Overlay .title-menu {
      font-size: 30px;
      line-height: 30px; } }

#Header #Overlay .subtitle-menu {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 35px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #Header #Overlay .subtitle-menu {
      margin-bottom: 25px; } }
  @media (max-width: 767px) {
    #Header #Overlay .subtitle-menu {
      margin-bottom: 20px; } }

#Header #Overlay .subtitle-menu ul {
  display: block;
  margin-right: -16px; }

#Header #Overlay .subtitle-menu ul li {
  display: inline-block;
  width: 33%;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 3;
  text-align: center;
  color: #ffffff;
  margin-left: -2px;
  margin-right: -2px;
  border-bottom: 1px solid transparent;
  margin-bottom: -1px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }
  @media (max-width: 991px) {
    #Header #Overlay .subtitle-menu ul li {
      width: 100%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #Header #Overlay .subtitle-menu ul li {
      line-height: 2; } }
  @media (max-width: 767px) {
    #Header #Overlay .subtitle-menu ul li {
      font-size: 17px;
      line-height: 1.7; } }

#Header #Overlay .subtitle-menu ul li:hover {
  cursor: pointer; }

#Header #Overlay .subtitle-menu ul li:hover,
#Header #Overlay .subtitle-menu ul li.active {
  color: #E51E54;
  border-bottom: 1px solid #E51E54; }

/* ------------------------  END  title menu ------------------------ */
/* -------------------------- START body menu -------------------------- */
#Header #Overlay #overlay-menu {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: static !important;
  width: 100%;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  margin: 0 auto !important; }

#secondary-menu {
  margin: 0 auto !important; }

#Header #Overlay div.body-menu nav {
  margin: 0 auto !important; }

#Header #Overlay div.body-menu nav * {
  text-align: center; }

#Header #Overlay div.body-menu nav ul {
  overflow: hidden; }

#Header #Overlay div.body-menu nav ul > li {
  display: block;
  width: 100%;
  list-style: none !important; }

#Header #Overlay div.body-menu nav ul > li:hover,
#Header .secondary-menu li ul,
#Header .secondary-menu > li.hover {
  background: transparent !important;
  background-color: transparent !important; }

#Header #Overlay div.body-menu nav ul > li > a {
  text-transform: capitalize;
  font-family: "Colfax Bold";
  color: #ffffff;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Header #Overlay div.body-menu nav ul > li > a:hover,
#Header #Overlay div.body-menu nav ul > li.current-menu-item > a {
  opacity: 1 !important;
  color: #E51E54; }

#Header #Overlay div.body-menu nav ul > li.current-menu-item > a:hover {
  color: #ffffff; }

#Header #Overlay div.body-menu nav ul > li > a:before,
#Header #Overlay div.body-menu nav ul > li > a:after {
  content: "" !important;
  margin: 0 !important;
  left: 0 !important;
  top: 0 !important;
  opacity: 0 !important; }

@media (max-width: 767px) {
  #Header #Overlay div.body-menu div.CE-menu-items {
    margin-bottom: -15px; } }

/* ------------------- START body menu - home link ------------------- */
/* ------------ START if 1 item it's house image ------------ */
/* ------------  END  if 1 item it's house image ------------ */
#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a {
  width: 100%; }

#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon,
#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon:before,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a span.home_icon,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a span.home_icon:before {
  width: 40px;
  height: 40px; }

#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a span.home_icon {
  position: relative;
  display: inline-block; }

#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon:before,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a span.home_icon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Header #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a,
#Header #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a *,
#Header #Overlay .YP-menu-items nav ul > li.current-menu-item:first-child > a,
#Header #Overlay .YP-menu-items nav ul > li.current-menu-item:first-child > a * {
  color: #E51E54; }

#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a:hover span.home_icon:before,
#Header #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a span.home_icon:before,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a:hover span.home_icon:before,
#Header #Overlay .YP-menu-items nav ul > li.current-menu-item:first-child > a span.home_icon:before {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link-pink.svg"); }

#Header #Overlay nav#overlay-menu ul.overlay-menu > li.current-menu-item:first-child > a:hover span.home_icon:before,
#Header #Overlay .YP-menu-items nav ul > li.current-menu-item:first-child > a:hover span.home_icon:before {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link.svg"); }

/* START hook for auto preload img */
#Header #Overlay nav#overlay-menu ul.overlay-menu > li:first-child > a span.home_icon:after,
#Header #Overlay .YP-menu-items nav ul > li:first-child > a span.home_icon:after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/CE-home_link-pink.svg");
  left: 0;
  top: 0; }

/* END hook for auto proload img */
/* -------------------  END  body menu - home link ------------------- */
/* --------------------------  END  body menu -------------------------- */
/* ------------------------ START footer menu ------------------------ */
#Header #Overlay .footer-menu {
  position: absolute;
  bottom: 20px;
  width: 100%; }

#Header #Overlay .footer-menu:after {
  content: '';
  display: table;
  clear: both; }

#Header #Overlay .footer-menu .footer-menu--left.address_side {
  text-align: left; }

#Header #Overlay .footer-menu .footer-menu--right.social_side {
  text-align: right;
  font-size: 21px; }

#Header #Overlay .footer-menu .footer-menu--left.address_side,
#Header #Overlay .footer-menu .footer-menu--right.social_side {
  margin-top: 50px;
  width: 49%;
  display: inline-block;
  vertical-align: bottom; }
  @media (max-width: 991px) {
    #Header #Overlay .footer-menu .footer-menu--left.address_side,
    #Header #Overlay .footer-menu .footer-menu--right.social_side {
      width: 100%;
      margin-top: 25px;
      text-align: center; } }

#Header #Overlay .footer-menu .footer-menu--right.social_side #social-menu {
  margin: 0 auto !important; }

#Header #Overlay .footer-menu .footer-menu--right.social_side * {
  display: inline-block; }

#Header #Overlay .footer-menu .footer-menu--left.address_side a,
#Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a,
#Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a span {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#Header #Overlay .footer-menu .footer-menu--left.address_side a:hover {
  color: #E51E54; }

#Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li,
#Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a {
  width: 60px;
  height: 30px; }
  @media (max-width: 767px) {
    #Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li,
    #Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a {
      width: 50px; } }

#Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a:hover,
#Header #Overlay .footer-menu .footer-menu--right.social_side nav#social-menu ul.social-menu li a:hover span {
  color: #E51E54; }

#Header #Overlay .footer-menu,
#Header #Overlay .footer-menu * {
  color: #ffffff;
  margin-bottom: 0; }

#Header #Overlay .footer-menu .footer-menu--left.address_side span {
  width: 180px;
  display: inline-block; }
  @media (max-width: 767px) {
    #Header #Overlay .footer-menu .footer-menu--left.address_side span {
      width: auto; } }

/* ------------------------  END  footer menu ------------------------ */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* ----------------------------  END   Overlay Menu (Sticky Header affects ONLY the menu button) ---------------------------- */
/* --------------------------------------  END language dropdown -------------------------------------- */
div.wpml-ls-statics-shortcode_actions.wpml-ls {
  position: absolute;
  top: 30px;
  right: 90px;
  width: auto !important;
  text-transform: lowercase;
  color: #ffffff !important;
  font-family: "Colfax Bold";
  z-index: 99999;
  background-color: transparent !important; }
  @media (max-width: 767px) {
    div.wpml-ls-statics-shortcode_actions.wpml-ls {
      top: 12px;
      right: 60px; } }

div.wpml-ls-statics-shortcode_actions.wpml-ls ul,
div.wpml-ls-statics-shortcode_actions.wpml-ls ul li.wpml-ls-item a {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 17px; }
  @media (min-width: 768px) and (max-width: 991px) {
    div.wpml-ls-statics-shortcode_actions.wpml-ls ul,
    div.wpml-ls-statics-shortcode_actions.wpml-ls ul li.wpml-ls-item a {
      font-size: 30px; } }

div.wpml-ls-statics-shortcode_actions.wpml-ls ul li.wpml-ls-item a:hover {
  cursor: pointer; }

div.wpml-ls-statics-shortcode_actions.wpml-ls ul li:first-child.wpml-ls-item a:after {
  top: 9px; }
  @media (min-width: 768px) and (max-width: 991px) {
    div.wpml-ls-statics-shortcode_actions.wpml-ls ul li:first-child.wpml-ls-item a:after {
      top: 14px; } }

div.wpml-ls-statics-shortcode_actions.wpml-ls ul li.wpml-ls-item a span {
  color: #ffffff !important; }

div.wpml-ls-statics-shortcode_actions.wpml-ls ul li a span.wpml-ls-display {
  display: none !important; }

/* --------------------------------------  END language dropdown -------------------------------------- */
