body.SP_companies--page section#companies-intro {
  margin-top: -125px !important; }
  @media (max-width: 991px) {
    body.SP_companies--page section#companies-intro {
      margin-top: 0px !important; } }

body.SP_companies--page section#companies-intro .blue-block {
  margin-top: 0 !important;
  margin-bottom: 125px !important; }
  @media (max-width: 991px) {
    body.SP_companies--page section#companies-intro .blue-block {
      margin-bottom: 0px !important; } }

body.SP_companies--page section#companies-intro .gray-block {
  margin-top: 100px !important; }
  @media (max-width: 991px) {
    body.SP_companies--page section#companies-intro .gray-block {
      margin-top: 0px !important; } }

body.CE_success-stories--page section#success-stories-gallery .vc_row .vc_row {
  padding: 0 !important;
  margin: 0 !important; }

body.CE_job-functions--page #ce-job-function-intro .vc_column-inner {
  min-width: 83.5% !important;
  width: 83.5% !important;
  max-width: 83.5% !important; }
  @media (max-width: 1570px) {
    body.CE_job-functions--page #ce-job-function-intro .vc_column-inner {
      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important; } }

body.CE_success-stories--page #success-stories-coffe .vc_column-inner {
  min-width: 83.5% !important;
  width: 83.5% !important;
  max-width: 83.5% !important; }
  @media (max-width: 1570px) {
    body.CE_success-stories--page #success-stories-coffe .vc_column-inner {
      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important; } }
