body.YP_home--page  .carousel_1_item .slide  {
padding-right: 30px;
}
body.YP_home--page .btn.hover-gray:hover {
border-color:#2a2a2a;
background-color:#717171;
}
body.YP_home--page  #home-experience .over_title {
color: #fff;
}
body.YP_home--page  #home-experience h2 {
   color: #fff;
}
body.YP_home--page div .experience-wrap {
    background-size: cover;
    background-repeat: no-repeat;
}
body.YP_home--page #home-future-section {
display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
body.YP_home--page #home-future-section .vc_column-inner, body.YP_home--page #home-future-section  .wpb_wrapper {
    height: 100%;
}
body.YP_home--page #home-future-section .future-section-content .wpb_wrapper {
        box-sizing: border-box;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

body.YP_home--page  #home-future-section h2 {
    /*font-size: 60px;*/
    margin-bottom: 35px;
}

body.YP_home--page  #home-future-section h4 {
    margin-bottom: 35px;
    /*font-size: 19px;*/
}
body.YP_home--page  #home-future-section p {
    margin-bottom: 35px;
    /*font-size: 19px;*/
}
body.YP_home--page  #home-future-section img {
    margin-bottom: 35px;
}
body.YP_home--page  #home-intro.home-intro-section .blue, #home-intro.home-intro-section .gray {
    max-width: 100% !important;
}

body.YP_home--page  #home-intro.home-intro-section .blue {
    margin: 0;
}

body.YP_home--page  #home-intro.home-intro-section .gray {
    margin: 110px auto 0 0;
}

body.YP_home--page  .image_wrap {
    margin: 0 !important;
}

body.YP_home--page  .align_left {
    text-align: left;
}

body.YP_home--page  #home-program h2 {
    margin-bottom: 35px;
    color: #fff;
}

body.YP_home--page  #home-program over_title {
    margin-bottom: 35px;
    color: #fff;
}

body.YP_home--page  #home-program p {
    color: #fff;
}

body.YP_home--page  #home-program {
    position: relative;
}

body.YP_home--page  .future-section-content .btn_row {
    width: 100%;
}
body.YP_home--page  .future-section-content {
    padding: 140px 120px;
    box-sizing: border-box;
    height: 100%;
}



body.YP_home--page  #home-intro.home-intro-section .blue, #home-intro.home-intro-section .gray {
    max-width: 100% !important;
}

body.YP_home--page  #home-intro.home-intro-section .blue {
    margin: 0;
}

body.YP_home--page  #home-intro.home-intro-section .gray {
    margin: 110px auto 0 0;
}

body.YP_home--page .image_wrap {
    margin: 0 !important;
}

body.YP_home--page  #home-program {
    position: relative;
        z-index: 2;
}

body.YP_home--page .blue-block {
    margin-top: 0 !important;
}
body.YP_home--page .gray-block {
   margin-top: 100px !important;
}
body.YP_home--page .blue-block {
    background-color: #01498E !important;
    margin-top: -125px !important;
    margin-bottom: 100px !important;
}
body.YP_home--page .gray-block, body.YP_home--page .blue-block {
    padding: 50px !important;
}
body.YP_home--page section#home-intro .gray-block {
    margin-bottom: 50px;
    padding-top: 110px !important;
}
@media (min-width: 768px) and  (max-width: 1400px) {
      body.YP_home--page section#home-intro .gray-block {
        padding-top: 75px !important;
}  
}

@media (max-width: 767px)  {
       body.YP_home--page section#home-intro .gray-block {
        padding-top: 30px !important
} 
}

body.YP_home--page .gray-block {
    background-color: #AFABAE !important;
     margin-top: -50px !important;
}
body.YP_home--page .blue .over_title, body.YP_home--page .blue h2, body.YP_home--page .blue h4, body.YP_home--page .blue p, body.YP_home--page .blue ul {
    color: #ffffff;
}

 body.YP_home--page .gray h2, body.YP_home--page .gray h4, body.YP_home--page .gray p, body.YP_home--page .gray ul {
    color: #000000;
}
body.YP_home--page .gray img, body.YP_home--page .blue img  {
    margin-bottom: 20px;
}

body.YP_home--page  .gray {
     margin: 0 !important; 
}
/*@media (max-width: 1999px) and (min-width: 992px) {
body.YP_home--page .gray-block, body.YP_home--page .blue-block {
    padding: 50px 25px !important;
}   
}*/

@media (max-width: 1520px) {
body.YP_home--page #home-program {
    margin: 0 !important;
}
}
@media (max-width: 1400px) {
    body.YP_home--page .gray-block, body.YP_home--page .blue-block {
    padding:  25px !important;
}

  
  body.YP_home--page a.btn-medium, body.YP_home--page button.btn-medium {
   padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
body.YP_home--page .future-section-content {
    padding: 30px;
}
body.YP_home--page #home-intro .vc_empty_space {
    display: none;
}
body.YP_home--page #home-intro .yp-job-text {
    padding: 60px 0 !important;
}
body.YP_home--page #home-intro .wpb_wrapper > div {
    margin-bottom: 15px;
}
body.YP_home--page .future-section-content {
    padding: 60px 30px;
}
body.YP_home--page #home-future-section img {
     margin-bottom: 0; 
}

body.YP_home--page div .experience-wrap {
    padding: 200px 30px !important;
}
body.YP_home--page #home-text-section .wpb_wrapper > div {
    margin-bottom: 15px;
}
body.YP_home--page #home-text-section .vc_empty_space   {
    display: none;
}
body.YP_home--page #home-program {
    padding: 60px !important
}
body.YP_home--page #home-text-section {
    padding: 30px !important
}
body.YP_home--page .blue-block {
    margin-bottom: 75px !important;
}
   
}


@media (max-width: 1200px) {
    
}
@media (max-width: 1199px) {
   body.YP_home--page  #home-intro.home-intro-section h2 {
       /*font-size: 45px;*/
    }
}


@media (max-width: 992px) {
   body.YP_home--page .gray-block, body.YP_home--page .blue-block {
    padding: 30px 25px !important;
}
   body.YP_home--page  #home-intro.home-intro-section .gray {
        margin-top: 0;
    }

   body.YP_home--page  #home-future-section h2 {
        /*font-size: 45px;*/
    }
   body.YP_home--page  #home-program {
        margin: 0 !important;
    }
   body.YP_home--page  #home-intro {
        margin-top: 0 !important;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
   body.YP_home--page  #home-intro .intro-item {
       width: 100%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
   body.YP_home--page  #home-intro .intro-item {
        width: 100%;
    }
}
@media (max-width: 768px) {
body.YP_home--page div .experience-wrap {
    padding: 100px 15px !important;
}
body.YP_home--page .blue-block, body.YP_home--page .gray-block {
    margin: 0 !important;
}

body.YP_home--page #home-intro .vc_column-inner {
    padding: 0;
}
body.YP_home--page .yp-job-text .vc_column-inner {
    padding: 0 !important;
}
body.YP_home--page #home-intro .yp-job-text {
    padding: 30px 15px !important;
}
body.YP_home--page .future-section-content {
   padding: 30px 0;
}
body.YP_home--page #home-program {
    padding: 30px 0 !important;
}
body.YP_home--page #home-text-section {
    padding: 30px 0 !important;
}
}



