body.CE_companies--page,
body.CE_companies--page * {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body.CE_companies--page p.over_title {
  letter-spacing: -2px;
  word-spacing: 5px; }

body.CE_companies--page .section.the_content {
  background-color: #F4F4F4; }

/* -------------------------------------- START .CE_companies--page #section__1--slider -------------------------------------- */
body.CE_companies--page section#section__1--slider #row_scroll.top_slider {
  bottom: 50px !important; }

/* --------------------------------------  END  .CE_companies--page #section__1--slider -------------------------------------- */
/* --------------------------------------  END  .CE_companies--page #section__1--slider -------------------------------------- */
/* -------------------------------------- START .CE_companies--page #custom--tab_row -------------------------------------- */
body.CE_companies--page section#custom--tab_row {
  padding-bottom: 80px !important; }

body.CE_companies--page section#custom--tab_row * {
  color: #ffffff; }

body.CE_companies--page section#custom--tab_row .blue_block > div {
  padding: 75px 40px !important;
  margin-top: -75px !important; }
  @media (max-width: 767px) {
    body.CE_companies--page section#custom--tab_row .blue_block > div {
      padding: 15px !important;
      margin-top: 0px !important; } }

/* --------------------------------------  END  .CE_companies--page #custom--tab_row -------------------------------------- */
/* --------------------------------------  END  .CE_companies--page #custom--tab_row -------------------------------------- */
/* -------------------------------- START .CE_companies--page #custom--what_makes_us_unique -------------------------------- */
body.CE_companies--page section#custom--what_makes_us_unique {
  background-color: #ffffff;
  padding-top: 200px !important;
  padding-bottom: 200px !important; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--what_makes_us_unique {
      padding-top: 75px !important;
      padding-bottom: 75px !important; } }

body.CE_companies--page section#custom--what_makes_us_unique .container {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

/* --------------------------------  END  .CE_companies--page #custom--what_makes_us_unique -------------------------------- */
/* --------------------------------  END  .CE_companies--page #custom--what_makes_us_unique -------------------------------- */
/* --------------------------------------  END  .CE_companies--page #custom--tiles_row -------------------------------------- */
body.CE_companies--page #custom--tiles_row .tiles {
  text-align: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important;
  border-top: 1px solid #F4F4F4; }

body.CE_companies--page #custom--tiles_row .tile {
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
  background-color: #ffffff;
  width: 33.333%;
  padding: 150px 70px 90px 70px;
  margin: 0px -2px; }
  @media (min-width: 992px) and (max-width: 1999px) {
    body.CE_companies--page #custom--tiles_row .tile {
      padding-top: 70px;
      padding-bottom: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_companies--page #custom--tiles_row .tile {
      padding-top: 60px;
      padding-bottom: 70px; } }
  @media (max-width: 767px) {
    body.CE_companies--page #custom--tiles_row .tile {
      padding-top: 40px;
      padding-bottom: 60px; } }
  @media (min-width: 993px) {
    body.CE_companies--page #custom--tiles_row .tile {
      width: 33.333%; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    body.CE_companies--page #custom--tiles_row .tile {
      width: 50%; } }
  @media (max-width: 767px) {
    body.CE_companies--page #custom--tiles_row .tile {
      width: 100%; } }

body.CE_companies--page #custom--tiles_row .tile:nth-child(odd) {
  background-color: #F4F4F4; }

body.CE_companies--page #custom--tiles_row .tile p {
  margin: 0;
  padding: 0; }

body.CE_companies--page #custom--tiles_row .tile .img_row img {
  width: 125px;
  height: 125px; }

body.CE_companies--page #custom--tiles_row .tile .pre_title {
  text-transform: uppercase;
  padding-top: 20px;
  display: table;
  width: 100%;
  height: 88px; }
  @media (max-width: 767px) {
    body.CE_companies--page #custom--tiles_row .tile .pre_title {
      height: auto !important;
      padding-top: 10px; } }

body.CE_companies--page #custom--tiles_row .tile .pre_title p {
  font-family: "Colfax Regular";
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  letter-spacing: -2px; }

body.CE_companies--page #custom--tiles_row .tile .title {
  display: table;
  width: 100%;
  height: 100px; }
  @media (max-width: 767px) {
    body.CE_companies--page #custom--tiles_row .tile .title {
      height: auto !important;
      padding-top: 10px;
      padding-bottom: 10px; } }

body.CE_companies--page #custom--tiles_row .tile .title h3 {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0 !important; }
  @media (max-width: 991px) {
    body.CE_companies--page #custom--tiles_row .tile .title h3 {
      font-size: 47px; } }

body.CE_companies--page #custom--tiles_row .tile .title span {
  display: inline-block;
  vertical-align: middle; }

body.CE_companies--page #custom--tiles_row .tile .info {
  min-height: 140px;
  margin-top: 15px;
  margin-bottom: 30px; }
  @media (max-width: 991px) {
    body.CE_companies--page #custom--tiles_row .tile .info {
      margin-top: 15px; } }

body.CE_companies--page #custom--tiles_row .tile .info p {
  font-family: "Roboto"; }

/* --------------------------------------  END  .CE_companies--page #custom--tiles_row -------------------------------------- */
/* --------------------------------------  END  .CE_companies--page #custom--tiles_row -------------------------------------- */
/* ------------------------------- START .CE_companies--page #custom--slide_ce_job_functions ------------------------------- */
body.CE_companies--page section#custom--slide_ce_job_functions {
  background-color: #ffffff; }

body.CE_companies--page section#custom--slide_ce_job_functions {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/3-11-CE_companies-slide_ce_job_functions-bgi.jpg"); }

body.CE_companies--page section#custom--slide_ce_job_functions,
body.CE_companies--page section#custom--slide_ce_job_functions * {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body.CE_companies--page section#custom--slide_ce_job_functions {
  background-color: #05071E;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

body.CE_companies--page section#custom--slide_ce_job_functions .vc_row,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container > .vc_column-inner,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row,
body.CE_companies--page section#custom--slide_ce_job_functions .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row > .container {
  height: 100vh;
  margin: 0 auto !important; }

body.CE_companies--page section#custom--slide_ce_job_functions p.over_title {
  color: #ffffff; }

body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block {
  width: 100%;
  height: 100vh;
  display: table; }

body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block .main_title {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  position: relative; }

body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h1.title,
body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h5.sub_title,
body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h6.sub_title {
  color: #ffffff;
  text-align: left;
  margin: 20px 0; }
  @media (min-width: 991px) {
    body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h1.title,
    body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h5.sub_title,
    body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h6.sub_title {
      max-width: 600px; } }

body.CE_companies--page section#custom--slide_ce_job_functions .section__1--main_title_block h6.sub_title {
  font-family: "Roboto" !important;
  line-height: 2; }

@media (max-width: 767px) {
  body.CE_companies--page section#custom--slide_ce_job_functions .btn {
    display: inline-block !important;
    padding: 7px 12px;
    width: auto !important;
    min-width: 45%;
    margin-right: 10%; } }

/* -------------------------------  END  .CE_companies--page #custom--slide_ce_job_functions ------------------------------- */
/* -------------------------------  END  .CE_companies--page #custom--slide_ce_job_functions ------------------------------- */
/* ------------------------------------ START .CE_companies--page #custom--lets_match ------------------------------------ */
body.CE_companies--page section#custom--lets_match {
  padding-top: 100px !important;
  padding-bottom: 50px !important; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--lets_match {
      padding-bottom: 0 !important; } }

body.CE_companies--page section#custom--lets_match > div {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

body.CE_companies--page section#custom--lets_match .container {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

body.CE_companies--page section#custom--lets_match .container > div {
  position: relative; }

body.CE_companies--page section#custom--lets_match .container > div:before {
  content: "";
  position: absolute;
  top: -100px;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
  height: 1px;
  background-color: #D9D9D9; }

body.CE_companies--page section#custom--lets_match .lets_match--block {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: row;
  -webkit-align-items: row;
      -ms-flex-align: row;
          align-items: row; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--lets_match .lets_match--block {
      display: block;
      width: 100%; } }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box,
body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box {
  width: 50%;
  padding: 0;
  margin: 0; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box,
    body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box {
      display: block;
      width: 100%; } }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box {
      min-height: 450px;
      width: auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box .text-wrapper {
  display: inline-block;
  position: absolute;
  bottom: 100px; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box .text-wrapper {
      position: relative;
      bottom: inherit; } }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box p.over_title {
  font-size: 19px !important; }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box p,
body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box h2,
body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box blockquote {
  color: #ffffff;
  text-align: center; }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box blockquote {
  margin: 0 !important; }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box blockquote:after {
  content: "";
  width: 0px !important;
  height: 0px !important;
  background: url("") !important;
  position: absolute !important;
  left: -9999999999999px !important;
  top: -9999999999999px !important; }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box blockquote .icom-quote-left {
  position: relative;
  left: 0px;
  margin-right: 10px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .left_side.image_box blockquote .icom-quote-right {
  line-height: 0.3;
  position: relative;
  top: 25px;
  margin-left: 10px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box {
  position: relative;
  background-color: #ffffff;
  padding: 150px 100px; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box {
      padding: 40px 50px; } }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box img,
body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box p.over_title {
  margin-bottom: 30px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box h2 {
  margin-bottom: 40px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box img {
  opacity: 0.1;
  width: 80px;
  height: 80px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box p.over_title {
  color: #B1ADAF;
  font-size: 19px !important; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box h2 {
  color: #000000; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box blockquote {
  color: #9D9D9D;
  margin: 0 !important;
  font-family: "Roboto"; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box blockquote:after {
  content: "";
  width: 0px !important;
  height: 0px !important;
  background: url("") !important;
  position: absolute !important;
  left: -9999999999999px !important;
  top: -9999999999999px !important; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box blockquote .icom-quote-left {
  position: relative;
  left: 0px;
  margin-right: 10px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box blockquote .icom-quote-right {
  line-height: 0.3;
  position: relative;
  top: 25px;
  margin-left: 10px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box .social_links {
  list-style: none !important;
  margin: 0 !important; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box .social_links a i {
  width: 25px;
  color: #E51E54;
  margin-right: 20px;
  font-size: 20px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box .social_links a i.fa.fa-mobile {
  font-size: 40px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box .social_links a i.fa.fa-facebook {
  font-size: 25px; }

body.CE_companies--page section#custom--lets_match .lets_match--block .right_side.text_box .social_links a {
  font-family: "Roboto";
  color: #D9D9D9;
  word-break: break-word; }

/* ------------------------------------  END  .CE_companies--page #custom--lets_match ------------------------------------ */
/* ------------------------------------  END  .CE_companies--page #custom--lets_match ------------------------------------ */
/* ------------------------------- START .CE_companies--page #custom--companies_testimonials ------------------------------- */
body.CE_companies--page section#custom--companies_testimonials p.over_title,
body.CE_companies--page section#custom--companies_testimonials h2 {
  color: #ffffff; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .container {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel {
  margin-top: 100px; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .owl-nav {
  display: none; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .owl-dots {
  margin-top: 40px;
  margin-bottom: 40px; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .owl-dot {
  margin: 40px 25px; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .owl-dot span {
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #F4F4F4;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .owl-dot.active span {
  background: #E51E54; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .slide {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: row;
  -webkit-align-items: row;
      -ms-flex-align: row;
          align-items: row; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .slide {
      display: block;
      width: 100%; } }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .left_side.image_box,
body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box {
  width: 50%;
  padding: 0;
  margin: 0; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .left_side.image_box,
    body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box {
      display: block;
      width: 100%; } }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .left_side.image_box {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .left_side.image_box {
      min-height: 350px;
      width: auto;
      background-position: left bottom; } }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box {
  position: relative;
  background-color: #F4F4F4;
  padding: 80px 50px; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box:before {
  content: "";
  position: absolute;
  top: 60px;
  left: -60px;
  border-style: solid;
  border-width: 30px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #F4F4F4; }
  @media (max-width: 991px) {
    body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box:before {
      top: -60px;
      right: 60px;
      left: inherit;
      border-top-color: transparent;
      border-bottom-color: #F4F4F4;
      border-left-color: transparent;
      border-right-color: transparent; } }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box p.over_title {
  color: #B1ADAF;
  font-size: 19px !important;
  font-family: "Colfax Regular"; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box h2 {
  color: #000000; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box blockquote {
  color: #9D9D9D;
  margin: 0 !important;
  font-family: "Roboto"; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box blockquote:after {
  content: "";
  width: 0px !important;
  height: 0px !important;
  background: url("") !important;
  position: absolute !important;
  left: -9999999999999px !important;
  top: -9999999999999px !important; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box blockquote .icom-quote-left {
  position: relative;
  left: 0px;
  margin-right: 10px; }

body.CE_companies--page section#custom--companies_testimonials #in_blue_block .owl-carousel .right_side.text_box blockquote .icom-quote-right {
  line-height: 0.3;
  position: relative;
  top: 25px;
  margin-left: 10px; }

/* -------------------------------  END  .CE_companies--page #custom--companies_testimonials ------------------------------- */
/* -------------------------------  END  .CE_companies--page #custom--companies_testimonials ------------------------------- */
/* -------------------------------  END  .CE_companies--page #custom--companies_testimonials ------------------------------- */
@media (max-width: 991px) {
  body.CE_companies--page #custom--schedule_a_coffee_with_us {
    padding-bottom: 0 !important; } }

body.CE_companies--page #custom--schedule_a_coffee_with_us .container {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }

/* -------------------------------  END  .CE_companies--page #custom--companies_testimonials ------------------------------- */
/* -------------------------------  END  .CE_companies--page #custom--companies_testimonials ------------------------------- */
