@media (max-width: 991px) {
  body.contanct--page #sc-intro .scroll-img {
    margin-bottom: -65px; } }

#sc-intro h2,
#sc-intro h4,
#sc-intro address {
  color: #ffffff; }

/*	#ce-success-stories-gallery, */
#sc-intro {
  z-index: 1; }

#sc-intro .scroll-img img {
  top: -80px;
  position: relative; }

#sc-intro {
  overflow: visible;
  margin-top: -75px; }

#sc-intro .vc_column-inner {
  background: #01498e;
  margin: 0 auto 120px;
  text-align: center;
  padding: 0; }

#sc-intro .wpb_raw_code {
  margin: 0; }

#sc-intro h2 {
  margin-bottom: 30px; }

#sc-intro address {
  margin-bottom: 125px;
  font-size: 16px;
  line-height: 1.8; }

@media (min-width: 480px) and (max-width: 767px) {
  #sc-intro address {
    font-size: 18px; } }

@media (min-width: 768px) {
  #sc-intro address {
    font-size: 20px; } }

#sc-intro .vr-line {
  height: 15px;
  width: 3px;
  background: #E51E54;
  display: inline-block;
  margin: 0 7px; }

#sc-intro #g-map {
  height: 500px;
  width: 100%;
  margin: 0;
  background: #fff; }
  @media (min-width: 768px) and (max-width: 1239px) {
    #sc-intro #g-map {
      height: 677px; } }
  @media (min-width: 1240px) {
    #sc-intro #g-map {
      height: 45vw; } }

#sc-intro .gm-style-cc,
#sc-intro .gm-style-mtc {
  display: none; }

body.contanct--page #sc-intro .headquarter * {
  color: #ffffff; }

body.contanct--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
  left: -35px; }
  @media (max-width: 767px) {
    body.contanct--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
      left: -30px; } }

#sc-meet-our-team {
  padding-top: 140px;
  overflow: visible; }

#sc-meet-our-team .arrow {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  display: inline-block;
  position: relative;
  top: -160px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  color: #01498E; }

#sc-meet-our-team .arrow span {
  margin-left: 10px;
  font-size: 10px; }

#sc-meet-our-team .wpb_wrapper:hover > .after {
  visibility: visible;
  opacity: 1; }

@media (min-width: 1200px) and (max-width: 1550px) {
  #sc-meet-our-team .team:nth-of-type(5) > div {
    background-position: 0 !important; } }

#sc-meet-our-team .after {
  text-align: center;
  visibility: hidden;
  opacity: 0;
  padding: 115px 15px 70px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: rgba(1, 73, 142, 0.8); }

@media (max-width: 479px) {
  #sc-meet-our-team .icom-quote-left,
  #sc-meet-our-team .icom-quote-right {
    font-size: 30px; }
  #sc-meet-our-team .after {
    padding: 45px 15px; } }

#sc-meet-our-team .after a,
#sc-meet-our-team .after h2,
#sc-meet-our-team .after h4 {
  color: #ffffff; }

@media (min-width: 1200px) and (max-width: 1550px) {
  #sc-meet-our-team .after {
    padding: 50px 15px 20px; }
  #sc-meet-our-team .after h2 {
    font-size: 46px; } }

#sc-meet-our-team .after .soc_link a {
  display: inline-block;
  height: 45px;
  width: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #ffffff;
  -webkit-border-radius: 45px;
          border-radius: 45px;
  margin: 0 8px;
  line-height: 39px;
  font-size: 15px;
  -webkit-transition: all .4s;
  transition: all .4s; }

#sc-meet-our-team .after .soc_link a:hover {
  background: #E51E54;
  border-color: #E51E54; }

#sc-meet-our-team .after .email,
#sc-meet-our-team .after .tel,
#sc-meet-our-team .after p {
  font-size: 16px;
  color: #ffffff; }

#sc-meet-our-team .after p {
  padding: 0 10%; }

#sc-meet-our-team .after .email {
  margin-bottom: 15px; }

#sc-meet-our-team .after .soc_link,
#sc-meet-our-team .after .tel {
  margin-bottom: 25px; }

#sc-meet-our-team .after,
#sc-meet-our-team .after p,
#sc-meet-our-team .wpb_raw_code {
  margin: 0; }

#sc-looking-for-talent {
  margin-top: -40px; }

#sc-looking-for-talent .vc_column-inner {
  background: #01498E;
  margin: 0 auto 120px;
  text-align: center;
  padding: 90px 0; }

@media (min-width: 480px) and (max-width: 767px) {
  #sc-meet-our-team .after .email,
  #sc-meet-our-team .after .tel,
  #sc-meet-our-team .after p {
    font-size: 18px; }
  #sc-looking-for-talent .vc_column-inner {
    max-width: 90%; } }

@media (min-width: 768px) {
  #sc-meet-our-team .after .email,
  #sc-meet-our-team .after .tel,
  #sc-meet-our-team .after p {
    font-size: 20px; }
  #sc-looking-for-talent .vc_column-inner {
    max-width: 80%; } }

/* ---------------  END  Section #sc-contact-form =-= from only contact page ??? =-= --------------- */
#sc-contact-form {
  padding-top: 500px;
  overflow: visible;
  margin-top: -500px; }

#sc-contact-form form {
  display: block;
  max-width: 600px;
  margin: 0 auto 50px;
  padding-top: 60px; }

#sc-contact-form form span.first {
  margin-left: 0; }

#sc-contact-form form * {
  margin-bottom: 0;
  line-height: 1; }

#sc-contact-form form .message {
  display: block; }

#sc-contact-form form p {
  margin-bottom: 15px; }

#sc-contact-form input[type=radio] {
  display: none; }

#sc-contact-form input[type=radio] + span:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  -webkit-box-shadow: 0 0 0 3px #01498E;
          box-shadow: 0 0 0 3px #01498E; }

#sc-contact-form input[type=radio]:checked + span:before {
  border: 3px solid #ffffff;
  background: #01498E; }

#sc-contact-form input:not([type=submit]),
#sc-contact-form textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 3px solid #01498E;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-family: "Colfax Medium";
  font-size: 16px;
  background: 0;
  padding: 15px 30px; }

@media (min-width: 480px) and (max-width: 767px) {
  #sc-contact-form input:not([type=submit]),
  #sc-contact-form textarea {
    font-size: 18px; } }

@media (min-width: 768px) {
  #sc-contact-form input:not([type=submit]),
  #sc-contact-form textarea {
    font-size: 19px; } }

#sc-contact-form input:not([type=submit])::-webkit-input-placeholder {
  color: #999998; }

#sc-contact-form input:not([type=submit])::-moz-placeholder {
  color: #999998; }

#sc-contact-form input:not([type=submit]):-moz-placeholder {
  color: #999998; }

#sc-contact-form input:not([type=submit]):-ms-input-placeholder {
  color: #999998; }

#sc-contact-form textarea::-webkit-input-placeholder {
  color: #999998; }

#sc-contact-form textarea::-moz-placeholder {
  color: #999998; }

#sc-contact-form textarea:-moz-placeholder {
  color: #999998; }

#sc-contact-form textarea:-ms-input-placeholder {
  color: #999998; }

#sc-contact-form input[type=submit] {
  background: #E51E54;
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -webkit-box-shadow: none;
          box-shadow: none;
  max-width: 290px;
  display: block;
  margin: 0 auto;
  font: 400 16px/52px "Colfax Medium";
  padding: 0;
  width: 100%;
  border: none; }

@media (min-width: 480px) and (max-width: 767px) {
  #sc-contact-form input[type=submit] {
    font-size: 18px; } }

@media (min-width: 768px) {
  #sc-contact-form input[type=submit] {
    font-size: 19px; } }

/* ---------------  END  Section #sc-contact-form =-= from only contact page ??? =-= --------------- */
/* ----------- START Section #sc-looking-for-talent =-= on =-= CONTACT page ----------- */
#sc-looking-for-talent {
  margin-top: -40px; }

#sc-looking-for-talent .vc_column-inner {
  background: #01498e;
  margin: 0 auto 120px;
  text-align: center;
  padding: 90px 0; }
  @media (min-width: 480px) and (max-width: 767px) {
    #sc-looking-for-talent .vc_column-inner {
      max-width: 90%; } }

#sc-looking-for-talent h2,
#sc-looking-for-talent h4,
#sc-looking-for-talent p {
  color: #fff; }

#sc-looking-for-talent p {
  padding: 0 10%;
  margin-bottom: 50px; }

/* -----------  END  Section #sc-looking-for-talent =-= on =-= CONTACT page ----------- */
/* --------------- START Section #sc-follow-us =-= on =-= CONTACT page --------------- */
#sc-follow-us h4 {
  margin-bottom: 50px; }

#sc-follow-us .social-links {
  list-style: none;
  margin: 0 0 150px; }

#sc-follow-us .social-links li {
  display: inline-block;
  margin: 0; }

#sc-follow-us .social-links a {
  display: inline-block;
  height: 45px;
  width: 45px;
  background: #01498e;
  color: #fff;
  line-height: 45px;
  -webkit-border-radius: 98px;
          border-radius: 98px;
  -webkit-transition: background .4s;
  transition: background .4s;
  font-size: 20px;
  margin: 0 6px; }

#sc-follow-us .social-links a:hover {
  background: #E51E54; }

@media (min-width: 480px) and (max-width: 767px) {
  #sc-follow-us .social-links a {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 24px; } }

@media (min-width: 768px) {
  #sc-follow-us .social-links a {
    height: 98px;
    width: 98px;
    line-height: 98px;
    font-size: 30px; } }

/* ---------------  END  Section #sc-follow-us =-= on =-= CONTACT page --------------- */
