body.YP_work-program--page .btn.hover-blue:hover {
	background-color: #01498E;
}

body.YP_work-program--page .btn.hover-blue {
	margin: 7.5px 15px;
}
body.YP_work-program--page #work-program-text-1row {
	padding: 180px 0;
	text-align: center;
}
body.YP_work-program--page .work-program-text-content img {
	margin-bottom: 45px;
}
body.YP_work-program--page .work-program-text-content .over_title {
	margin-bottom: 30px;
}
body.YP_work-program--page .work-program-text-content h2 {
	margin-bottom: 45px;
}
body.YP_work-program--page .program-step {
	padding: 150px 60px;
	box-sizing:border-box;
	text-align: center;
}
body.YP_work-program--page #program-steps-row > .vc_row {
display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
body.YP_work-program--page .program-step .over_title {
	margin-bottom: 30px;
}
body.YP_work-program--page .program-step h2 {
	margin-bottom: 45px;
}
body.YP_work-program--page .program-step img {
	margin-bottom: 20px;
}
body.YP_work-program--page .program-step.gray {
	background: #f4f4f4;
}

body.YP_work-program--page .program-custom-slide > .vc_column-inner  {
	color: #fff;
	text-align: center;
	padding: 350px 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
body.YP_work-program--page .program-custom-slide .over_title {
	margin-bottom: 30px;
}
body.YP_work-program--page .program-custom-slide h2 {
	margin-bottom: 45px;
	color: #fff;
}
body.YP_work-program--page .program-custom-slide .btn_row {
	margin-top: 30px;
}
body.YP_work-program--page #program-tab-col {
	background: #01498E;
	padding: 150px 90px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}
body.YP_work-program--page #program-tab-col .over_title {
	margin-bottom: 30px;
}
body.YP_work-program--page #program-tab-col h2 {
	margin-bottom: 45px;
	color: #fff;
}
body.YP_work-program--page #program-tab-section {
	margin: -90px 0;
}
body.YP_work-program--page #program-coffee-row {
	padding: 100px 15px;
}
body.YP_work-program--page .program-coffee-item > .vc_column-inner{
	height: 100%;
	padding: 225px 10% 225px 0;
	box-sizing: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

body.YP_work-program--page .program-coffee-item .over_title {
	margin-bottom: 30px;
}
body.YP_work-program--page .program-coffee-item h2 {
	margin-bottom: 45px;
}
body.YP_work-program--page .program-coffee-item .btn_row {
	text-align: left;
	margin-top: 30px;
}
body.YP_work-program--page  #program-coffee-row {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 1400px) {
body.YP_work-program--page a.btn-medium, body.YP_work-program--page button.btn-medium {
   padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
body.YP_work-program--page #work-program-text-1row {
    padding: 60px 0;
}
body.YP_work-program--page .program-step {
    padding: 60px 0;
}
body.YP_work-program--page .program-custom-slide > .vc_column-inner {
    padding: 200px 15px;
}
body.YP_work-program--page #program-tab-col {
    padding: 60px 0;
}
body.YP_work-program--page #program-tab-section {
    margin: 0;
}
body.YP_work-program--page #program-coffee-row {
    padding: 60px 15px !important;
}
body.YP_work-program--page .program-coffee-item > .vc_column-inner {
    padding: 100px 10% 100px 0;
}
body.YP_work-program--page .work-program-text-content img {
    margin-bottom: 15px;
}
body.YP_work-program--page .work-program-text-content .over_title {
    margin-bottom: 15px;
}
body.YP_work-program--page .work-program-text-content h2 {
    margin-bottom: 15px;
}
body.YP_work-program--page .program-step .over_title {
    margin-bottom: 15px;
}
body.YP_work-program--page .program-step h2 {
   margin-bottom: 15px;
}
body.YP_work-program--page #program-tab-col .over_title {
     margin-bottom: 15px;
}
body.YP_work-program--page #program-tab-col h2 {
     margin-bottom: 15px;
}
body.YP_work-program--page .program-coffee-item h2 {
    margin-bottom: 15px;
}
body.YP_work-program--page .program-coffee-item .over_title {
    margin-bottom: 15px;
}
body.YP_work-program--page .program-coffee-item .btn_row {
    margin-top: 0;
    text-align: left;
}
body.YP_work-program--page .program-custom-slide h2 {
    margin-bottom: 15px;
}
body.YP_work-program--page .program-custom-slide .over_title {
    margin-bottom: 15px;
}
}




@media (max-width: 768px) {
	body.YP_work-program--page .program-coffee-item .btn_row {
    text-align: center;
}
body.YP_work-program--page #work-program-text-1row {
    padding: 30px 0;
}

body.YP_work-program--page .program-custom-slide > .vc_column-inner {
    padding: 150px 15px;
}
body.YP_work-program--page #program-tab-col {
    padding: 30px 0;
}

body.YP_work-program--page #program-coffee-row {
    padding: 30px 15px !important;
}
body.YP_work-program--page .program-coffee-item > .vc_column-inner {
	padding: 0;
	text-align: center;
}
body.YP_work-program--page .program-coffee-item.image-item > .vc_column-inner{
	margin-top: 15px;
	min-height: 300px;
}

body.YP_work-program--page .program-step {
    padding: 30px 0;
}

}