/* --------------------- START body.CE_1_of_6_jobs--page on 1 of 6 pages (sales gladiator, digital merketing hero & etc.... ) --------------------- */
body.CE_1_of_6_jobs--page,
body.CE_1_of_6_jobs--page * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body.CE_1_of_6_jobs--page {
  min-height: 120vh; }

body.CE_1_of_6_jobs--page .img_row img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

body.CE_1_of_6_jobs--page .img_row.right img {
  margin-right: 0; }

body.CE_1_of_6_jobs--page .img_row.left img {
  margin-left: 0; }

/* ------------ START custom-section--tile on 1 of 6 pages (sales gladiator, digital merketing hero, prod. capitan & etc.... ) ------------ */
body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--left * {
  color: #ffffff; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--right * {
  color: #000000; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--right * {
  color: #ffffff; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left * {
  color: #ffffff; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right * {
  color: #000000; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right .vc_row {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media (max-width: 767px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--left {
    background-color: #02488e; } }

@media (min-width: 768px) and (max-width: 991px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--left > div {
    padding-bottom: 100px !important; } }

@media (max-width: 767px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--right {
    background-color: #afadae; } }

@media (min-width: 768px) and (max-width: 991px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--right > div {
    margin-top: 100px; } }

@media (max-width: 767px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--left {
    min-height: 400px; } }

@media (max-width: 991px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left > div {
    padding-top: 40px !important; } }

@media (max-width: 991px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top > div {
    margin-top: -40px !important; } }

@media (max-width: 767px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--left,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--right,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--left,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--right,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right {
    padding: 0 !important;
    margin: 0 !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--left > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--right > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--left > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--right > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top > div {
    padding-left: 40px !important;
    padding-right: 40px !important; } }

@media (max-width: 767px) {
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--left > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--1row--right > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--left > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--2row--right > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left > div,
  body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top > div {
    margin: 0 !important;
    padding: 40px 15px !important; } }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left .some_info p span,
body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top .some_info h3 span {
  display: inline-block;
  vertical-align: baseline;
  width: 40px;
  height: 10px;
  line-height: 0.3 !important;
  position: relative; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left .some_info p span img,
body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top .some_info h3 span img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -37px;
  left: 0; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left .some_info p span:first-child {
  top: 8px;
  margin-right: 22px; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--left .some_info p span:last-child {
  top: 25px;
  margin-left: 22px; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top .some_info h3 span:first-child {
  top: -7px;
  margin-right: 5px; }

body.CE_1_of_6_jobs--page #custom-section--tile .custom-section--tile--3row--right--top .some_info h3 span:last-child {
  top: 25px;
  margin-left: 5px; }

/* ------------  END  custom-section--tile on 1 of 6 pages (sales gladiator, digital merketing hero, prod. capitan & etc.... ) ------------ */
/* ------------ START section--looking_for_other_functions on 1 of 6 pages (sales gladiator, digital merketing hero & etc.... ) ------------ */
body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #title_row {
  padding-left: 15px !important;
  padding-right: 15px !important; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row {
  text-align: center;
  width: 100%;
  max-width: 1920px;
  height: 359px;
  margin-top: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row {
      height: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row {
      height: auto; } }
  @media (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row {
      height: auto;
      margin-top: 65px !important; } }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
  display: inline-block;
  width: 20%;
  max-width: 384px;
  height: 359px;
  text-align: center;
  border-top: 2px solid #D9D9D9;
  margin: 0 -2px; }
  @media (min-width: 1201px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      margin-bottom: -10px !important; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      margin-bottom: -8px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      margin-bottom: -6px !important; } }
  @media (min-width: 1201px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      width: 20%; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      width: 33%;
      height: auto; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      width: 50%;
      height: auto; } }
  @media (max-width: 767px) {
    body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto; } }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12:nth-child(odd) {
  background-color: #F4F4F4; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t {
  display: table;
  width: 100%;
  height: 359px; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t .square--tr {
  display: table-row;
  width: 100%;
  height: 179.5px; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t .square--tc {
  display: table-cell;
  width: 100%;
  height: 179.5px; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t .square--tr.tr_top .square--tc {
  vertical-align: bottom;
  text-align: center; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t .square--tr.tr_top .square--tc div {
  display: inline-block;
  width: 125px;
  height: 125px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background-image 0.3s ease-in-out 0s;
  transition: background-image 0.3s ease-in-out 0s; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.customer_service_ninja .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-customer_service_ninja.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.customer_service_ninja:hover .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-customer_service_ninja-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.sales_gladiator .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-sales_gladiator.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.sales_gladiator:hover .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-sales_gladiator-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.digital_marketing_hero .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-digital_marketing_hero.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.digital_marketing_hero:hover .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-digital_marketing_hero-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.credit_collection_sheriff .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-credit_collection_sheriff.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.credit_collection_sheriff:hover .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-credit_collection_sheriff-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.product_captain .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-product_captain.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.product_captain:hover .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-product_captain-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.joker_profiles .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-joker_profiles.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.joker_profiles:hover .square--tr.tr_top .square--tc div {
  background-image: url("/wp-content/uploads/2017/08/CE-main-joker_profiles-w.svg"); }

/* --------------- START hook for preload img ---------------  */
body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a .square--tr.tr_top .square--tc div:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 1;
  left: 0;
  top: 0; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.customer_service_ninja .square--tr.tr_top .square--tc div:before {
  background-image: url("/wp-content/uploads/2017/08/CE-main-customer_service_ninja-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.sales_gladiator .square--tr.tr_top .square--tc div:before {
  background-image: url("/wp-content/uploads/2017/08/CE-main-sales_gladiator-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.digital_marketing_hero .square--tr.tr_top .square--tc div:before {
  background-image: url("/wp-content/uploads/2017/08/CE-main-digital_marketing_hero-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.credit_collection_sheriff .square--tr.tr_top .square--tc div:before {
  background-image: url("/wp-content/uploads/2017/08/CE-main-credit_collection_sheriff-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.product_captain .square--tr.tr_top .square--tc div:before {
  background-image: url("/wp-content/uploads/2017/08/CE-main-product_captain-w.svg"); }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t.joker_profiles .square--tr.tr_top .square--tc div:before {
  background-image: url("/wp-content/uploads/2017/08/CE-main-joker_profiles-w.svg"); }

/* ---------------  END hook for preload img --------------- */
body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t .square--tr.tr_bottom .square--tc {
  vertical-align: top; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t .square--tr.tr_bottom .square--tc p {
  color: #01498E;
  font-family: "Colfax Regular";
  padding-top: 30px;
  -webkit-transition: color 0.3s ease-in-out 0s;
  transition: color 0.3s ease-in-out 0s; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12 {
  -webkit-transition: background-color 0.3s ease-in-out 0s;
  transition: background-color 0.3s ease-in-out 0s; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row .own_col_5_12:hover {
  background-color: #01498E; }

body.CE_1_of_6_jobs--page #custom-section--looking_for_other_functions #square_row a.square--t:hover .square--tr.tr_bottom .square--tc p {
  color: #ffffff; }

/* ------------  END  section--looking_for_other_functions on 1 of 6 pages (sales gladiator, digital merketing hero & etc.... ) ------------ */
/* ---------------------  END  body.CE_1_of_6_jobs--page on 1 of 6 pages (sales gladiator, digital merketing hero & etc.... ) --------------------- */
/* ------------ START section--joker_contact_form--block on 1 of 6 pages ( =-= ON JOKER PAGE =-= ) ------------ */
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form--block > div > div {
  padding: 100px 75px !important; }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form--block > div > div {
      padding: 75px 50px !important; } }
  @media (max-width: 767px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form--block > div > div {
      padding: 50px 20px !important; } }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form * {
  color: #ffffff !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form {
  display: block !important;
  width: 75% !important;
  margin-top: 50px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form {
      width: 90% !important;
      margin-top: 35px !important; } }
  @media (max-width: 767px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form {
      margin-top: 20px !important;
      width: 100% !important; } }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form * {
  font-family: "Colfax Medium", "Roboto", Arial, Tahoma, sans-serif !important; }
  @media (min-width: 1400px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form * {
      font-size: 18px !important; } }
  @media (min-width: 1201px) and (max-width: 1399px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form * {
      font-size: 16px !important; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form * {
      font-size: 15px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form * {
      font-size: 14px !important; } }
  @media (max-width: 767px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form * {
      font-size: 13px !important; } }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-image: none !important;
  color: #ffffff !important;
  -webkit-border-radius: 10px !important;
          border-radius: 10px !important;
  padding: 15px 35px;
  -webkit-transition: all 0.3s ease-in-out 0s !important;
  transition: all 0.3s ease-in-out 0s !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input:not([type="submit"]) {
  border: 2px solid #ffffff !important;
  background-color: #01498E !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea {
  padding-top: 20px;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 250px;
  height: 250px;
  max-height: 400px; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea::-webkit-input-placeholder,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.3) !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea::-moz-placeholder,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.3) !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea:-ms-input-placeholder,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.3) !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea::placeholder,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input::placeholder {
  color: rgba(255, 255, 255, 0.3) !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form textarea:hover,
body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form input:not([type="submit"]):hover {
  background-color: rgba(255, 255, 255, 0.3) !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .form_names {
  padding: 0 !important;
  margin: 0 0 15px 0 !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .form_names > span {
  width: 49%;
  padding: 0;
  margin: 0; }
  @media (max-width: 767px) {
    body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .form_names > span {
      width: 100%;
      float: none; } }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .form_names > span > input {
  margin-bottom: 15px; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .form_names > span:first-child {
  float: left; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .form_names > span:last-child {
  float: right; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .btn_row input[type="submit"] {
  width: 100%;
  max-width: 350px;
  background-color: #E51E54 !important;
  border: 2px solid transparent !important;
  padding-left: 0 !important;
  padding-right: 0 !important; }

body.CE_1_of_6_jobs--page #custom-section--joker_contact_form form .btn_row input[type="submit"]:hover {
  background-color: #01498E !important;
  border: 2px solid #ffffff !important; }

/* ------------  END  section--joker_contact_form--block on 1 of 6 pages ( =-= ON JOKER PAGE =-= ) ------------ */
body.CE_vacancy_overview--page .section_wrapper #custom-section--vacancies #vacancie--item,
body.CE_vacancy_detail--page .section_wrapper #custom-section--vacancies #vacancie--item {
  padding-left: 0px !important;
  padding-right: 0px !important; }
  @media (max-width: 767px) {
    body.CE_vacancy_overview--page .section_wrapper #custom-section--vacancies #vacancie--item,
    body.CE_vacancy_detail--page .section_wrapper #custom-section--vacancies #vacancie--item {
      padding-left: 15px !important;
      padding-right: 15px !important; } }

@media (min-width: 1200px) and (max-width: 1566px) {
  body.CE_vacancy_overview--page .section_wrapper #custom-section--vacancies #vacancie--item {
    padding-right: 15px !important; } }

/* --------------------------------------- START CE_vacancy_overview--page & CE_vacancy_detail--page --------------------------------------- */
/* --------- START CE_vacancy_overview--page & CE_vacancy_detail--page  ONLY  custom-section--top_tab (BLUE BLOCK) --------- */
/* ---------------------------------------------------- START the same ----------------------------------------------------- */
body.CE_vacancy_overview--page #custom-section--top_tab > div,
body.CE_vacancy_detail--page #custom-section--top_tab > div {
  z-index: 10; }

body.CE_vacancy_overview--page #custom-section--top_tab,
body.CE_vacancy_overview--page #custom-section--top_tab *,
body.CE_vacancy_detail--page #custom-section--top_tab,
body.CE_vacancy_detail--page #custom-section--top_tab * {
  color: #ffffff; }

body.CE_vacancy_overview--page #custom-section--top_tab .top_tab > div,
body.CE_vacancy_detail--page #custom-section--top_tab .top_tab > div {
  padding-top: 70px !important;
  padding-bottom: 100px !important;
  padding-left: 40px !important;
  padding-right: 40px !important; }
  @media (max-width: 767px) {
    body.CE_vacancy_overview--page #custom-section--top_tab .top_tab > div,
    body.CE_vacancy_detail--page #custom-section--top_tab .top_tab > div {
      padding-bottom: 50px !important;
      margin-top: 0 !important; } }

/* ----------------------------------------------------  END  the same ----------------------------------------------------- */
/* --------------------------------------------------- START different ----------------------------------------------------- */
body.CE_vacancy_overview--page #custom-section--top_tab {
  margin-top: -100px !important; }
  @media (max-width: 991px) {
    body.CE_vacancy_overview--page #custom-section--top_tab {
      margin-top: 0 !important; } }

@media (max-width: 991px) {
  body.CE_vacancy_detail--page #row_scroll {
    display: none; } }

@media (max-width: 991px) {
  body.CE_vacancy_detail--page #row_scroll.top-200.overlap + div > div {
    margin-top: 0 !important; } }

@media (max-width: 767px) {
  body.CE_vacancy_overview--page section#custom-section--top_tab .top_tab > div {
    padding-top: 70px !important; } }

@media (max-width: 767px) {
  body.CE_vacancy_detail--page #custom-section--top_tab .top_tab > div {
    padding-top: 40px !important; } }

/* ---------------------------------------------------  END  different ----------------------------------------------------- */
/* --- --- --- ------ --- --- --- START sass _add_for_post_vacancies --- --- --- --- --- --- --- --- */
/* --- --- --- --- --- --- START sass _grid --- --- --- --- --- --- */
.vc_row,
#Top_bar .container,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row,
body.CE_companies--page section#custom--slide_ce_job_functions .container {
  padding-left: 9.63% !important;
  padding-right: 9.63% !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  @media (max-width: 767px) {
    .vc_row,
    #Top_bar .container,
    #section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row,
    body.CE_companies--page section#custom--slide_ce_job_functions .container {
      padding-left: 0% !important;
      padding-right: 0% !important; } }

@media (min-width: 1570px) {
  .vc_row,
  #section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row,
  body.CE_companies--page section#custom--slide_ce_job_functions .container {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-left: 15px !important;
    margin-right: 15px !important; } }

@media (max-width: 767px) {
  #Header #Top_bar div.logo a#logo,
  #section__1--slider .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media (min-width: 1570px) {
  #Header #Top_bar div.logo a#logo {
    margin-left: -2% !important; } }

@media (min-width: 1570px) {
  body.CE_home--page section#custom--tab_row .vc_row {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 1570px) {
  body.CE_companies--page section#custom--tab_row .vc_row {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 992px) and (max-width: 1570px) {
  body.CE_home--page section#custom--why_working_at_spring .custom--why_working_at_spring--blue_block {
    margin-left: 9.63% !important;
    margin-right: 9.63% !important; } }

@media (max-width: 767px) {
  body.CE_companies--page section#custom--slide_ce_job_functions .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media (min-width: 1200px) {
  body.CE_companies--page #custom--lets_match .container > div,
  body.CE_companies--page #custom--companies_testimonials .container > div {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

/* ----------------- START like bootstrap grid ----------------- */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row:before,
.row:after {
  display: table;
  content: " "; }

.row:after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8 {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4 {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2 {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0; } }

/* -----------------  END  like bootstrap grid ----------------- */
/* -----------------  END  like bootstrap grid ----------------- */
/* --- --- --- --- --- ---  END  sass _grid --- --- --- --- --- --- */
/* --- --- --- --- --- ---  END  sass _grid --- --- --- --- --- --- */
body.CE_vacancy_overview--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/09/3_9_CE_vacancy_overview_V07_09_bgi1.jpg"); }

body.Spring_home--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/home-header-bg.jpg"); }

body.CE_home--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/09/3_1_CE_home_V07_09_Header_2_bgi.jpg"); }

body.sales_gladiator--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3_3_CE_sales_gladiator_V01_08_bgi.jpg"); }

body.digital_marketter--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3_4_CE_digital_marketeer_V01_08_bgi.jpg"); }

body.credit_collection_sheriff--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3_5_CE_credit_collection_sheriff_V01_08_bgi.jpg"); }

body.customer_service_ninja--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3_6_CE_customer_service_ninja_V01_08_bgi.jpg"); }

body.product_captain--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3_7_CE_product_captain_V01_08_bgi.jpg"); }

body.the_joker--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3_8_CE_the_joker_V01-08_bgi.jpg"); }

body.CE_success-stories--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/Success-Stories.jpg"); }

body.CE_vacancy_detail--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3-10-CE-vacancy-detail-V01-08.jpg"); }

body.YP_home--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/4-1-YP-home-V03-10-bgi.jpg"); }

body.YP_job-functions--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/YP-job-function-V03-10-bgi.jpg"); }

body.YP_future-recruitment--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/4-3-YP-future-recruitment-V03-10-bgi.jpg"); }

body.YP_future_marketing--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/4-4-YP-future-marketing-V03-10-bgi.jpg"); }

body.YP_companies--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/4-7-YP-companies-V03-10-bgi.jpg"); }

body.Spring_contact--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/09/Spring-contact-page-V-28-09.jpg"); }

body.CE_job-functions--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/09/3-2-CE-job-functions-V28-09-bgi.jpg"); }

body.CE_companies--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/3-11-CE-companies-V04-10-01-bgi.jpg"); }

body.YP_contact--page #section__1--slider {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/4-9-YP-contact-page-V06-10-bgi.jpg"); }

#section__1--slider,
#section__1--slider * {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

#section__1--slider {
  background-color: #05071E;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#section__1--slider .vc_row,
#section__1--slider .wpb_column.vc_column_container,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row,
#section__1--slider .wpb_column.vc_column_container > .vc_column-inner > .wpb_wrapper > .wpb_raw_html > .wpb_wrapper > .row > .container {
  height: 100vh;
  margin: 0 auto !important; }

body.CE_vacancy_overview--page #section__1--slider p.over_title {
  color: #ffffff; }

#section__1--slider .section__1--main_title_block {
  width: 100%;
  height: 100vh;
  display: table; }

#section__1--slider .section__1--main_title_block .main_title {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  position: relative; }

#section__1--slider .section__1--main_title_block h1.title,
#section__1--slider .section__1--main_title_block div.title,
#section__1--slider .section__1--main_title_block h5.sub_title,
#section__1--slider .section__1--main_title_block h6.sub_title {
  color: #ffffff;
  text-align: left;
  margin: 20px 0; }
  @media (min-width: 991px) {
    #section__1--slider .section__1--main_title_block h1.title,
    #section__1--slider .section__1--main_title_block div.title,
    #section__1--slider .section__1--main_title_block h5.sub_title,
    #section__1--slider .section__1--main_title_block h6.sub_title {
      max-width: 800px; } }

@media (max-width: 767px) {
  #section__1--slider .btn {
    display: inline-block !important;
    padding: 7px 12px;
    width: auto !important;
    min-width: 45%;
    margin-right: 10%; } }

body #section__1--slider a.btn-pink:hover,
body #section__1--slider button.btn-pink:hover {
  background-color: #00386d !important; }

body #section__1--slider a.btn-blue:hover,
body #section__1--slider button.btn-blue:hover {
  background-color: #a2143b !important; }

#row_scroll.top_slider {
  position: absolute !important;
  bottom: 0 !important;
  width: 100%; }
  @media (max-width: 767px) {
    #row_scroll.top_slider {
      display: none !important; } }

#row_scroll.top_slider .vr-line {
  height: 0 !important; }

#row_scroll.top_slider button.scroll_btn {
  margin-left: 0px !important;
  margin-bottom: 25px !important;
  font-size: 17px !important;
  line-height: 17px !important;
  letter-spacing: 4px !important; }

#section__1--slider ul.social-links {
  padding: 0;
  margin: 0 0 0 -10px; }

#section__1--slider ul.social-links li.menu-item {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 5px 0 0; }

#section__1--slider ul.social-links li.menu-item > a {
  padding: 7px; }

#section__1--slider ul.social-links li.menu-item:first-child > a {
  padding-left: 0; }

#section__1--slider ul.social-links li.menu-item > a > span {
  font-size: 24px;
  color: #ffffff; }

#row_scroll.top350 {
  top: 350px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top350 + section {
  margin-top: 350px !important; }

#row_scroll.top300 {
  top: 300px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top300 + section {
  margin-top: 300px !important; }

#row_scroll.top250 {
  top: 250px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top250 + section {
  margin-top: 250px !important; }

#row_scroll.top200 {
  top: 200px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top200 + section {
  margin-top: 200px !important; }

#row_scroll.top150 {
  top: 150px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top150 + section {
  margin-top: 150px !important; }

#row_scroll.top100 {
  top: 100px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top100 + section {
  margin-top: 100px !important; }

#row_scroll.top50 {
  top: 50px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top50 + section {
  margin-top: 50px !important; }

#row_scroll.top-50 {
  top: -50px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-50 + section {
  margin-top: -50px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-50.overlap + section {
  margin-top: -140px !important; }

#row_scroll.top-100 {
  top: -100px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-100 + section {
  margin-top: -100px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-100.overlap + section {
  margin-top: -190px !important; }

#row_scroll.top-150 {
  top: -150px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-150 + div > div {
  margin-top: -150px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-150.overlap + section {
  margin-top: -240px !important; }

#row_scroll.top-200 {
  top: -200px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-200 + section {
  margin-top: -200px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-200.overlap + section {
  margin-top: -290px !important; }

#row_scroll.top-250 {
  top: -250px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-250 + section {
  margin-top: -250px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-250.overlap + section {
  margin-top: -340px !important; }

#row_scroll.top-300 {
  top: -300px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-300 + section {
  margin-top: -300px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-300.overlap + section {
  margin-top: -390px !important; }

#row_scroll.top-350 {
  top: -350px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-350 + section {
  margin-top: -350px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-350.overlap + section {
  margin-top: -440px !important; }

body.vacancies-template-default.CE_vacancy_detail--page #Subheader {
  display: none; }

body.vacancies-template-default.CE_vacancy_detail--page section#section__1--slider * {
  color: #ffffff !important; }

body.vacancies-template-default.CE_vacancy_detail--page section#section__1--slider > .row {
  height: 100vh;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3-10-CE-vacancy-detail-V01-08.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

body.vacancies-template-default.CE_vacancy_detail--page section#section__1--slider .section__1--main_title_block {
  width: 100%;
  height: 100vh;
  display: table;
  padding-left: 15px;
  padding-right: 15px; }

body.vacancies-template-default.CE_vacancy_detail--page section#section__1--slider .section__1--main_title_block .main_title {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  height: 100vh; }

body.vacancies-template-default.CE_vacancy_detail--page section#section__1--slider .section__1--main_title_block h1.title,
body.vacancies-template-default.CE_vacancy_detail--page section#section__1--slider .section__1--main_title_block h5.sub_title {
  letter-spacing: -2px;
  text-align: left;
  margin: 20px auto; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab {
  margin-left: auto !important;
  margin-right: auto !important;
  position: relative; }

@media (max-width: 767px) {
  body.vacancies-template-default.CE_vacancy_detail--page #row_scroll.top-200.overlap + section {
    margin-top: 0 !important; } }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab,
body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab * {
  z-index: 10; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab #custom-section--top_tab > .container > .row,
body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab #top_tab,
body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab #info_block {
  background-color: #01498E; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab #info_block {
  padding-bottom: 50px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .left-side,
body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .right-side {
  display: inline-block;
  width: 49.7%;
  padding: 0 50px; }
  @media (max-width: 767px) {
    body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .left-side,
    body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .right-side {
      width: 100%;
      padding: 0; } }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .info_item {
  margin-bottom: 35px; }

body.vacancies-template-default.CE_vacancy_detail--page #own_sidebar .sidebar_title---block {
  background-color: #ADABAD; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab > .container > .row {
  padding-top: 100px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .top_tab {
  padding-top: 30px;
  padding-bottom: 100px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--top_tab .top_tab * {
  text-align: center !important; }

body.vacancies-template-default.CE_vacancy_detail--page #social_row_block {
  top: 140px;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  @media (max-width: 767px) {
    body.vacancies-template-default.CE_vacancy_detail--page #social_row_block {
      top: 0; } }

body.vacancies-template-default.CE_vacancy_detail--page .user_actions {
  margin-bottom: 35px; }

@media (min-width: 1695px) {
  body.vacancies-template-default.CE_vacancy_detail--page #own_sidebar {
    margin-top: -425px !important; } }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--vacancies {
  padding-bottom: 100px;
  border-bottom: 1px solid #626262; }

@media (min-width: 1695px) {
  body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--vacancies {
    position: relative;
    left: 0 !important; } }

@media (min-width: 1695px) {
  body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--vacancies > .row {
    position: relative;
    left: -100px; } }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--apply_by_filling {
  background-color: #F4F4F4; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--apply_by_filling > .row {
  padding-top: 50px;
  padding-bottom: 300px; }

body.vacancies-template-default.CE_vacancy_detail--page #custom-section--apply_by_filling--row {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--apply_by_filling .apply_by_filling--title * {
  text-align: center; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--apply_by_filling .apply_by_filling--title p,
body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--apply_by_filling .apply_by_filling--title h2 {
  margin-bottom: 35px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--apply_by_filling form.apply_by_filling--form {
  margin-top: 100px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--not_what_youre_looking_for {
  z-index: 10;
  position: relative;
  margin-top: -150px;
  margin-bottom: -150px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--not_what_youre_looking_for > .container {
  max-width: -webkit-calc( 1548px - 200px) !important;
  max-width: calc( 1548px - 200px) !important; }

body.vacancies-template-default.CE_vacancy_detail--page section#custom-section--not_what_youre_looking_for > .container > .row {
  background-color: #01498E;
  padding-top: 120px;
  padding-bottom: 150px; }

body.vacancies-template-default.CE_vacancy_detail--page .custom-section--not_what_youre_looking_for--blue_block * {
  color: #ffffff; }

body.vacancies-template-default.CE_vacancy_detail--page .custom-section--not_what_youre_looking_for--blue_block p,
body.vacancies-template-default.CE_vacancy_detail--page .custom-section--not_what_youre_looking_for--blue_block h2 {
  text-align: center;
  margin-bottom: 35px; }

body.vacancies-template-default.CE_vacancy_detail--page .custom-section--not_what_youre_looking_for--blue_block .btn_row {
  margin-top: 80px; }

body.vacancies-template-default.CE_vacancy_detail--page section#CE_vacancy_detail--page--slide-we_are_hiring {
  position: relative;
  z-index: 8; }

body.vacancies-template-default.CE_vacancy_detail--page section#CE_vacancy_detail--page--slide-we_are_hiring > .container {
  width: 100% !important;
  max-width: 1720px !important; }

body.vacancies-template-default.CE_vacancy_detail--page section#CE_vacancy_detail--page--slide-we_are_hiring > .container > .row {
  height: 100vh;
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/3-10-CE-vacancy-detail-V01-08-we_are_hiring.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

body.vacancies-template-default.CE_vacancy_detail--page section#custome-section--you_vacancies_on_this_page p,
body.vacancies-template-default.CE_vacancy_detail--page section#custome-section--you_vacancies_on_this_page h2 {
  text-align: center;
  margin-bottom: 35px; }

body.vacancies-template-default.CE_vacancy_detail--page section#custome-section--you_vacancies_on_this_page > .container > .row {
  padding-top: 75px;
  padding-bottom: 200px; }

/* --- --- --- --- --- --- --- ---  END  sass _add_for_post_vacancies --- --- --- --- --- --- --- --- */
/* --- --- --- --- --- --- --- ---  END  sass _add_for_post_vacancies --- --- --- --- --- --- --- --- */
/* ----------------- START CE_vacancy_detail in BLUE BLOCK ----------------- */
body.CE_vacancy_detail--page #section--row_scroll_down.after_top_tab_blue_block {
  margin-top: 150px !important; }
  @media (max-width: 991px) {
    body.CE_vacancy_detail--page #section--row_scroll_down.after_top_tab_blue_block {
      margin-top: 0 !important; } }

body.CE_vacancy_detail--page #section--row_scroll_down.after_top_tab_blue_block button.scroll_btn_next {
  top: -30px !important; }

body.CE_vacancy_detail--page #custom-section--top_tab {
  margin-bottom: 50px !important; }
  @media (min-width: 1199px) and (max-width: 1695px) {
    body.CE_vacancy_detail--page #custom-section--top_tab {
      margin-bottom: 100px !important; } }
  @media (max-width: 1199px) {
    body.CE_vacancy_detail--page #custom-section--top_tab {
      margin-bottom: 0 !important; } }

body.CE_vacancy_detail--page #custom-section--top_tab .top_tab .img_row img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

body.CE_vacancy_detail--page #custom-section--top_tab .info_item {
  border-bottom: 2px solid #ffffff;
  padding-top: 10px;
  padding-bottom: 10px; }

body.CE_vacancy_detail--page #custom-section--top_tab .info_item * {
  display: inline-block;
  vertical-align: middle; }
  @media (min-width: 992px) and (max-width: 1199px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .info_item * {
      display: block; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .info_item * {
      display: block; } }
  @media (max-width: 600px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .info_item * {
      display: block; } }

body.CE_vacancy_detail--page #custom-section--top_tab span.img_box {
  width: 35px;
  height: 35px;
  margin-right: 15px; }
  @media (max-width: 1200px) {
    body.CE_vacancy_detail--page #custom-section--top_tab span.img_box {
      margin-bottom: 15px; } }

body.CE_vacancy_detail--page #custom-section--top_tab span.img_box img {
  width: auto;
  height: 35px; }

body.CE_vacancy_detail--page #custom-section--top_tab .info_item,
body.CE_vacancy_detail--page #custom-section--top_tab .label {
  font-size: 21px; }

body.CE_vacancy_detail--page #custom-section--top_tab .label {
  opacity: 0.4;
  float: right;
  margin-top: 12px;
  font-family: "Colfax Regular";
  text-transform: uppercase; }
  @media (min-width: 992px) and (max-width: 1199px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .label {
      float: none;
      text-align: right; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .label {
      float: none;
      text-align: right; } }
  @media (max-width: 767px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .label {
      margin-top: 23px; } }
  @media (max-width: 600px) {
    body.CE_vacancy_detail--page #custom-section--top_tab .label {
      float: none;
      text-align: right; } }

body.CE_vacancy_detail--page #custom-section--top_tab .city,
body.CE_vacancy_detail--page #custom-section--top_tab .contact_duration,
body.CE_vacancy_detail--page #custom-section--top_tab .date,
body.CE_vacancy_detail--page #custom-section--top_tab .category {
  font-family: "Colfax Bold";
  text-transform: uppercase; }

/* ----- START CE_vacancy_detail--page (BLUE BLOCK) Social Block ---- */
body.CE_vacancy_detail--page #social_row_block {
  position: relative; }
  @media (max-width: 767px) {
    body.CE_vacancy_detail--page #social_row_block {
      padding-top: 35px !important;
      background-color: #01498E; } }

body.CE_vacancy_detail--page #social_row_block .social_block {
  display: inline-block;
  position: absolute;
  top: 00px;
  right: 40px;
  margin-bottom: 0 !important;
  z-index: 100; }
  @media (min-width: 767px) and (max-width: 991px) {
    body.CE_vacancy_detail--page #social_row_block .social_block {
      top: 40px; } }
  @media (max-width: 767px) {
    body.CE_vacancy_detail--page #social_row_block .social_block {
      position: relative;
      top: 0;
      right: 0;
      display: block;
      text-align: center; } }

body.CE_vacancy_detail--page #social_row_block .social_block a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 2px solid #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out 0s;
  transition: opacity 0.3s ease-in-out 0s; }

body.CE_vacancy_detail--page #social_row_block .social_block a:hover {
  opacity: 1; }

body.CE_vacancy_detail--page #social_row_block .social_block a span {
  font-size: 23px; }

body.CE_vacancy_detail--page #social_row_block .social_block a,
body.CE_vacancy_detail--page #social_row_block .social_block a span {
  color: #ffffff; }

/* -----  END  CE_vacancy_detail--page (BLUE BLOCK) Social Block ---- */
/* -----------------  END  CE_vacancy_detail in BLUE BLOCK ----------------- */
/* ---------  END  CE_vacancy_overview--page & CE_vacancy_detail--page  ONLY  custom-section--top_tab (BLUE BLOCK) --------- */
#custom-section--vacancies #vacancie--item .wpb_wrapper > div[class^="vc_custom"] {
  margin-bottom: 0 !important; }

/* ------------- START CE_vacancy_detail--page SIDEBAR block ------------- */
body.CE_vacancy_detail--page #own_sidebar .sidebar_title * {
  color: #000000; }

/* -------------  END  CE_vacancy_detail--page SIDEBAR block ------------- */
body.CE_vacancy_overview--page #custom-section--vacancies,
body.CE_vacancy_detail--page #custom-section--vacancies {
  overflow: visible !important; }
  @media (min-width: 1695px) {
    body.CE_vacancy_overview--page #custom-section--vacancies,
    body.CE_vacancy_detail--page #custom-section--vacancies {
      position: relative;
      left: -100px; } }

@media (min-width: 1695px) {
  body.CE_vacancy_overview--page #custom-section--vacancies {
    margin-top: 150px !important; } }

@media (min-width: 1200px) {
  body.CE_vacancy_detail--page #custom-section--vacancies {
    padding-top: 50px !important; } }

@media (max-width: 1200px) {
  body.CE_vacancy_overview--page #custom-section--vacancies #vacancie--item:first-child {
    padding-top: 35px !important; } }

@media (min-width: 991px) and (max-width: 1199px) {
  body.CE_vacancy_overview--page #own_sidebar,
  body.CE_vacancy_detail--page #own_sidebar {
    margin-top: 0px !important; } }

@media (max-width: 991px) {
  body.CE_vacancy_overview--page #own_sidebar,
  body.CE_vacancy_detail--page #own_sidebar {
    margin-top: 50px !important; } }

@media (min-width: 1695px) {
  body.CE_vacancy_overview--page #own_sidebar {
    margin-top: -250px !important; } }

@media (min-width: 1695px) {
  body.CE_vacancy_detail--page #own_sidebar {
    margin-top: -450px !important; } }

body.CE_1_of_6_jobs--page #custom-section--vacancies {
  padding-top: 100px !important;
  padding-bottom: 20px !important; }

body.CE_vacancy_overview--page #custom-section--vacancies #vacancie--item,
body.CE_vacancy_detail--page #custom-section--vacancies #vacancie--item {
  padding-bottom: 35px !important; }

#custom-section--vacancies #vacancie--item {
  width: 100% !important;
  max-width: 1220px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 1201px) {
    #custom-section--vacancies #vacancie--item {
      max-width: 1220px !important; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    #custom-section--vacancies #vacancie--item {
      max-width: 992px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #custom-section--vacancies #vacancie--item {
      max-width: 768px !important; } }
  @media (max-width: 767px) {
    #custom-section--vacancies #vacancie--item {
      max-width: 100% !important;
      padding-left: 15px !important;
      padding-right: 15px !important; } }
  @media (min-width: 991px) and (max-width: 1200px) {
    #custom-section--vacancies #vacancie--item {
      padding-left: 0px !important;
      padding-right: 0px !important; } }

#custom-section--vacancies .btn_row {
  padding-left: 15px !important;
  padding-right: 15px !important; }

@media (min-width: 1695px) {
  body.CE_vacancy_overview--page #custom-section--vacancies .btn_row button {
    margin-left: 200px; } }

#custom-section--vacancies #vacancie--item .link_row {
  text-transform: uppercase;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 0; }

#custom-section--vacancies #vacancie--item .link_row a {
  display: block;
  width: 100%;
  height: 35px;
  font-family: "Colfax Bold";
  font-size: 21px; }

#custom-section--vacancies #vacancie--item .link_row a,
#custom-section--vacancies #vacancie--item .link_row a * {
  color: #01498E;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#custom-section--vacancies #vacancie--item .link_row a:hover,
#custom-section--vacancies #vacancie--item .link_row a:hover * {
  color: #E51E54; }

#custom-section--vacancies #vacancie--item .link_row a * {
  display: inline-block;
  vertical-align: middle; }

#custom-section--vacancies #vacancie--item .link_row a i.fa {
  margin-left: 15px; }

#custom-section--vacancies #vacancie--item .vacancie--sub_info {
  margin-bottom: 15px; }
  @media (max-width: 550px) {
    #custom-section--vacancies #vacancie--item .vacancie--sub_info {
      text-align: center; } }

#custom-section--vacancies #vacancie--item .vacancie--sub_info div {
  display: inline-block;
  vertical-align: middle; }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .city,
#custom-section--vacancies #vacancie--item .vacancie--sub_info .date,
#custom-section--vacancies #vacancie--item .vacancie--sub_info .type {
  position: relative;
  font-size: 17px;
  position: relative;
  font-family: "Colfax Regular";
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    #custom-section--vacancies #vacancie--item .vacancie--sub_info .city,
    #custom-section--vacancies #vacancie--item .vacancie--sub_info .date,
    #custom-section--vacancies #vacancie--item .vacancie--sub_info .type {
      margin-bottom: 35px; } }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .city {
  padding-left: 40px;
  margin-right: 20px; }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .date,
#custom-section--vacancies #vacancie--item .vacancie--sub_info .type {
  padding-left: 60px; }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .city:before {
  background-image: url("/wp-content/uploads/2017/08/icon-location-pink.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .date:before {
  background-image: url("/wp-content/uploads/2017/08/icon-calendar-pink.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type.credit_collection_sheriff:before {
  background-image: url("/wp-content/uploads/2017/09/CE-main-credit_collection_sheriff-p.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type.customer_service_ninja:before {
  background-image: url("/wp-content/uploads/2017/09/CE-main-customer_service_ninja-p.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type.digital_marketing_hero:before {
  background-image: url("/wp-content/uploads/2017/09/CE-main-digital_marketing_hero-p.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type.joker_profiles:before {
  background-image: url("/wp-content/uploads/2017/09/CE-main-joker_profiles-p.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type.product_captain:before {
  background-image: url("/wp-content/uploads/2017/09/CE-main-product_captain-p.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type.sales_gladiator:before {
  background-image: url("/wp-content/uploads/2017/09/CE-main-sales_gladiator-p.svg"); }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .city:before,
#custom-section--vacancies #vacancie--item .vacancie--sub_info .date:before {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

#custom-section--vacancies #vacancie--item .vacancie--sub_info .type:before {
  content: '';
  position: absolute;
  left: 0px;
  top: -15px;
  width: 50px !important;
  height: 50px !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

/* ---------------------------------------  END  CE_vacancy_overview--page & CE_vacancy_detail--page --------------------------------------- */
.user_actions button,
.user_actions button:hover {
  width: 75px;
  height: 60px;
  background-color: transparent !important;
  display: inline-block;
  vertical-align: top;
  background-image: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important; }

.user_actions button {
  border: 1px solid transparent; }

.user_actions button:hover {
  border: 1px solid #01498E; }

body.CE_vacancy_overview--page #custom-section--top_tab > div > div {
  padding-left: 0 !important;
  padding-right: 0 !important; }

body.CE_vacancy_overview--page #custom-section--top_tab #info_block {
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 21px; }

body.CE_vacancy_overview--page #custom-section--top_tab #info_block .info_item img {
  margin-right: 15px !important; }

#row_scroll.row_scroll_hide {
  z-index: -1 !important; }

/* ---------------------------- START .search_vacancie--form ---------------------------- */
.search_vacancie--form .search_vacancie--row {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px !important; }

.search_vacancie--form .search_vacancie--row * {
  display: inline-block; }
  @media (max-width: 767px) {
    .search_vacancie--form .search_vacancie--row * {
      display: block; } }

.search_vacancie--form .search_vacancie--row,
.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input:focus,
.search_vacancie--form .search_vacancie--row input:active,
.search_vacancie--form .search_vacancie--row input:hover,
.search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
.search_vacancie--form .search_vacancie--row div.input_city-buffer,
.search_vacancie--form div.own_popup ul.list_of_vacancies li button,
.search_vacancie--form .search_vacancie--row div.fake_city_input,
.search_vacancie--form div.own_popup ul.list_of_city li button {
  font-family: "Colfax Bold" !important;
  display: inline-block !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  border: none !important; }
  @media (max-width: 991xpx) {
    .search_vacancie--form .search_vacancie--row,
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input:focus,
    .search_vacancie--form .search_vacancie--row input:active,
    .search_vacancie--form .search_vacancie--row input:hover,
    .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
    .search_vacancie--form .search_vacancie--row div.input_city-buffer,
    .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
    .search_vacancie--form .search_vacancie--row div.fake_city_input,
    .search_vacancie--form div.own_popup ul.list_of_city li button {
      line-height: 47px !important; } }
  @media (max-width: 767px) {
    .search_vacancie--form .search_vacancie--row,
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input:focus,
    .search_vacancie--form .search_vacancie--row input:active,
    .search_vacancie--form .search_vacancie--row input:hover,
    .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
    .search_vacancie--form .search_vacancie--row div.input_city-buffer,
    .search_vacancie--form div.own_popup ul.list_of_vacancies li button,
    .search_vacancie--form .search_vacancie--row div.fake_city_input,
    .search_vacancie--form div.own_popup ul.list_of_city li button {
      font-size: 32px !important;
      line-height: 1.6 !important;
      display: block !important;
      width: 100% !important; } }

.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input:focus,
.search_vacancie--form .search_vacancie--row input:active,
.search_vacancie--form .search_vacancie--row input:hover,
.search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
.search_vacancie--form .search_vacancie--row div.fake_city_input {
  color: #E51E54 !important;
  border-bottom: 2px solid #ffffff !important;
  max-width: 100% !important; }
  @media (max-width: 767px) {
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input:focus,
    .search_vacancie--form .search_vacancie--row input:active,
    .search_vacancie--form .search_vacancie--row input:hover,
    .search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
    .search_vacancie--form .search_vacancie--row div.fake_city_input {
      margin-bottom: 25px !important;
      margin-top: 10px !important;
      margin-left: auto !important;
      margin-right: auto !important; } }

.search_vacancie--form .search_vacancie--row input.vacancie_input,
.search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
.search_vacancie--form .search_vacancie--row input.city_input,
.search_vacancie--form .search_vacancie--row div.fake_city_input {
  padding-bottom: 5px !important; }

.search_vacancie--form .search_vacancie--row input.vacancie_input:hover,
.search_vacancie--form .search_vacancie--row div.fake_vacancie_input:hover,
.search_vacancie--form .search_vacancie--row input.city_input:hover,
.search_vacancie--form .search_vacancie--row div.fake_city_input:hover {
  cursor: pointer; }

.search_vacancie--form .search_vacancie--row input.vacancie_input,
.search_vacancie--form .search_vacancie--row div.fake_vacancie_input,
.search_vacancie--form .search_vacancie--row div.own_popup ul.list_of_vacancies li button,
.search_vacancie--form .search_vacancie--row input.city_input,
.search_vacancie--form .search_vacancie--row div.fake_city_input,
.search_vacancie--form .search_vacancie--row div.own_popup ul.list_of_city li button {
  -webkit-transition: all 0.3s ease-in-out 0s !important;
  transition: all 0.3s ease-in-out 0s !important; }

.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input::-webkit-input-placeholder {
  color: #E51E54 !important; }

.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input::-moz-placeholder {
  color: #E51E54 !important; }

.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input:-ms-input-placeholder {
  color: #E51E54 !important; }

.search_vacancie--form .search_vacancie--row input,
.search_vacancie--form .search_vacancie--row input::placeholder {
  color: #E51E54 !important; }
  @media (max-width: 767px) {
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input::-webkit-input-placeholder {
      text-align: center; }
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input::-moz-placeholder {
      text-align: center; }
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input:-ms-input-placeholder {
      text-align: center; }
    .search_vacancie--form .search_vacancie--row input,
    .search_vacancie--form .search_vacancie--row input::placeholder {
      text-align: center; } }

.search_vacancie--form .search_vacancie--row input:active::-webkit-input-placeholder,
.search_vacancie--form .search_vacancie--row input:focus::-webkit-input-placeholder {
  color: #E51E54 !important;
  opacity: 0.6 !important; }

.search_vacancie--form .search_vacancie--row input:active::-moz-placeholder,
.search_vacancie--form .search_vacancie--row input:focus::-moz-placeholder {
  color: #E51E54 !important;
  opacity: 0.6 !important; }

.search_vacancie--form .search_vacancie--row input:active:-ms-input-placeholder,
.search_vacancie--form .search_vacancie--row input:focus:-ms-input-placeholder {
  color: #E51E54 !important;
  opacity: 0.6 !important; }

.search_vacancie--form .search_vacancie--row input:active::placeholder,
.search_vacancie--form .search_vacancie--row input:focus::placeholder {
  color: #E51E54 !important;
  opacity: 0.6 !important; }

/* ----------------------  END   .search_vacancie--row ---------------------- */
/* ---------------------------- START  .btn_row ---------------------------- */
.search_vacancie--form .btn_row {
  text-align: left !important;
  margin-top: 35px !important;
  margin-left: 0 !important;
  margin-right: 0 !important; }
  @media (max-width: 767px) {
    .search_vacancie--form .btn_row {
      text-align: center !important; } }

.search_vacancie--form .btn_row button {
  display: inline-block !important;
  height: 50px;
  font-size: 21px !important; }

/* ----------------------------  END   .btn_row ---------------------------- */
.slider_over_vacancie_block .colfax-r {
  font-size: 25px !important; }

.slider_over_vacancie_block .roboto {
  font-size: 25px !important; }
  @media (min-width: 1240px) {
    .slider_over_vacancie_block .roboto {
      margin-bottom: 35px !important;
      width: 70%; } }

.slider_over_vacancie_block .colfax-r,
.slider_over_vacancie_block .roboto {
  text-align: left !important; }

.search_vacancie--form div.own_popup,
.search_vacancie--form div.own_popup * {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

/* ---------------------------- START  .own_popup ---------------------------- */
/* --------------------- START  .own_popup  main --------------------- */
.search_vacancie--form div.own_popup {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto !important;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #01498E;
  display: table;
  z-index: 999; }
  @media (max-width: 767px) {
    .search_vacancie--form div.own_popup {
      padding: 50px 10px; } }
  @media (min-width: 1200px) {
    .search_vacancie--form div.own_popup {
      width: 62%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .search_vacancie--form div.own_popup {
      width: 85%; } }
  @media (min-width: 767px) and (max-width: 991px) {
    .search_vacancie--form div.own_popup {
      width: 95%; } }
  @media (max-width: 767px) {
    .search_vacancie--form div.own_popup {
      width: 100%; } }

.search_vacancie--form div.own_popup.popup_visible {
  -webkit-animation-name: own_popup_opened;
          animation-name: own_popup_opened;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes own_popup_opened {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  77% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes own_popup_opened {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  77% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.search_vacancie--form div.own_popup.popup_hidden {
  -webkit-transform: scale(0) !important;
      -ms-transform: scale(0) !important;
          transform: scale(0) !important;
  opacity: 0 !important;
  -webkit-animation-name: own_popup_closed;
          animation-name: own_popup_closed;
  -webkit-animation-duration: 0.0s;
          animation-duration: 0.0s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes own_popup_closed {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  33% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; } }

@keyframes own_popup_closed {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  33% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; } }

/* ---------------------  END   .own_popup  main --------------------- */
.search_vacancie--form div.own_popup button.closer_own_popup {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 50px !important;
  line-height: 0.2 !important;
  color: rgba(255, 255, 255, 0.4);
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out 0s !important;
  transition: all 0.3s ease-in-out 0s !important; }
  @media (max-width: 767px) {
    .search_vacancie--form div.own_popup button.closer_own_popup {
      font-size: 30px !important; } }

.search_vacancie--form div.own_popup button.closer_own_popup:hover {
  color: #E51E54;
  cursor: pointer; }

.search_vacancie--form div.own_popup button.closer_own_popup i {
  line-height: 0.8 !important; }

/* -------------- START  .own_popup  LIST OF VACANCIES -------------- */
.custom_style_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px black;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #F5F5F5; }

.custom_style_scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: transparent !important; }

.custom_style_scrollbar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #E51E54; }

.search_vacancie--form div.own_popup ul.list_of_vacancies,
.search_vacancie--form div.own_popup ul.list_of_vacancies,
.search_vacancie--form div.own_popup ul.list_of_city {
  padding: 0;
  margin: 0; }

.search_vacancie--form div.own_popup ul.list_of_city {
  overflow-x: hidden;
  overflow-y: auto; }

.search_vacancie--form div.own_popup ul.list_of_vacancies *,
.search_vacancie--form div.own_popup ul.list_of_city * {
  overflow-wrap: break-word; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li,
.search_vacancie--form div.own_popup ul.list_of_city li {
  display: block; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li {
  margin-bottom: 15px; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li:last-child {
  margin-bottom: 0px; }

.search_vacancie--form div.own_popup ul.list_of_city li {
  margin-bottom: 10px; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li button {
  text-align: center; }

.search_vacancie--form div.own_popup ul.list_of_city li button {
  text-align: left; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li button,
.search_vacancie--form div.own_popup ul.list_of_city li button {
  color: #ffffff !important;
  width: 100%; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li button.active_choose_vacancie,
.search_vacancie--form div.own_popup ul.list_of_city li button.active_choose_city {
  color: #E51E54 !important; }

.search_vacancie--form div.own_popup ul.list_of_vacancies li button:hover,
.search_vacancie--form div.own_popup ul.list_of_city li button:hover {
  cursor: pointer;
  color: #E51E54 !important; }

.search_vacancie--form .input_city-buffer {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  white-space: nowrap; }

/* --------------  END   .own_popup  LIST OF VACANCIES -------------- */
/* ---------------------------- START  .own_popup ---------------------------- */
/* ----------------------------  END  .search_vacancie--form ---------------------------- */
/* -------------- START custom-section--v_o_introduce_yourself -------------- */
body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself,
body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for {
  z-index: 10 !important;
  margin-bottom: -100px !important; }
  @media (max-width: 767px) {
    body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself,
    body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for {
      margin-bottom: 0 !important; } }

body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself--blue_block,
body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for--blue_block {
  width: 100% !important;
  max-width: 1420px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 992px) and (max-width: 1199px) {
    body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself--blue_block,
    body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for--blue_block {
      max-width: 992px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself--blue_block,
    body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for--blue_block {
      max-width: 768px !important; } }
  @media (max-width: 767px) {
    body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself--blue_block,
    body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for--blue_block {
      max-width: 100% !important; } }

body.CE_vacancy_overview--page #custom-section--v_o_introduce_yourself--blue_block *,
body.CE_vacancy_detail--page #custom-section--not_what_youre_looking_for--blue_block * {
  color: #ffffff; }

/* --------------  END  custom-section--v_o_introduce_yourself -------------- */
@media (max-width: 991px) {
  body.CE_vacancy_overview--page #custome-section--you_vacancies_on_this_page,
  body.CE_vacancy_detail--page #custome-section--you_vacancies_on_this_page {
    padding-top: 40px !important;
    padding-bottom: 30px !important; } }

body.CE_vacancy_overview--page #custome-section--you_vacancies_on_this_page h2,
body.CE_vacancy_detail--page #custome-section--you_vacancies_on_this_page h2 {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 991px) {
    body.CE_vacancy_overview--page #custome-section--you_vacancies_on_this_page h2,
    body.CE_vacancy_detail--page #custome-section--you_vacancies_on_this_page h2 {
      width: 100%; } }

/* --------------------------------------------- START own_sidebar --------------------------------------------- */
#own_sidebar {
  position: relative; }
  @media (max-width: 1199px) {
    #own_sidebar {
      padding-right: 0 !important;
      margin-top: 35px !important; } }

#own_sidebar div.part_of_sidebar {
  margin-bottom: 0; }

#own_sidebar .sidebar_title---block {
  padding: 140px 25px 40px 25px !important; }

@media (max-width: 1200px) {
  #own_sidebar,
  #job_description {
    width: 100% !important; } }

#job_description {
  padding-left: 90px !important; }
  @media (max-width: 1199px) {
    #job_description {
      padding: 0 !important; } }

@media (max-width: 767px) {
  #job_description > div {
    padding: 0 !important; } }

@media (min-width: 1695px) {
  body.CE_vacancy_overview--page #job_description {
    margin-top: 250px !important; } }

@media (min-width: 1200px) and (max-width: 1695px) {
  body.CE_vacancy_overview--page #job_description {
    margin-top: 125px !important; } }

@media (min-width: 768px) and (max-width: 1199px) {
  body.CE_vacancy_overview--page #job_description {
    margin-top: 100px !important; } }

@media (min-width: 767px) {
  body.CE_vacancy_overview--page #job_description {
    margin-top: 50px !important; } }

@media (max-width: 767px) {
  body.CE_vacancy_detail--page #job_description {
    margin-top: 50px !important; } }

#own_sidebar h4 {
  font-size: 38px !important;
  line-height: 38px !important;
  margin-bottom: 0 !important; }

#own_sidebar .sidebar_title {
  margin-bottom: 0px !important; }

#own_sidebar .sidebar_title * {
  color: #ffffff; }

#own_sidebar ul {
  margin: 0 !important; }

#own_sidebar button {
  border: none;
  text-align: left;
  margin-bottom: 0; }

#own_sidebar button:hover {
  cursor: pointer; }

#own_sidebar button,
#own_sidebar ul li.sidebar-item {
  background-color: #F4F4F4 !important;
  border-bottom: 1px solid #D9D9D9;
  height: 77px;
  list-style: none;
  margin-bottom: 0 !important;
  display: none; }
  @media (min-width: 1201px) and (max-width: 1240px) {
    #own_sidebar button,
    #own_sidebar ul li.sidebar-item {
      height: auto;
      padding-bottom: 20px; } }

#own_sidebar button,
#own_sidebar ul li.sidebar-item a {
  display: block;
  width: 100%;
  height: 70px;
  padding: 20px 15px 0 15px !important;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

#own_sidebar button {
  padding-top: 10px !important;
  position: relative; }

#own_sidebar ul li.sidebar-item:last-child {
  border-bottom: 0px solid transparent !important;
  margin-bottom: 0 !important; }

#own_sidebar button span,
#own_sidebar ul li.sidebar-item a span {
  font-family: "Colfax Regular";
  font-size: 18px;
  width: 78%; }

#own_sidebar button span,
#own_sidebar button i.fa,
#own_sidebar ul li.sidebar-item a span {
  color: #9C9C9C; }

#own_sidebar button:hover span,
#own_sidebar button:hover i.fa,
#own_sidebar ul li.sidebar-item a:hover span {
  color: #E51E54; }

#own_sidebar button i.fa {
  text-align: center;
  position: absolute;
  right: 55px;
  top: 25px; }

#own_sidebar button span,
#own_sidebar button i.fa,
#own_sidebar ul li.sidebar-item a span {
  display: inline-block;
  vertical-align: middle; }

#own_sidebar ul li.sidebar-item a {
  position: relative; }

#own_sidebar ul li.sidebar-item a:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 35px;
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

#own_sidebar ul li.sidebar-item a:after {
  -webkit-transition: background-image 0.3s ease-in-out 0s;
  transition: background-image 0.3s ease-in-out 0s; }

#own_sidebar ul li.sidebar-item a.customer_service_ninja:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-customer_service_ninja-gy.svg"); }

#own_sidebar ul li.sidebar-item a.digital_marketing_hero:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-digital_marketing_hero-gy.svg"); }

#own_sidebar ul li.sidebar-item a.sales_gladiator:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-sales_gladiator-gy.svg"); }

#own_sidebar ul li.sidebar-item a.product_captain:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-product_captain-gy.svg"); }

#own_sidebar ul li.sidebar-item a.credit_collection_sheriff:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-credit_collection_sheriff-gy.svg"); }

#own_sidebar ul li.sidebar-item a.joker_profiles:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-joker_profiles-gy.svg"); }

#own_sidebar ul li.sidebar-item a.customer_service_ninja:hover:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-customer_service_ninja-p.svg"); }

#own_sidebar ul li.sidebar-item a.digital_marketing_hero:hover:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-digital_marketing_hero-p.svg"); }

#own_sidebar ul li.sidebar-item a.sales_gladiator:hover:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-sales_gladiator-p.svg"); }

#own_sidebar ul li.sidebar-item a.product_captain:hover:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-product_captain-p.svg"); }

#own_sidebar ul li.sidebar-item a.credit_collection_sheriff:hover:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-credit_collection_sheriff-p.svg"); }

#own_sidebar ul li.sidebar-item a.joker_profiles:hover:after {
  background-image: url("/wp-content/uploads/2017/09/CE-main-joker_profiles-p.svg"); }

/* ---------------------------------------------  END  own_sidebar --------------------------------------------- */
#custom-section--apply_by_filling--row {
  width: 100% !important;
  max-width: 1220px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto !important; }

#custom-section--apply_by_filling--row form.apply_by_filling--form {
  width: 70%;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 992px) and (max-width: 1200px) {
    #custom-section--apply_by_filling--row form.apply_by_filling--form {
      width: 80%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #custom-section--apply_by_filling--row form.apply_by_filling--form {
      width: 90%; } }
  @media (max-width: 767px) {
    #custom-section--apply_by_filling--row form.apply_by_filling--form {
      width: 100%; } }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp,
#custom-section--apply_by_filling--row form.apply_by_filling--form .inp::-webkit-input-placeholder {
  color: #9C9C9C; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp,
#custom-section--apply_by_filling--row form.apply_by_filling--form .inp::-moz-placeholder {
  color: #9C9C9C; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp,
#custom-section--apply_by_filling--row form.apply_by_filling--form .inp:-ms-input-placeholder {
  color: #9C9C9C; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp,
#custom-section--apply_by_filling--row form.apply_by_filling--form .inp::placeholder {
  color: #9C9C9C; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp::-webkit-input-placeholder {
  opacity: 0.6; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp::-moz-placeholder {
  opacity: 0.6; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp:-ms-input-placeholder {
  opacity: 0.6; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .inp::placeholder {
  opacity: 0.6; }

#custom-section--apply_by_filling--row form.apply_by_filling--form p.names_row:after,
#custom-section--apply_by_filling--row form.apply_by_filling--form p.upload_row:after {
  content: "";
  display: table;
  clear: both; }

#custom-section--apply_by_filling--row form.apply_by_filling--form p.names_row {
  margin-bottom: 0 !important; }

#custom-section--apply_by_filling--row form.apply_by_filling--form input.first_name,
#custom-section--apply_by_filling--row form.apply_by_filling--form input.last_name {
  width: 49% !important; }

#custom-section--apply_by_filling--row form.apply_by_filling--form input.first_name {
  float: left; }

#custom-section--apply_by_filling--row form.apply_by_filling--form input.last_name {
  float: right; }

@media (max-width: 767px) {
  #custom-section--apply_by_filling--row form.apply_by_filling--form input.first_name,
  #custom-section--apply_by_filling--row form.apply_by_filling--form input.last_name {
    float: none;
    width: 100% !important; } }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_file input {
  display: none; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_file {
  border: 2px solid #E51E54;
  padding: 6px 10px;
  color: #E51E54;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row {
  margin-bottom: 15px; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row * {
  width: 49% !important; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row .inp {
  float: left; }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row .upload_file {
  float: right;
  margin-bottom: 15px !important; }

@media (max-width: 767px) {
  #custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row .inp,
  #custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row .upload_file {
    float: none;
    width: 100% !important; } }

#custom-section--apply_by_filling--row form.apply_by_filling--form .upload_row .upload_file:hover {
  cursor: pointer; }

.checkmark {
  position: relative;
  width: 100%;
  height: 22px;
  padding-left: 35px;
  margin-bottom: 30px !important; }

input[type="checkbox"]#terms_and_conditions {
  display: none; }

#terms_and_conditions + .checkmark:before,
#terms_and_conditions:checked + .checkmark:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 26px;
  height: 22px;
  background-image: url("/wp-content/uploads/2017/08/checkmark-checked__and__not_checked.svg");
  background-repeat: no-repeat;
  background-size: cover; }

#terms_and_conditions + .checkmark:before {
  background-position: 0% 0%; }

#terms_and_conditions:checked + .checkmark:before {
  background-position: 0% 85%; }

#custom-section--apply_by_filling--row form.apply_by_filling--form button[type="submit"] {
  max-width: 100% !important; }
