body.CE_success-stories-dpd--page #success-stories-dpd-wrap {
padding: 150px 0px;
}
body.CE_success-stories-dpd--page #success-stories-dpd-wrap .over_title {
    color: #B1ADAF;
    font-size: 19px;
}
body.CE_success-stories-dpd--page .success-stories-specific-text.arrow-bottom {
position: relative;
}
body.CE_success-stories-dpd--page .success-stories-specific-text.arrow-bottom:before {
position: absolute;
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 8px 8px 0 8px;
border-color: #b1adaf transparent transparent transparent;
bottom: 0;
left: 50%;
}
body.CE_success-stories-dpd--page .success-stories-specific-text {
    padding-bottom: 45px;
}
body.CE_success-stories-dpd--page .success-stories-specific-text-wrap {
    padding: 120px 0 90px 0;
    text-align: center;
}
body.CE_success-stories-dpd--page #success-stories-dpd-wrap p {
    color: #9D9D9D;
    margin-bottom: 30px;
}
body.CE_success-stories-dpd--page #success-stories-dpd-wrap h2 {
    margin-bottom: 45px;
}
#success-stories-dpd-gallery {
    padding-bottom: 150px;
}



#success-stories-dpd-gallery .gallery_item .vc_column-inner {
    
height: 540px;
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 !important;
}
#success-stories-dpd-gallery .gallery_item.logo-item .vc_column-inner {
    background-color: #fff;
    background-size: contain;
}
#success-stories-dpd-gallery .gallery_item img {
    max-width: 100%;
    width: auto;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item  > .vc_column-inner {
    padding: 90px !important;
    height: 100%;
    box-sizing: border-box;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item  > .vc_column-inner div {
height: 100%;
}
body.CE_success-stories-dpd--page .ssuccess-testimonials-content .wpb_wrapper {
box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    justify-content: center;
}

body.CE_success-stories-dpd--page #success-stories-dpd-testimonials {
    padding: 130px 0;
    box-sizing: border-box;
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

}
body.CE_success-stories-dpd--page .color-white p {
    color: #fff;
    margin-bottom: 30px;
}
body.CE_success-stories-dpd--page .color-white h2 {
    color: #fff;
    margin-bottom: 70px;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item  p {
    margin-bottom: 20px;
    color: #9D9D9D;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item h2 {
    margin-bottom: 35px;
    color: #000;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item p span:last-child {
    top: 25px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: baseline;
    width: 40px;
    height: 10px;
    line-height: 0.3 !important;
    position: relative;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item p span:first-child {
    top: 8px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: baseline;
    width: 40px;
    height: 10px;
    line-height: 0.3 !important;
    position: relative;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item p span img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -32px;
    left: 0;
}

body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item.gray-arrow-left {
    position: relative;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item.gray-arrow-left:before {
position: absolute;
    left: -40px;
    top: 100px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 40px 0;
    border-color: transparent #f4f4f4 transparent transparent;

}

body.CE_success-stories-dpd--page #success-stories-dpd-posts {
    padding: 0 0 150px 0;
    box-sizing: border-box;
     display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

body.CE_success-stories-dpd--page .dpd-post-item-content > .wpb_wrapper {
    cursor: pointer;
    height: 100%;
    padding: 150px 15px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

body.CE_success-stories-dpd--page .dpd-post-item-content .over_title {
    margin-bottom: 35px;
}
body.CE_success-stories-dpd--page .dpd-post-item-content h2 {
    margin-bottom: 35px;
}
body.CE_success-stories-dpd--page .dpd-post-item-content p {
    margin-bottom: 35px;
}

body.CE_success-stories-dpd--page .dpd-post-item:hover .dpd-post-item-content {
    visibility: visible;
}
body.CE_success-stories-dpd--page .dpd-post-item .dpd-post-item-content {
    color: #fff;
    height: 100%;
    visibility: hidden;
    box-sizing: border-box;
    margin-bottom: 0;
}
body.CE_success-stories-dpd--page .dpd-post-item .btn_row {
width: 100%;
}
body.CE_success-stories-dpd--page .dpd-post-item p {
/*font-size: 20px;*/
}
body.CE_success-stories-dpd--page .dpd-post-item h2 {
    color: #fff;
}
body.CE_success-stories-dpd--page .dpd-post-item p {
    color: #fff;
}
body.CE_success-stories-dpd--page .dpd-post-item:hover > .vc_column-inner > .wpb_wrapper {
    background: rgba(1, 73, 142, 0.8);
}

body.CE_success-stories-dpd--page .dpd-post-item > .vc_column-inner > .wpb_wrapper {
    transition: background 0.3s;
    box-sizing: border-box;
}
body.CE_success-stories-dpd--page .dpd-post-item .wpb_wrapper {
    height: 100%;
}
body.CE_success-stories-dpd--page .dpd-post-item > .vc_column-inner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.CE_success-stories-dpd--page .dpd-post-item a {
    transition: background 0.3s;
}


@media (max-width: 1400px) {
    body.CE_success-stories-dpd--page .success-stories-specific-text {
    padding-bottom: 20px;
}
    body.CE_success-stories-dpd--page .success-stories-specific-text-wrap {
     padding: 60px 0;
}
    body.CE_success-stories-dpd--page .dpd-post-item-content > .wpb_wrapper {
        padding: 60px 0;
    }
    body.CE_success-stories-dpd--page a.btn-medium, body.CE_success-stories-dpd--page button.btn-medium {
    padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
body.CE_success-stories-dpd--page #success-stories-dpd-wrap {
    padding: 60px 0;
}
body.CE_success-stories-dpd--page #success-stories-dpd-wrap p {
    margin-bottom: 15px;
}
body.CE_success-stories-dpd--page #success-stories-dpd-wrap h2 {
    margin-bottom: 15px;
}

body.CE_success-stories-dpd--page #success-stories-dpd-gallery {
     padding-bottom: 0; 
}
body.CE_success-stories-dpd--page #success-stories-dpd-testimonials {
    padding: 30px 0 60px 0;
}
body.CE_success-stories-dpd--page .color-white p {
    margin-bottom: 15px;
}
body.CE_success-stories-dpd--page .color-white h2 {
    margin-bottom: 30px;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item > .vc_column-inner {
    padding: 30px 30px !important;
    min-height: 200px;
}
body.CE_success-stories-dpd--page #success-stories-dpd-posts {
    padding: 0;
}
}



@media (min-width: 768px) and (max-width: 992px) {
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item > .vc_column-inner {
    padding: 60px 30px !important;
}
}



@media (max-width: 768px) { 
  body.CE_success-stories-dpd--page  #success-stories-dpd-gallery .gallery_item.logo-item .vc_column-inner {
    height: 300px;
    background-size: contain;
    background-color: #fff;
}
        body.CE_success-stories-dpd--page .success-stories-specific-text-wrap {
     padding: 30px 0;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item.gray-arrow-left:before {
display: none;
}

body.CE_success-stories-dpd--page #success-stories-dpd-wrap {
    padding: 30px 15px;
}
#success-stories-dpd-gallery {
    padding-bottom: 30px;
}
body.CE_success-stories-dpd--page #success-stories-dpd-testimonials {
   padding: 30px 0 0 0;
}
body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item > .vc_column-inner {
    padding: 30px 15px !important;
   min-height: 350px;
}


}


@media (max-width: 540px) {
  body.CE_success-stories-dpd--page .ssuccess-stories-testimonials-item > .vc_column-inner {
    min-height: 250px;
}  
}

