body.Spring_contact--page .btn {
    box-sizing: border-box;
}
body.Spring_contact--page .size_19  {
    font-size: 20px !important;
     font-family: "Colfax Regular", Arial, Tahoma, sans-serif !important;
     font-weight: 400 !important;
}
body.Spring_contact--page .form-transparent ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #fff;
}
body.Spring_contact--page .form-transparent ::-moz-placeholder { /* Firefox 19+ */
 color: #fff;
}
body.Spring_contact--page .form-transparent :-ms-input-placeholder { /* IE 10+ */
color: #fff;
}
body.Spring_contact--page .form-transparent :-moz-placeholder { /* Firefox 18- */
 color: #fff;
}
body.Spring_contact--page .form-transparent .wpcf7-textarea {
border: 3px solid #fff !important;
color: #fff;
    background: transparent;
    border-radius: 10px;
}

body.Spring_contact--page .form-transparent p {
color: #fff;
}
body.Spring_contact--page #sc-intro {
    margin-top: -100px;
}
body.Spring_contact--page #sc-intro .form-transparent > .vc_column-inner {
    padding: 0 120px;
}
body.Spring_contact--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
    left: -37px;
}
body.Spring_contact--page .form-transparent .wpcf7-form-control-wrap input {
	 border-radius: 10px;
border: 3px solid #fff !important;
color: #fff;
    background: transparent;
}
body.Spring_contact--page .form-transparent .wpcf7-list-item-label {
	color: #fff;
	font-size: 19px;
}
body.Spring_contact--page .form-transparent .wpcf7-submit {
padding: 10px 100px;
 border-radius: 10px;
border: 3px solid #fff !important;
color: #fff;
background: #002c55;
display: block;
max-width: 330px;
margin: auto;
 cursor: pointer;
}
body.Spring_contact--page .form-transparent .wpcf7-submit:hover {
background: #fff;
color: #000;
}
body.Spring_contact--page .form-transparent input[type=radio] + span:before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 8px;
    -webkit-box-shadow: 0 0 0 3px #fff;
    box-shadow: 0 0 0 3px #fff;

}
body.Spring_contact--page .form-transparent input[type=radio]:checked + span:before {
    border: 3px solid #01498e;
    background: #fff;
}
body.Spring_contact--page .form-transparent input[type=radio] {
    display: none;
}
body.Spring_contact--page .form-transparent form span.first {
    margin-left: 0;
}
body.Spring_contact--page .wpcf7-form-control-wrap {
    text-align: left;
}
body.Spring_contact--page .form-transparent {
	margin-bottom: 250px;
}


/*slider image centered*/
/*.carousel_3_item  .slide {
    margin: auto;
    position: relative;
    width: 250px;
    height: 250px;
}
.carousel_3_item  .slide img {
position: absolute;
max-width: 240px;
max-height: 240px;
width: auto;
height: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: block;
margin: auto;
}*/
body.Spring_contact--page .carousel_3_item .owl-nav  {
display: none;
}
body.Spring_contact--page .form_input_wrap {
    margin: 0 -10px;
}
body.Spring_contact--page .form_input_wrap .form_item {
    margin-bottom: 15px;
width: 50%;
float: left;
    padding: 0 10px;
    box-sizing: border-box;
}
body.Spring_contact--page .map_wrapper #g-map {
    height: 700px;
    width: 100%;
    margin: 175px 0;
}

body.Spring_contact--page .gray_team_wrap {
    padding: 200px 100px;
}
body.Spring_contact--page #our_team_section {
    background: #F4F4F4;
    padding-bottom: 450px;
}
body.Spring_contact--page section.contact-page-looking-for-talent.vc_section {
    padding: 0;
    margin-top: -150px;
    overflow: visible;
}
body.Spring_contact--page .contact-page-looking-for-talent h2 {
    margin-bottom: 40px;
}
body.Spring_contact--page .contact-page-looking-for-talent .spring-btn {
    margin-top: 40px;
}
body.Spring_contact--page .contact-page-looking-for-talent .btn_top_wrap {
    margin-top: -200px;
}
body.Spring_contact--page .our_team_item_content h2 {
    color: #fff;
}
body.Spring_contact--page .our_team_item_content .wpb_wrapper {
    box-sizing: border-box;
  min-height: 480px;  
   height: 100%;
}
body.Spring_contact--page .our_team_item_content {
    color: #fff;
    
        height: 100%;
    visibility: hidden;
    box-sizing: border-box;
}
body.Spring_contact--page .our_team_item {
    cursor: pointer;
}
body.Spring_contact--page .our_team_item > .vc_column-inner > .wpb_wrapper {
    transition: all 0.3s;
    box-sizing: border-box;
}
body.Spring_contact--page .our_team_item:hover .our_team_item_content {
    visibility: visible;
}
body.Spring_contact--page .our_team_item:hover > .vc_column-inner > .wpb_wrapper {
       background: rgba(1, 73, 142, 0.8);
}
body.Spring_contact--page .our_team_item .wpb_wrapper {
    height: 100%;
}
body.Spring_contact--page .our_team_item_content > .wpb_wrapper {
    padding: 60px 30px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}
body.Spring_contact--page .our_team_item .roboto-r {
    word-wrap: break-word; 
    margin-bottom: 0;
}
   
body.Spring_contact--page .our_team_item .soc_link  {
    color: #fff;
}
body.Spring_contact--page .our_team_item .soc_link i {
    font-size: 30px;
}
body.Spring_contact--page .our_team_item .soc_link:hover {
    color: #E51E54;
}
body.Spring_contact--page .our_team_item .soc_link {
    display: inline-block;
    margin: 0 15px;
}
body.Spring_contact--page .scroll_up {
    text-align: center;
}
body.Spring_contact--page .scroll_up button {
        margin-bottom: 15px;
        margin-right: 5px;
    cursor: pointer;
background: transparent;
color: #01498E;
font-size: 21px;
    line-height: 21px;
    font-family: "BebasNeue Regular", "Colfax Regular", "Roboto", Arial, Tahoma, sans-serif !important;
    letter-spacing: 5px;
    display: inline-block;
    background-color: transparent;
    border: none;
}
body.Spring_contact--page .scroll_up button:after {
    background: transparent;
}
body.Spring_contact--page .contact-page-looking-for-talent  .width-80 .vc_column-inner{ 
    max-width: 80%;
    background: #01498e;
    margin: 0 auto 120px;
    text-align: center;
    padding: 90px 15px;
}
body.Spring_contact--page .contact-page-follow-wrap {
    padding: 200px 15px;
}
body.Spring_contact--page .contact-page-follow-wrap a span {
    font-size: 30px;
    color: #01498E;
    transition: all 0.3s;
}
body.Spring_contact--page .contact-page-follow-wrap .social-links {
    margin: 45px 0 0 0;
    list-style: none;
}
body.Spring_contact--page .contact-page-follow-wrap .social-links li{
      transition: all 0.3s;
   display: inline-block;
   margin: 0 30px;
}
body.Spring_contact--page .contact-page-follow-wrap .social-links li:hover span {
color: #E51E54;
}
body.Spring_contact--page .rev_slider ul.slider-social-links {
    margin-top: 10px !important;
}
body.Spring_contact--page .slider-social-links li {
   margin-top: 10px !important;
     display: inline-block;
}

body.Spring_contact--page .slider-social-links span {
    color: #fff;
    transition: all 0.3s;
    font-size: 30px;
}

body.Spring_contact--page .slider-social-links li:hover span {
 color: #01498E;   
}

body.Spring_contact--page #sc-intro .contact-page-intro-wrap {
    overflow: visible;
}
body.Spring_contact--page #sc-intro.contact-page-intro .scroll-img img {
    top: -150px;
    position: absolute;
}
body.Spring_contact--page #sc-intro.contact-page-intro .scroll-img {
    height: 100px;
    margin: 0 !important;
}
 .roboto-r {
     font-family:"Roboto", Arial, Tahoma, sans-serif !important;
   
}
body.Spring_contact--page #home-slider .roboto-r {
    font-size: 20px !important;
    line-height: 25px !important;
       padding: 10px 0 !important;
}
@media (max-width: 1400px) {
     body.Spring_contact--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
     left: -55px; 
}
    body.Spring_contact--page .map_wrapper #g-map {
    height: 350px;
    margin: 60px 0;
}
    body.Spring_contact--page a.btn-medium, body.Spring_contact--page button.btn-medium {
    padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
body.Spring_contact--page #sc-intro .form-transparent > .vc_column-inner {
    padding: 0 15px;
}
body.Spring_contact--page #sc-intro address {
    margin-bottom: 35px;
}
body.Spring_contact--page .form-transparent {
    margin-bottom: 60px;
}
body.Spring_contact--page .gray_team_wrap {
    padding: 60px 15px;
}
body.Spring_contact--page .gray_team_wrap  .wpb_wrapper > div {
    margin-bottom: 15px;
}
body.Spring_contact--page section.contact-page-looking-for-talent.vc_section {
    margin-top: 0;
}
body.Spring_contact--page #our_team_section {
    padding-bottom: 200px;
}
body.Spring_contact--page .contact-page-looking-for-talent .width-80 .vc_column-inner {
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 15px;
}
body.Spring_contact--page .contact-page-follow-wrap {
    padding: 90px 0;
}
body.Spring_contact--page .contact-page-follow-wrap .social-links {
    margin: 25px 0 0 0;
}
}




@media (max-width: 1240px) {
  body.Spring_contact--page #sc-intro #g-map {
    height: 45vw;
}



}
@media (max-width: 1000px) {
.width-70-perc {
    max-width: 100% !important;
}
}
@media (max-width: 1000px) {
body.Spring_contact--page #sc-intro .form-transparent .vc_column-inner {
max-width: 100%;
}
body.Spring_contact--page #sc-intro.contact-page-intro {
    margin-top: 0;
}
}


@media (max-width: 768px) { 
    body.Spring_contact--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
     left: -30px; 
}
    body.Spring_contact--page #sc-intro.contact-page-intro .scroll-img img {
    top: -120px;
}
    body.Spring_contact--page .contact-page-looking-for-talent .roboto-r {
    margin-bottom: 15px;
}
    body.Spring_contact--page .contact-page-looking-for-talent h2 {
    margin-bottom: 15px;
}
    body.Spring_contact--page .contact-page-looking-for-talent  .width-80 .vc_column-inner {
        max-width: 100%;
    }
    body.Spring_contact--page .contact-page-follow-wrap {
    padding: 45px 15px;
}
    body.Spring_contact--page .contact-page-looking-for-talent .width-80 .vc_column-inner {
    max-width: 100%;
    margin: 0 auto;
  padding: 60px 15px 30px 15px;
}
    
    body.Spring_contact--page .map_wrapper #g-map {
    margin: 30px 0;
}
    body.Spring_contact--page .form-transparent {
    margin-bottom: 30px;
}
     body.Spring_contact--page #sc-intro .form-transparent > .vc_column-inner {
    padding: 0 15px;
}
    body.Spring_contact--page .our_team_item_content > .wpb_wrapper {
    padding: 30px 15px;
    
}
    body.Spring_contact--page .our_team_item_content .wpb_wrapper {
  min-height: 400px;  
}
   body.Spring_contact--page  #sc-intro.contact-page-intro address {
    margin-bottom: 60px;
}
body.Spring_contact--page .contact-page-follow-wrap .social-links li {
    margin: 0 10px;
}
}

