body.CE_success-stories--page #Content {
	padding-top: 0;
}
body.CE_success-stories--page .btn {
    box-sizing: border-box;
}

body.CE_success-stories--page #success-stories-intro .icom-long-vr-arrow {
    color: #01498E;
    font-size: 120px;
    margin: -60px 0 130px -2px;
}
body.CE_success-stories--page #success-stories-intro h2 {
    margin-bottom: 30px;
}
body.CE_success-stories--page #success-stories-intro h4 {
    margin-bottom: 25px;
}
body.CE_success-stories--page .success-stories-intro-wrap {
	padding-bottom: 160px;
}
body.CE_success-stories--page .success-stories-intro-wrap .spring-btn {
    font-size: 19px;
    margin-top: 30px;
}

body.CE_success-stories--page #success-stories-coffe {
    top: -150px;
}
body.CE_success-stories--page #success-stories-coffe .vc_column-inner {
    background: #01498E;
    margin: 0 auto;
    text-align: center;
    padding: 90px 30px;
}
body.CE_success-stories--page #success-stories-coffe h2, body.CE_success-stories--page #success-stories-references h2, body.CE_success-stories--page #success-stories-references h4 {
    margin-bottom: 25px;
}
body.CE_success-stories--page #success-stories-coffe h2, body.CE_success-stories--page #success-stories-coffe h4, body.CE_success-stories--page #success-stories-coffe p {
    color: #ffffff;
}
body.CE_success-stories--page #success-stories-gallery {
    z-index: 1;
}


body.CE_success-stories--page #success-stories-gallery > div {
    margin: 0 auto;
}
body.CE_success-stories--page #success-stories-gallery * {
    margin: 0;
    padding: 0;
}
body.CE_success-stories--page #success-stories-gallery .btn {
    padding: 12px 10px;
}
body.CE_success-stories--page #success-stories-gallery .vc_column-inner > .wpb_wrapper {
    height: 100%;
}
body.CE_success-stories--page .success-stories-gallery-item .vc_column-inner {
    background-position: center !important;
}
body.CE_success-stories--page .success-stories-gallery-item.back-right .vc_column-inner {
    background-position: right !important;
}
body.CE_success-stories--page .success-stories-gallery-item.back-left .vc_column-inner {
    background-position: left !important;
}
body.CE_success-stories--page #success-stories-gallery .wpb_raw_code {
    min-height: 476px;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
body.CE_success-stories--page #success-stories-gallery .wpb_raw_code > div {
    text-align: center;
    display: table;
    min-height: inherit;
}

body.CE_success-stories--page #success-stories-gallery .wpb_raw_code .hover {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
    background: rgba(1, 73, 142, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
body.CE_success-stories--page #success-stories-gallery h2, body.CE_success-stories--page #success-stories-gallery h4 {
    margin-bottom: 25px;
    color: #ffffff;
}
body.CE_success-stories--page #success-stories-gallery .wpb_raw_code:hover .hover {
    opacity: 1;
    visibility: visible;
}

body.CE_success-stories--page .success-stories-gallery p {
	margin-bottom: 15px !important;
	color: #fff;
}
body.CE_success-stories--page .success-stories-gallery-item .hover {
	padding: 15px 120px !important;
	box-sizing: border-box;
}
body.CE_success-stories--page .success-stories-gallery-item .item-content .over_title {
    width: 100%;
}
body.CE_success-stories--page .success-stories-gallery-item .item-content {
	box-sizing: border-box;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px !important;
	text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
body.CE_success-stories--page .success-stories-gallery-item .spring-btn {
margin-top: 10px !important;
}






body.CE_success-stories--page .item-content h4 {
	width: 100%;
}
body.CE_success-stories--page .item-content h2 {
	width: 100%;
}
body.CE_success-stories--page .item-content .stars {
    width: 100%;
    height: 20px;
}
body.CE_success-stories--page .stars div {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/star-white.png);
    background-size: cover;
}
body.CE_success-stories--page .item-content .stars.of_5_5 div:nth-child(1), .item-content .stars.of_5_5 div:nth-child(2), .item-content .stars.of_5_5 div:nth-child(3), .item-content .stars.of_5_5 div:nth-child(4), .stars.of_5_5 div:nth-child(5) {
    background-image: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg) !important;
}

body.CE_success-stories--page .item-content .stars.of_3_5 div:nth-child(1), .item-content .stars.of_3_5 div:nth-child(2), .item-content .stars.of_3_5 div:nth-child(3) {
      background-image: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg) !important;
}

body.CE_success-stories--page .item-content .stars.red.of_4_5 div:nth-child(1),  .item-content .stars.red.of_4_5 div:nth-child(2), .item-content .stars.red.of_4_5 div:nth-child(3), .item-content .stars.red.of_4_5 div:nth-child(4) {
    background-image: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/star-red.png) !important;
}

body.CE_success-stories--page #success-stories-references {
    margin-top: -140px;
    padding: 250px 0 200px;
}
body.CE_success-stories--page #success-stories-references .owl-carousel {
    margin-top: 125px;
}
 body.CE_success-stories--page .success-stories-gallery-item.second-item h2, .body.CE_success-stories--page .success-stories-gallery-item.second-item {
    font-size: 42px !important;
word-break: normal;
}

@media (max-width: 1400px) {
  
body.CE_success-stories--page #success-stories-intro .icom-long-vr-arrow {
margin: -60px 0 30px -2px;
}

body.CE_success-stories--page .success-stories-intro-wrap {
    padding-bottom: 30px;
}
body.CE_success-stories--page #success-stories-references {
    margin-top: 0;
    /*padding: 30px 0;*/
}
body.CE_success-stories--page #success-stories-coffe .vc_column-inner {
    padding: 30px 15px;
}

}

@media (max-width: 768px) { 
body.CE_success-stories--page .success-stories-gallery-item .hover {
    padding: 15px 30px !important;
    box-sizing: border-box;
}

}

@media (min-width: 768px) { 
body.CE_success-stories--page #success-stories-coffe .vc_column-inner {
    max-width: 80%;
}
}