/* -------------- START #home-intro -------------- */
body.Spring_home--page #home-intro {
  position: relative;
  z-index: 2;
  overflow: visible; }
  @media (max-width: 767px) {
    body.Spring_home--page #home-intro {
      overflow: hidden; } }

body.Spring_home--page #home-intro #home-intro--title {
  margin-top: 135px !important;
  margin-bottom: 100px !important; }
  @media (max-width: 991px) {
    body.Spring_home--page #home-intro #home-intro--title {
      margin-top: 00px !important;
      margin-bottom: 50px !important; } }

body.Spring_home--page #home-intro .icom-long-vr-arrow {
  font-size: 120px;
  color: #E51E54; }

body.Spring_home--page #home-intro .blue h2,
body.Spring_home--page #home-intro .blue h4,
body.Spring_home--page #home-intro .blue p,
body.Spring_home--page #home-intro .blue ul {
  color: #ffffff; }

body.Spring_home--page #home-intro h4 {
  color: #999998;
  font-size: 19px;
  text-transform: uppercase; }

/* --------------  END  #home-intro -------------- */
body.Spring_home--page #home-intro .gray {
  background: #B1ADAF;
  margin: 0 auto;
  position: relative; }

/*@media (min-width:650px)
	#home-intro .gray:after
		content: url(/wp-content/uploads/2017/08/young-professionals.png)
		display: inline-block
		-webkit-transform: scale(.8) translateX(-50px)
		transform: scale(.8) translateX(-50px)*/
body.Spring_home--page #home-intro .gray h2,
body.Spring_home--page #home-intro .gray p.over_title,
body.Spring_home--page #home-intro .gray p,
body.Spring_home--page #home-intro .gray ul {
  color: #000000; }

body.Spring_home--page #home-intro .gray p.over_title {
  margin-bottom: 25px; }

body.Spring_home--page #home-intro .gray h2 {
  margin-bottom: 35px; }

body.Spring_home--page #home-intro .gray-block > div,
body.Spring_home--page #home-intro .blue-block > div {
  padding: 100px !important; }
  @media (min-width: 992px) and (max-width: 1999px) {
    body.Spring_home--page #home-intro .gray-block > div,
    body.Spring_home--page #home-intro .blue-block > div {
      padding: 60px !important; } }
  @media (max-width: 991px) {
    body.Spring_home--page #home-intro .gray-block > div,
    body.Spring_home--page #home-intro .blue-block > div {
      padding: 40px !important; } }

body.Spring_home--page #home-intro .gray-block {
  background-color: #AFABAE !important;
  margin-bottom: -50px !important; }
  @media (max-width: 768px) {
    body.Spring_home--page #home-intro .gray-block {
      margin: 0 !important; } }

body.Spring_home--page #home-intro .blue-block {
  background-color: #01498E !important;
  margin-top: 100px !important;
  margin-bottom: -100px !important; }
  @media (max-width: 768px) {
    body.Spring_home--page #home-intro .blue-block {
      margin: 0 !important; } }

body.Spring_home--page #home-intro .gray-block .wpb_wrapper,
body.Spring_home--page #home-intro .blue-block .wpb_wrapper {
  margin-left: 0 !important;
  margin-right: 0 !important; }

/*@media (min-width:650px)
	#home-intro .blue
		background: url(/wp-content/uploads/2017/08/customer-engagement.png) 325px 85% no-repeat
		background-size: 270px
		margin: 0 auto*/
body.Spring_home--page #home-intro .blue p,
body.Spring_home--page #home-intro .blue ul,
body.Spring_home--page #home-intro .gray p,
body.Spring_home--page #home-intro .gray ul {
  margin-bottom: 50px; }

body.Spring_home--page #home-intro .blue ul,
body.Spring_home--page #home-intro .gray ul {
  line-height: 1.8;
  font-size: 16px;
  list-style: none;
  margin-left: 0; }
  @media (min-width: 480px) {
    body.Spring_home--page #home-intro .blue ul,
    body.Spring_home--page #home-intro .gray ul {
      font-size: 19px; } }

body.Spring_home--page #home-intro .blue ul li:before,
body.Spring_home--page #home-intro .gray ul li:before {
  content: '\e900';
  position: relative;
  top: -2px;
  font-size: 9px;
  font-family: icomoon;
  margin-right: 10px; }

body.Spring_home--page #home-intro .blue .wpb_raw_code,
body.Spring_home--page #home-intro .gray .wpb_raw_code {
  margin: 0; }

/* -------------- START section home-new-brand (w/ bgi) -------------- */
body.Spring_home--page #home-new-brand {
  min-height: 100vh;
  height: 100%;
  display: table;
  margin-bottom: -1px; }

body.Spring_home--page #home-new-brand,
body.Spring_home--page #home-new-brand h2,
body.Spring_home--page #home-new-brand p.over_title {
  color: #ffffff; }

body.Spring_home--page #home-new-brand > div {
  display: table-cell;
  vertical-align: middle; }

/* --------------  END  section home-new-brand (w/ bgi) -------------- */
/* -------------- START section home-testimonials (w/ slider & blue block (right sidebar) ) -------------- */
body.Spring_home--page #home-testimonials .js {
  display: none; }

body.Spring_home--page #home-testimonials .vc_column-inner {
  padding-top: 100px; }
  @media (max-width: 991px) {
    body.Spring_home--page #home-testimonials .vc_column-inner {
      padding-top: 50px; } }

body.Spring_home--page #home-testimonials .references {
  text-align: center; }

body.Spring_home--page #home-testimonials .references h2 {
  margin-bottom: 25px; }

/* ----------- START section home-testimonials --- SLIDER ----------- */
body.Spring_home--page #home-testimonials .references .owl-carousel.owl-theme {
  position: absolute;
  left: 0;
  bottom: 0px; }
  @media (max-width: 991px) {
    body.Spring_home--page #home-testimonials .references .owl-carousel.owl-theme {
      position: relative;
      bottom: 0;
      left: 0; } }

/* -------------------------------------- STRAT if need 3 item per row slide by only 1 item -------------------------------------- */
/* --------------------------------------  END  if need 3 item per row slide by only 1 item -------------------------------------- */
/* -------------------------------------- STRAT if need 3 item per row slide by only 3 item -------------------------------------- */
/* --------------------------------------  END  if need 3 item per row slide by only 3 item -------------------------------------- */
body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .slide,
body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .slide * {
  text-align: center !important; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .slide > div {
  display: inline-block;
  width: 33%;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: -2px;
  margin-right: -2px;
  height: 110px;
  min-height: 50px;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .slide > div {
      width: 50%;
      max-width: 350px; } }
  @media (max-width: 767px) {
    body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .slide > div {
      width: 100%;
      max-width: 250px; } }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-nav {
  display: none !important; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .slide > div > img {
  width: auto;
  max-width: 220px;
  height: auto;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots {
  display: block;
  width: 100%;
  text-align: center; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot {
  display: inline-block; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot span {
  display: inline-block;
  width: 12px !important;
  height: 12px !important;
  margin: 30px !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
  @media (max-width: 767px) {
    body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot span {
      margin: 25px !important; } }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #E51E54 !important; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot span {
  background-color: #CBCBCB !important; }

body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot:hover,
body.Spring_home--page #home-testimonials .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  cursor: pointer; }

/* -----------  END  section home-testimonials --- SLIDER ----------- */
/* ----------- START section home-testimonials --- blue block (right sidebar) ----------- */
body.Spring_home--page #home-testimonials .sidebar {
  text-align: center; }
  @media (min-width: 992px) {
    body.Spring_home--page #home-testimonials .sidebar {
      text-align: right; } }

body.Spring_home--page #home-testimonials .sidebar .owl-theme {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 992px) and (max-width: 1239px) {
    body.Spring_home--page #home-testimonials .sidebar .owl-theme {
      -webkit-box-sizing: border-box;
              box-sizing: border-box; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.Spring_home--page #home-testimonials .sidebar .owl-theme {
      max-width: 500px; } }

body.Spring_home--page #home-testimonials .sidebar p.over_title {
  text-transform: uppercase;
  line-height: 1.8;
  margin-bottom: 35px !important; }

body.Spring_home--page #home-testimonials .sidebar h2,
body.Spring_home--page #home-testimonials .sidebar p.over_title,
body.Spring_home--page #home-testimonials .sidebar blockquote,
body.Spring_home--page #home-testimonials .sidebar p {
  color: #ffffff; }

body.Spring_home--page #home-testimonials .sidebar h2,
body.Spring_home--page #home-testimonials .sidebar p.over_title,
body.Spring_home--page #home-testimonials .sidebar blockquote {
  text-align: right; }

body.Spring_home--page #home-testimonials .sidebar h2 {
  font-size: 30px; }
  @media (min-width: 1200px) {
    body.Spring_home--page #home-testimonials .sidebar h2 {
      font-size: 50px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    body.Spring_home--page #home-testimonials .sidebar h2 {
      font-size: 45px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    body.Spring_home--page #home-testimonials .sidebar h2 {
      font-size: 40px; } }

body.Spring_home--page #home-testimonials .sidebar blockquote {
  background: 0;
  top: 0;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 30px;
  margin-left: 15px; }
  @media (min-width: 768px) {
    body.Spring_home--page #home-testimonials .sidebar blockquote {
      font-size: 20px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    body.Spring_home--page #home-testimonials .sidebar blockquote {
      font-size: 18px; } }

body.Spring_home--page #home-testimonials .sidebar blockquote .icom-quote-left {
  position: relative;
  left: -15px; }

body.Spring_home--page #home-testimonials .sidebar blockquote .icom-quote-right {
  line-height: 0.3;
  position: relative;
  top: 25px;
  margin-left: 30px; }

body.Spring_home--page #home-testimonials .sidebar blockquote * {
  display: inline-block; }

body.Spring_home--page #home-testimonials .sidebar blockquote:after {
  background: 0; }

body.Spring_home--page #home-testimonials .sidebar img {
  display: block !important;
  margin: 0 auto 25px;
  width: 149px; }

body.Spring_home--page #home-testimonials .sidebar .author {
  text-align: center;
  margin-bottom: 28px; }

body.Spring_home--page #home-testimonials .sidebar .author span {
  display: block;
  line-height: 1.1; }

/* -----------  END  section home-testimonials --- blue block (right sidebar) ----------- */
/* --------------  END  section home-testimonials (w/ slider & blue block (right sidebar) ) -------------- */
/* ------------ START page--1_Spring_home___Alex_t___Added___Dont_remove ------------ */
/* ------------  END  page--1_Spring_home___Alex_t___Added___Dont_remove ------------ */
