body.SP_companies--page #section__1--slider {
    background-image: url('http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/10/SP-companies2-V05-10-bgi.jpg');
}

body.SP_companies--page .blue-block {
    background-color: #01498E;
    margin-top: -200px;
    margin-bottom: 125px;
}
body.SP_companies--page .gray-block {
    background-color: #AFABAE;
    margin-top: -100px;
}
body.SP_companies--page .gray-block, body.SP_companies--page .blue-block {
    padding: 130px 100px;
    box-sizing: border-box;
}

body.SP_companies--page .blue  h2,body.SP_companies--page .blue h4, body.SP_companies--page .blue p, body.SP_companies--page .blue ul {
    color: #fff;
}

body.SP_companies--page .gray  h2,body.SP_companies--page .gray h4, body.SP_companies--page .gray p, body.SP_companies--page .gray ul {
    color: #000;
}
body.SP_companies--page #companies-intro {
	z-index: 1;
	position: relative;
	margin-bottom: -225px;
}
body.SP_companies--page #companies-intro h2 {
	margin-bottom: 45px;
}
body.SP_companies--page #companies-intro .over_title {
	margin-bottom: 30px;
}
body.SP_companies--page #companies-intro p {
	line-height: 30px;
}
body.SP_companies--page #companies-text-1row {
	text-align: center;
	padding: 450px 0 250px 0;
}
body.SP_companies--page div.p-top-400 {
padding-top: 400px
}
body.SP_companies--page .companies-text-wrap h2 {
	margin-bottom: 45px;
}
body.SP_companies--page .companies-text-wrap .btn_row {
	margin-top: 45px;
}
body.SP_companies--page .companies-text-wrap .over_title {
	margin-bottom: 30px;
}
body.SP_companies--page  #companies-banners-wrap {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    justify-content:  flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
body.SP_companies--page #companies-banners-wrap h2 {
	margin-bottom: 45px;
}
body.SP_companies--page #companies-banners-wrap .over_title {
	margin-bottom: 30px;
}
body.SP_companies--page #companies-banners-wrap p {
	line-height: 30px;
}
body.SP_companies--page #companies-banners-wrap .btn_row {
	margin-top: 45px;
	text-align: left;
} 
body.SP_companies--page .companies-banner > .vc_column-inner {
	height: 100%;
	padding: 0;
	box-sizing: border-box;
	background-position: right;
}
body.SP_companies--page .companies-banner:hover .vc_column-inner > .wpb_wrapper {
background-color: rgba(1, 73, 142, 0.5);
visibility: visible;
}
body.SP_companies--page .companies-banner .btn {
	transition: background 0.3s !important;
}

body.SP_companies--page .companies-banner > .vc_column-inner > .wpb_wrapper {
	visibility: hidden;
	transition: background 0.3s;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	 box-sizing: border-box;
	 padding: 350px 150px;
	 height: 100%;
}
body.SP_companies--page .companies-banner  h2 {
	color: #fff;
}

body.SP_companies--page #companies-text-2row {
	text-align: center;
	padding: 170px 0;
}

@media (max-width: 1400px) {
	body.SP_companies--page a.btn-medium, body.SP_companies--page button.btn-medium {
   padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
	body.SP_companies--page #companies-text-2row {
    padding: 60px 0;
}
body.SP_companies--page .companies-text-wrap .btn_row {
    margin-top: 15px;
}
body.SP_companies--page .gray-block, body.SP_companies--page .blue-block {
    padding:25px;
}
body.SP_companies--page .blue-block {
    margin-top: -100px;
    margin-bottom: 50px;
}
body.SP_companies--page .gray-block {
    margin-top: -50px;
}
body.SP_companies--page #companies-intro {
    margin-bottom: 0;
}
body.SP_companies--page #companies-text-1row {
	padding: 60px 0;
}
body.SP_companies--page #companies-banners-wrap h2 {
	margin-bottom: 15px;
}
body.SP_companies--page #companies-banners-wrap .over_title {
	margin-bottom: 15px;
}
body.SP_companies--page #companies-intro h2 {
	margin-bottom: 15px;
}
body.SP_companies--page #companies-intro .over_title {
	margin-bottom: 15px;
}
body.SP_companies--page .companies-text-wrap h2 {
	margin-bottom: 15px;
}
body.SP_companies--page .companies-text-wrap .over_title {
   margin-bottom: 15px;
}
body.SP_companies--page .companies-banner > .vc_column-inner > .wpb_wrapper {
    padding: 120px 30px;
}
body.SP_companies--page #companies-banners-wrap .btn_row {
       margin-top: 15px;
}
}


@media (max-width: 768px) {
body.SP_companies--page .blue-block {
    margin: 0;
}
body.SP_companies--page .gray-block {
    margin: 0;
}
body.SP_companies--page .gray-block, body.SP_companies--page .blue-block {
    padding: 30px 0;
}
body.SP_companies--page #companies-text-1row {
    padding: 30px 0;
}
body.SP_companies--page #companies-text-1row {
    padding: 30px 0;
}

body.SP_companies--page #companies-text-2row {
     padding: 30px 0;
}
}