body.YP_companies--page .btn {
    box-sizing: border-box;
}
body.YP_companies--page #talent-matcher .owl-carousel.owl-theme .right_part a.btn {
    color: #ffffff;
}
body.YP_companies--page #talent-matcher > div > div.vc_column-inner:before {
    content: "";
    position: absolute;
    top: -100px;
    width: calc(100% - 30px);
    background: #D9D9D9 ;
    height: 1px;
}
body.YP_companies--page .companies-ludens-item > .vc_column-inner{
    padding: 90px !important;
    min-height: 760px;
}
body.YP_companies--page .companies-ludens_slider .slide {
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;  
} 
body.YP_companies--page .companies-ludens_slider .left_part, body.YP_companies--page .companies-ludens_slider .right_part {
     width: 50%;
    box-sizing: border-box;
    padding: 90px !important;
    background-size: cover;
    background-repeat: no-repeat;
}
body.YP_companies--page #yp-companies-experience {
    background-repeat: no-repeat;
    background-size: cover;
}
body.YP_companies--page .companies-ludens_slider .right_part {
    background-color: #01498e;
}
body.YP_companies--page .companies-ludens_slider .right_part.arrow-left {
position: relative;
}
body.YP_companies--page .companies-ludens_slider .right_part.arrow-left:before {
    position: absolute;
    left: -40px;
    top: 160px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 40px 0;
    border-color: transparent #014a8e transparent transparent;
}

body.YP_companies--page .companies-ludens_slider img {
    max-width: 100%;
    width: auto;
}
body.YP_companies--page .companies-ludens_slider .btn_row {
    width: 100%;
}
body.YP_companies--page .companies-ludens_slider {
    padding-bottom: 35px;
    margin: 0;
}
body.YP_companies--page .companies-ludens_slider .owl-nav.disabled+.owl-dots {
    margin-top: 40px;
}
body.YP_companies--page .companies-ludens_slider .right_part .wpb_wrapper {
box-sizing: border-box;
    min-height: 560px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body.YP_companies--page .companies-ludens-item.arrow-left:before {
position: absolute;
left: -40px;
top: 160px;
content: '';
width: 0;
height: 0;
border-style: solid;
border-width: 40px 40px 40px 0;
border-color: transparent #014a8e transparent transparent; 
}
body.YP_companies--page .companies-ludens-item .wpb_wrapper {
    height: 100%;
}
body.YP_companies--page .companies-ludens-item-content > .wpb_wrapper {
    box-sizing: border-box;
    min-height: 560px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

body.YP_companies--page .companies-ludens-item-content .spring-btn {
    padding: 0 70px;
}
body.YP_companies--page .companies-talk-item > .vc_column-inner {
    padding: 120px 100px !important;
}
body.YP_companies--page .companies-talk-item.second  .owl-dot span{
background: #000 !important;
}
body.YP_companies--page .companies-talk-item.second .owl-dot.active span {
    background: #E51E54 !important;
}
body.YP_companies--page .companies-talk-item.second {
    margin-top: 120px;
}
body.YP_companies--page .companies-talk-item.second .over_title {
   color: #000;
}
body.YP_companies--page .companies-talk-item img {
    margin-bottom: 30px !important;
}
body.YP_companies--page .companies-talk-wrap {
    margin-top: -220px;
    margin-bottom: -250px;
    z-index: 2;
    position: relative;
}
body.YP_companies--page .companies-talk-wrap .owl-carousel .owl-item img {
    width: auto;
}
body.YP_companies--page .companies-talk-wrap .slide {
    margin-bottom: 90px;
}
body.YP_companies--page .overflow-visible {
    overflow: visible !important;
}
body.YP_companies--page .companies-talk-item.second .owl-carousel .owl-item  {
   color: #000;
}

body.YP_companies--page #talent-matcher .carousel_1_item  {
margin-bottom: 0
}
body.YP_companies--page .talent-slider {}

body.YP_companies--page .talent-slider .left_part {
    padding: 90px 120px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
    width: 50%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    justify-content: flex-end;
}
body.YP_companies--page .talent-slider .right_part {
    padding: 90px;
    box-sizing: border-box;
    float: left;
    width: 50%;
    background: #fff;
}
body.YP_companies--page .talent-slider .slide {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
body.YP_companies--page .talent-slider .right_part img {
    margin-bottom: 50px;
}
body.YP_companies--page .talent-slider .right_part h2 {
    margin-bottom: 50px;
}
body.YP_companies--page .talent-slider .right_part .over_title {
    margin-bottom: 30px;
    color: #B1ADAF;
}
body.YP_companies--page .social_links {
    list-style: none !important;
    margin: 0 !important;
}
body.YP_companies--page .talent-slider .social_links a i {
    width: 25px;
color: #E51E54;
margin-right: 20px;
font-size: 20px;
}
body.YP_companies--page .talent-slider .social_links a i.fa.fa-mobile {
    font-size: 40px;
}
body.YP_companies--page .talent-slider .social_links a i.fa.fa-facebook {
    font-size: 25px;
}
body.YP_companies--page .talent-slider .social_links a  {
     font-family:"Roboto", Arial, Tahoma, sans-serif !important;
color: #9D9D9C;
}
body.YP_companies--page #talent-matcher .talent-slider .owl-item {
    margin-bottom: 50px;
}
body.YP_companies--page #talent-matcher .talent-slider .owl-item img {
width: auto;
}
body.YP_companies--page #talent-matcher .left_part p span:first-child {
    top: 8px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: baseline;
    width: 40px;
    height: 10px;
    line-height: 0.3 !important;
    position: relative;
}
body.YP_companies--page #talent-matcher .left_part p span img {
width: 40px;
    height: 40px;
    position: absolute;
    top: -32px;
    left: 0;    
}
body.YP_companies--page #talent-matcher .left_part p span:last-child {
    top: 25px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: baseline;
    width: 40px;
    height: 10px;
    line-height: 0.3 !important;
    position: relative;
}
body.YP_companies--page .gray-line {
    position: relative;
}
/*body.YP_companies--page .gray-line:before {
    position: absolute;
    content: '';
    width: 50%;
    top: 0;
    height: 1px;
    background: #B1ADAF;
}*/
body.YP_companies--page div .gray-color {
    color: #B1ADAF;
}
body.YP_companies--page .companies-intro-content {
    padding: 0 100px;
}
body.YP_companies--page .sales-profile {
    padding-top: 250px;
}
body.YP_companies--page .companies-ludens-item .btn_row {
    width: 100%;
}

 body.YP_companies--page .experience-wrap > .wpb_column {
    padding: 400px 50px;
}
body.YP_companies--page #yp-companies-intro {
    position: relative;
    overflow: visible;
}

@media (max-width: 1400px) {
      body.YP_companies--page #talent-matcher > div > div.vc_column-inner:before {
     top: -25px
   }
    body.YP_companies--page .companies-ludens_slider .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
}
    body.YP_companies--page .experience-wrap > .wpb_column {
    padding: 200px 0px;
}
    body.YP_companies--page a.btn-medium, body.YP_companies--page button.btn-medium {
    padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
body.YP_companies--page #sales-profile-wrap > .vc_column-inner {
    padding: 60px 15px !important;
}
body.YP_companies--page #yp-companies-intro-wrap > .wpb_column > .vc_column-inner {
    padding: 60px 15px !important;
}
body.YP_companies--page #yp-companies-intro-wrap .logo_img  {
    margin-bottom: 0;
}
body.YP_companies--page #yp-companies-crime > .vc_column-inner {
padding: 60px 15px !important;
}

body.YP_companies--page .companies-talk-wrap {
    margin-top: -100px;
    margin-bottom: -100px;
}
body.YP_companies--page .companies-talk-item.second {
    margin-top: 100px;
}
body.YP_companies--page .companies-talk-item > .vc_column-inner {
    padding: 60px 30px !important;
}
body.YP_companies--page .companies-talk-wrap .slide {
    margin-bottom: 30px;
}
body.YP_companies--page #talk_slider_wrap .carousel_1_item  {
    margin-bottom: 0;
}
body.YP_companies--page .sales-profile {
    padding-top: 0;
}
body.YP_companies--page #sales-profile-wrap > .vc_column-inner {
padding: 60px 15px !important;
}
body.YP_companies--page #talent-matcher {
    padding: 60px 0 !important
}
body.YP_companies--page .talent-slider .right_part {
    padding: 30px;
}
body.YP_companies--page .talent-slider .left_part {
    padding: 30px 15px;
}
body.YP_companies--page .talent-slider .right_part img {
    margin-bottom: 15px;
}
body.YP_companies--page .talent-slider .right_part .over_title {
    margin-bottom: 15px;
}
body.YP_companies--page .talent-slider .right_part h2 {
    margin-bottom: 30px;
}
body.YP_companies--page #companies-text-section > .vc_column-inner {
    padding: 60px 15px !important;
}
body.YP_companies--page a.btn-medium, body.YP_companies--page button.btn-medium {
   padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}

body.YP_companies--page .companies-talk-wrap .owl-carousel .owl-item img {
    width: 50px;
}


body.YP_companies--page .companies-ludens_slider .left_part, body.YP_companies--page .companies-ludens_slider .right_part {
    padding: 60px 15px !important;
}

body.YP_companies--page .companies-intro-content {
    padding: 0;
}

body.YP_companies--page .companies-ludens_slider .right_part .wpb_wrapper {
    min-height: 1px; 
}

 }



@media (max-width: 1240px) {
body.YP_companies--page .companies-talk-item > .vc_column-inner {
    padding: 60px !important;
}
}
@media (max-width: 1100px) {
   body.YP_companies--page .companies-ludens_slider .left_part, body.YP_companies--page .companies-ludens_slider .right_part {
     width: 100%;
    float: none;
    min-height: 300px;
}
}
   
@media (max-width: 991px) {
 


body.YP_companies--page .companies-ludens-item > .vc_column-inner {
    padding: 45px 30px !important;
    min-height: 500px;
}
body.YP_companies--page .companies-talk-wrap {
    margin: 0;
}
body.YP_companies--page .companies-talk-item.second {
    margin-top: 90px;
}
body.YP_companies--page .companies-talk-item > .vc_column-inner {
    padding: 60px 15px !important;
}

}

@media (max-width: 768px) {
    body.YP_companies--page #talent-matcher .talent-slider .owl-item {
    margin-bottom: 30px;
}
        body.YP_companies--page .experience-wrap > .wpb_column {
    padding: 100px 0px;
}
body.YP_companies--page .talent-slider .left_part {
   width: 100%;
}
body.YP_companies--page .talent-slider .right_part {
    padding: 30px 15px;
     width: 100%;
}
body.YP_companies--page .talent-slider .slide > div {
    min-height: 400px;
}
body.YP_companies--page .companies-talk-item.second {
    margin-top: 0;
}
body.YP_companies--page #yp-companies-intro-wrap > .wpb_column > .vc_column-inner {
    padding: 30px 15px !important;
}
body.YP_companies--page #yp-companies-crime > .vc_column-inner {
    padding: 30px 15px !important;
}
 body.YP_companies--page .companies-ludens_slider .right_part {
   padding: 30px 15px !important;
}

body.YP_companies--page .companies-talk-item > .vc_column-inner {
     padding: 30px 15px !important;
}
body.YP_companies--page #sales-profile-wrap > .vc_column-inner {
    padding: 30px 15px !important;
}
 body.YP_companies--page #talent-matcher {
        padding: 30px 0 !important;
    }
    body.YP_companies--page #companies-text-section > .vc_column-inner {
    padding: 30px 15px !important;
}

}



@media (max-width: 540px) {
body.YP_companies--page .companies-talk-item > .vc_column-inner {
    padding: 30px  !important;
}
}