.clearfix { 
*zoom: 1; 
} 

.clearfix:after { 
clear: both; 
} 

.clearfix:before, 
.clearfix:after { 
content: " "; 
display: table; 
} 

body.YP_future-recruitment--page .img_row img  {
width: auto;
    margin-bottom: 15px;
}

body.YP_future-recruitment--page #Content .stars {
    width: 116px;
    height: 20px;
}
body.YP_future-recruitment--page #Content .stars div {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star.svg);
    background-size: cover;
}
body.YP_future-recruitment--page #Content .stars.of_3_5 div:nth-child(1), body.YP_future-recruitment--page #Content .stars.of_3_5 div:nth-child(2), body.YP_future-recruitment--page #Content .stars.of_3_5 div:nth-child(3) {
    background-image: url(http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/star_active.svg) !important;
}



body.YP_future-recruitment--page .color-white h3, body.YP_future-recruitment--page .color-white ul {
	color: #fff;
}
body.YP_future-recruitment--page ul {
	/*font-size: 20px;*/
}
body.YP_future-recruitment--page .color-black p, body.YP_future-recruitment--page h2, body.YP_future-recruitment--page h3, body.YP_future-recruitment--page h4, body.YP_future-recruitment--page ul {
	color: #000;
}

body.YP_future-recruitment--page .img_row { 
text-align: center; 
margin-bottom: 0;
} 
body.YP_future-recruitment--page div .colfax_r { 
font-size: 19px; 
font-family: "Colfax Regular", sans-serif; 
color: #B1ADAF; 
} 
body.YP_future-recruitment--page div .colfax_r_blue { 
font-size: 19px; 
font-family: "Colfax Regular", sans-serif; 
color: #01498E; 
} 
body.YP_future-recruitment--page .journey-item-right div.wpb_single_image { 
margin-bottom: 0; 
} 
body.YP_future-recruitment--page .future_item { 
padding: 100px; 
margin-bottom: 0; 
} 
.color-black h2 { 
color: #000; 
} 
.color-black h4 { 
color: #000; 
} 
.color-black p { 
color: #000; 
} 
.color-gray h2 { 
color: #9D9D9C; 
} 
.color-gray h4 { 
color: #9D9D9C; 
} 
.color-gray p { 
color: #9D9D9C; 
} 
body.YP_future-recruitment--page div .color-blac { 
color: #000; 
} 
.color-blue { 
color: #01498E; 
} 
body.YP_future-recruitment--page .section-150 { 
padding: 150px; 
} 
.text-section h2 { 
margin-bottom: 35px; 
} 
.text-section p { 
margin-bottom: 35px; 
} 

body.YP_future-recruitment--page #recruitment-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
font-size: 50px; 
color: #fff; 
} 
body.YP_future-recruitment--page #recruitment-form ::-moz-placeholder { /* Firefox 19+ */ 
font-size: 50px; 
color: #fff; 
} 
body.YP_future-recruitment--page #recruitment-form :-ms-input-placeholder { /* IE 10+ */ 
font-size: 50px; 
color: #fff; 
} 
body.YP_future-recruitment--page #recruitment-form :-moz-placeholder { /* Firefox 18- */ 
font-size: 50px; 
color: #fff; 
} 
body.YP_future-recruitment--page #recruitment-form form .text-input { 
color: #E51E54; 
font-size: 50px; 
border: none; 
outline: none; 
line-height: normal; 
min-height: 60px; 
padding: 0 0 25px 0; 
margin-bottom: 45px; 
border-bottom: 3px solid #fff; 
background: url("../images/pen.png") right no-repeat !important; 
background-size: contain !important;

} 
body.YP_future-recruitment--page #recruitment-form form .text-input:focus { 
background-image: url("../images/check_mark.png") !important; 
} 

body.YP_future-recruitment--page .file-input-wrap { 
display: inline-block; 
} 


body.YP_future-recruitment--page #recruitment-form form .submit-wrap { 
box-sizing: border-box; 
width: calc(100% + 200px); 
width: -webkit-calc(100% + 200px); 
width: -moz-calc(100% + 200px); 
margin: 0 -100px; 
position: relative; 
padding: 0 100px; 
background: #E51E54; 
} 
body.YP_future-recruitment--page #recruitment-form div.wpcf7 .ajax-loader { 
position: absolute; 
bottom: 0; 
left: 0; 
} 

body.YP_future-recruitment--page #recruitment-form form .submit-input { 
transition: all 0.3s; 
cursor: pointer; 
font-weight: bold; 
width: 100%; 
padding: 40px 0; 
color: #fff; 
font-size: 50px; 
text-align: left; 
border: none; 
outline: none; 
background: url("../images/arr_right.png") right no-repeat !important; 
} 
body.YP_future-recruitment--page #recruitment-form form .submit-input:hover { 
color: #01498E; 
} 
body.YP_future-recruitment--page #recruitment-form form p { 
color: #fff; 
/*font-size: 19px; */
} 

body.YP_future-recruitment--page #recruitment-form form .wpcf7-list-item-label { 
color: #fff; 
font-size: 19px; 
display: inline-block; 
text-align: left; 
} 
body.YP_future-recruitment--page #recruitment-form form .jcf-checkbox { 
overflow: visible; 
float: left; 
border: 3px solid #E51E54; 
width: 25px; 
height: 25px; 
margin-right: 30px; 
display: inline-block; 
} 
body.YP_future-recruitment--page #recruitment-form form .jcf-checkbox input { 
cursor: pointer; 
} 
body.YP_future-recruitment--page #recruitment-form form .check_wrap { 
margin: 35px 0 70px 0; 
} 
body.YP_future-recruitment--page #recruitment-form form .jcf-checkbox { 
cursor: pointer; 
background: transparent; 
} 
body.YP_future-recruitment--page #recruitment-form
span.wpcf7-list-item { 
margin: 0 
} 
body.YP_future-recruitment--page #recruitment-form .jcf-checkbox span{ 
border-color: #fff; 
height: 18px; 
width: 32px; 
margin: -20px 0 0 -12px; 
} 
body.YP_future-recruitment--page .jcf-checkbox.jcf-focus { 
border-color: #E51E54 !important; 
} 
body.YP_future-recruitment--page .jcf-checkbox.jcf-focus span { 
border-color: #fff !important; 
} 
body.YP_future-recruitment--page .file-wrap { 
display: inline-block; 
} 
body.YP_future-recruitment--page .file-wrap input { 
visibility: hidden; 
} 
body.YP_future-recruitment--page .file-wrap label { 
text-align: center; 
transition: all 0.3s; 
margin-right: 35px; 
cursor: pointer; 
color: #fff; 
font-size: 19px; 
border: 3px solid #fff; 
padding: 10px 90px; 
border-radius: 10px; 
} 
body.YP_future-recruitment--page .file-wrap label:hover { 
background: #fff; 
color: #01498E; 
} 
body.YP_future-recruitment--page #recruting-slider  .slide {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
body.YP_future-recruitment--page #recruting-slider .left-part { 
float: left; 
padding: 50px; 
box-sizing: border-box; 
width: 50%; 
background-repeat: no-repeat; 
background-size: cover; 
display: flex; 
-webkit-box-orient: vertical; 
-webkit-box-direction: normal; 
-webkit-flex-direction: column; 
-ms-flex-direction: column; 
flex-direction: column; 
-webkit-box-pack: justify; 
-webkit-justify-content: flex-end; 
-ms-flex-pack: justify; 
justify-content: flex-end; 
text-align: center; 
} 
body.YP_future-recruitment--page #recruting-slider .right-part { 
float: left; 
height: 800px; 
width: 50%; 
} 

body.YP_future-recruitment--page #recruting-slider .slide p { 
margin-bottom: 15px; 
color: #fff; 
/*font-size: 19px; */
} 
body.YP_future-recruitment--page #recruting-slider .slide h2 { 
margin-bottom: 30px; 
color: #fff; 
/*font-size: 50px; */
font-weight: 700; 
} 
body.YP_future-recruitment--page #recruting-slider .slide .item { 
display: -webkit-box; 
display: -moz-box; 
display: -ms-flexbox; 
display: -webkit-flex; 
display: flex; 
-webkit-box-pack: justify; 
-webkit-justify-content: space-between; 
justify-content: space-between; 
-webkit-flex-wrap: wrap; 
-moz-flex-wrap: wrap; 
-ms-flex-wrap: wrap; 
-o-flex-wrap: wrap; 
flex-wrap: wrap; 
} 
body.YP_future-recruitment--page #recruting-slider .slide .item .col-5 { 
box-sizing: border-box; 
padding: 30px; 
height: 400px; 
background-repeat: no-repeat; 
background-size: cover; 
width: 50%; 
} 
body.YP_future-recruitment--page #recruting-slider .spring-btn { 
padding: 0 75px; 
} 

body.YP_future-recruitment--page #recruting-slider .blue { 
background: #01498E; 
} 
body.YP_future-recruitment--page .arrow-link { 
transition: all 0.3s; 
color: #fff; 
font-size: 18px; 
text-transform: uppercase; 
padding-right: 50px; 
background: url("../images/arr_right.png") right no-repeat !important; 
} 
body.YP_future-recruitment--page .arrow-link:hover { 
color: #000; 
} 
body.YP_future-recruitment--page .triangle-right { 
position: relative; 
} 
body.YP_future-recruitment--page .triangle-right:before { 
position: absolute; 
content: ''; 
width: 0; 
height: 0; 
border-style: solid; 
border-width: 18px 0 18px 18px; 
border-color: transparent transparent transparent #014a8e; 
right: -18px; 
top: 75px; 
} 
body.YP_future-recruitment--page .triangle-left { 
position: relative; 
} 
body.YP_future-recruitment--page .triangle-left:before { 
position: absolute; 
content: ''; 
width: 0; 
height: 0; 
border-style: solid; 
border-width: 18px 18px 18px 0; 
border-color: transparent #014a8e transparent transparent; 
left: -18px; 
top: 75px; 
} 

body.YP_future-recruitment--page #recruting-slider .owl-dots { 
margin-top: 60px; 
display: block; 
width: 100%; 
text-align: center; 
} 
body.YP_future-recruitment--page #recruting-slider .owl-dots .owl-dot { 
display: inline-block; 
} 
body.YP_future-recruitment--page #recruting-slider .owl-dots .owl-dot span { 
background-color: #CBCBCB !important; 
}
body.YP_future-recruitment--page #recruting-slider .owl-dots .owl-dot span { 
display: inline-block; 
width: 12px !important; 
height: 12px !important; 
margin: 30px !important; 
-webkit-border-radius: 0 !important; 
border-radius: 0 !important; 
-webkit-transform: rotate(45deg); 
-ms-transform: rotate(45deg); 
transform: rotate(45deg); 
} 
body.YP_future-recruitment--page #recruting-slider .owl-dots .owl-dot.active span { 
background-color: #E51E54 !important; 
} 
body.YP_future-recruitment--page #recruting-slider .description { 
margin: 120px 0 60px 0; 
} 
body.YP_future-recruitment--page .btn_scroll_down button { 
outline: none; 
border: none; 
background: none; 
color: #01498E; 
margin-left: -2px; 
margin-bottom: 30px; 
} 
body.YP_future-recruitment--page .section_no_overflow { 
overflow: visible !important; 
} 
body.YP_future-recruitment--page .btn_scroll_down { 
margin-bottom: -90px; 
z-index: 3; 
cursor: pointer; 
} 
body.YP_future-recruitment--page .form_scroll_wrap { 
text-align: center; 
position: relative; 
} 
body.YP_future-recruitment--page .form_scroll_wrap:before { 
position: absolute; 
content: ''; 
width: 0; 
height: 0; 
border-style: solid; 
border-width: 9px 9px 0 9px; 
border-color: #b1adaf transparent transparent transparent; 
bottom: -8px; 
right: 0; 
left: 0; 
margin: auto; 
} 
body.YP_future-recruitment--page .text_scroll { 
cursor: pointer; 
} 
body.YP_future-recruitment--page .form_scroll_wrap .gray_line { 
width: 250px; 
height: 1px; 
margin: 70px auto; 
background: #B1ADAF; 
} 
@media (max-width: 1240px) {
 
body.YP_future-recruitment--page #recruting-slider .description { 
margin: 30px 0; 
} 
body.YP_future-recruitment--page #recruting-slider .left-part { 
width: 100%; 
float: none; 
} 
body.YP_future-recruitment--page #recruting-slider .right-part { 
width: 100%; 
float: none; 
}
}
body.YP_future-recruitment--page .h-800 > .vc_column-inner {
   display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}


@media (max-width: 1400px) {
    body.YP_future-recruitment--page #recruting-slider .owl-dots {
    margin: 0;
}
body.YP_future-recruitment--page #recruting-slider .owl-carousel {
    margin-bottom: 0;
}
body.YP_future-recruitment--page #recruting-slider {
    padding:  0 !important;
}
body.YP_future-recruitment--page div.home-programs { 
padding: 30px 15px !important; 
} 
body.YP_future-recruitment--page .journey-item-right .vc_column-inner { 
padding: 100px 15px !important; 
} 
body.YP_future-recruitment--page #Content .journey-item-right img { 
max-width: 70%; 
display: block; 
margin: auto; 
} 
body.YP_future-recruitment--page div.journey-wrap { 
padding: 150px 15px 100px 15px !important; 
} 
body.YP_future-recruitment--page .journey-item-left .vc_column-inner { 
padding: 60px 0 !important; 
} 
body.YP_future-recruitment--page #recruting-slider .spring-btn { 
padding: 0 30px; 
height: auto; 
} 
 
body.YP_future-recruitment--page .file-wrap label { 
padding: 10px 30px; 
} 
body.YP_future-recruitment--page .text-section .vc_column-inner { 
padding: 60px 15px 0 15px !important; 
} 
body.YP_future-recruitment--page #recruitment-form > div > .vc_column-inner{ 
padding:  30px 30px 0 30px  !important; 
}
     body.YP_future-recruitment--page #recruitment-form > .wpb_column > .vc_column-inner{
    padding: 60px 30px 0 30px !important;
    }
    body.YP_future-recruitment--page .future_item { 
padding: 60px 15px; 
}
    body.YP_future-recruitment--page #recruitment-form form .check_wrap {
    margin: 30px 0;
}
body.YP_future-recruitment--page .yp-future-text-wrap {
    padding: 60px 15px 0 15px !important;
}
body.YP_future-recruitment--page .yp-future-text-wrap .wpb_wrapper > div {
    margin-bottom: 15px;
}
body.YP_future-recruitment--page .text-section h2, body.YP_future-recruitment--page .text-section p {
    margin-bottom: 15px;
}
body.YP_future-recruitment--page #recruitment-form form .submit-input { 
font-size: 20px;
padding: 20px 0;
} 
body.YP_future-recruitment--page #recruitment-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
font-size: 20px;
} 
body.YP_future-recruitment--page #recruitment-form ::-moz-placeholder { /* Firefox 19+ */ 
font-size: 20px;
} 
body.YP_future-recruitment--page #recruitment-form :-ms-input-placeholder { /* IE 10+ */ 
font-size: 20px;
}
body.YP_future-recruitment--page #recruitment-form :-moz-placeholder { /* Firefox 18- */ 
font-size: 20px;
} 

body.YP_future-recruitment--page #recruitment-form form .submit-wrap { 
width: calc(100% + 60px); 
width: -webkit-calc(100% + 60px); 
width: -moz-calc(100% + 60px); 
margin: 0 -30px; 
position: relative; 
padding: 0 60px; 
background: #E51E54; 
} 
body.YP_future-recruitment--page #recruitment-form form .text-input { 
font-size: 25px;
    line-height: normal;
    padding: 0;
    margin-bottom: 15px;
    min-height: 10px;
} 
body.YP_future-recruitment--page  .yp-future-item > .vc_column-inner {
    padding: 30px 15px !important;
}
}



 @media (min-width: 1200px) {
body.YP_future-recruitment--page .h-800 {
    min-height: 800px;
}
 }


@media (max-width: 768px) {
    body.YP_future-recruitment--page #recruitment-form form .jcf-checkbox {
        margin-top: 15px;
    }
    body.YP_future-recruitment--page .text-section .vc_column-inner { 
padding: 30px 15px 0 15px !important; 
}
    body.YP_future-recruitment--page .future_item {
    padding: 30px 15px;
}
     body.YP_future-recruitment--page .yp-future-item.image-item > .vc_column-inner {
        height: 500px;
    }
    body.YP_future-recruitment--page .yp-future-text-wrap {
    padding: 30px 15px 0 15px !important;
}
  body.YP_future-recruitment--page .yp-future-text-wrap .vc_empty_space {
display: none;
}
body.YP_future-recruitment--page #yp-future-section--1row .vc_column-inner {
margin: 0 !important;
}
}
@media (min-width: 768px) {
body.YP_future-recruitment--page #yp-future-section--1row {
    padding: 0 15px !important;
}

}



@media (max-width: 576px) { 
body.YP_future-recruitment--page #recruting-slider .left-part { 
padding: 50px 15px; 
} 
body.YP_future-recruitment--page #recruting-slider .slide h2 { 
/*font-size: 35px; */
} 
body.YP_future-recruitment--page #recruting-slider .slide p { 
/*font-size: 16px; */
} 
body.YP_future-recruitment--page #recruitment-form form .text-input { 
font-size: 25px; 
line-height: 40px; 
} 
body.YP_future-recruitment--page #recruitment-form form .submit-input { 
font-size: 25px; 
} 
body.YP_future-recruitment--page #recruitment-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
font-size: 25px; 
} 
body.YP_future-recruitment--page #recruitment-form ::-moz-placeholder { /* Firefox 19+ */ 
font-size: 25px; 
} 
body.YP_future-recruitment--page #recruitment-form :-ms-input-placeholder { /* IE 10+ */ 
font-size: 25px; 
} 
body.YP_future-recruitment--page #recruitment-form :-moz-placeholder { /* Firefox 18- */ 
font-size: 25px; 
} 
body.YP_future-recruitment--page #recruting-slider .slide .item .col-5 { 
min-height: 300px; 
height: auto; 
width: 100%; 
} 
body.YP_future-recruitment--page #recruting-slider .right-part { 
height: 100%; 
} 
body.YP_future-recruitment--page div#recruting-slider { 
padding: 30px 0 0 0 !important; 

} 
body.YP_future-recruitment--page #recruting-slider .description { 
margin: 0px 0 30px 0; 
} 
}