
#section__1--slider .section__1--main_title_block .main_title {
    z-index: 9;
}
 .animation_image {
    transform: translate3d(0px, 0px, 0px) scale(1.05, 1.05);
    transform-origin: 0% 0% 0px;
    transition: all 20s;
}

 .zoom-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
body.CE_job-functions--page .job_poster_content {
    min-height: 750px;
    cursor: pointer;
}
body.CE_job-functions--page #ce-poster-list {
    border: none !important;
}
body.CE_job-functions--page #ce-select-deploy-train  {
        min-height: 200px;
    display: block; 
    background: no-repeat fixed center center/cover;
    }
    body.CE_job-functions--page #ce-select-deploy-train > div {
     padding: 350px 0 !important;
     display: block;
}
body.CE_job-functions--page .btn {
    box-sizing: border-box;
}
body.CE_job-functions--page #ce-poster-list .wpb_wrapper .wpb_wrapper {
    box-sizing: border-box;
}
body.CE_job-functions--page #ce-job-function-intro .vc_column-inner {
    max-width: 80%;
    margin: auto;
}
body.CE_job-functions--page .job_poster_content {
    height: 100%;
    visibility: hidden;
    /*transition: all 0.5s ease-out;*/
    /*transition: all 0.3s;*/
    /*transition: all .4s;*/
    box-sizing: border-box;

}
body.CE_job-functions--page .job_poster .wpb_wrapper {
height: 100%;
}
body.CE_job-functions--page #ce-job-function-intro .vc_single_image-wrapper  {
  margin: 0;
}
body.CE_job-functions--page .job_poster:hover .job_poster_content {
   visibility: visible;
}
body.CE_job-functions--page .job_poster > .vc_column-inner > .wpb_wrapper {
    transition: all 0.3s;
    box-sizing: border-box;
}
body.CE_job-functions--page .job_poster .btn {
        transition: background 0.3s !important;
}
body.CE_job-functions--page .job_poster .btn_row {
    width: 100%;
}
body.CE_job-functions--page .job_poster:hover > .vc_column-inner > .wpb_wrapper {
    background-color: rgba(1, 73, 142, 0.5);
}

body.CE_job-functions--page .job_poster h4 {
    color: #fff;
}

body.CE_job-functions--page .job_poster .title h2 {
    color: #fff;
}
body.CE_job-functions--page .job_poster p {
    color: #fff;
}
body.CE_job-functions--page .job_poster .info p {
    color: #fff;
}






body.CE_job-functions--page #ce-browse-job h4 {
    color: #fff;
}

body.CE_job-functions--page #ce-browse-job h2 {
    color: #fff;
}

body.CE_job-functions--page #ce-browse-job p {
    color: #fff;
    margin-bottom: 15px;
}

body.CE_job-functions--page .btn.pink-filled.hover-white:hover {
    background: #fff;
    border-color: #000;
    color: #000;
}

body.CE_job-functions--page .wpb_wrapper > .wpb_revslider_element {
    margin-bottom: 0;
}

body.CE_job-functions--page #ce-customer-journey {
    text-align: center;
}

body.CE_job-functions--page #ce-customer-journey h5 {
    /*font-size: 19px;*/
    color: #B1ADAF;
}

body.CE_job-functions--page #ce-customer-journey h2 {
    /*font-size: 60px;*/
}

body.CE_job-functions--page #ce-customer-journey p {
    /*font-size: 20px;*/
    color: #9D9D9C;
}
body.CE_job-functions--page #ce-job-function-intro  {
   overflow: visible;
}

body.CE_job-functions--page #ce-job-functions-wrap > .wpb_column > .vc_column-inner  {
    position: relative;
    z-index: 999;
}
body.CE_job-functions--page .job_poster_content > .wpb_wrapper {
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center; 
}


body.CE_job-functions--page #ce-poster-list .wpb_wrapper .wpb_wrapper {
    text-align: center;
    padding: 115px 90px 80px 90px;
    box-sizing: border-box;
}

 body.CE_job-functions--page .ce-poster-list-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media (max-width: 1400px) {
  body.CE_job-functions--page a.btn-medium, body.CE_job-functions--page button.btn-medium {
    padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
    body.CE_job-functions--page #ce-select-deploy-train > div {
     padding: 150px 0 !important;
}
   body.CE_job-functions--page .experience-wrap {
    padding: 200px 0 !important;
}
    body.CE_job-functions--page #ce-poster-list .wpb_wrapper .wpb_wrapper {
    padding: 30px 15px;
}
body.CE_job-functions--page .job_poster_content .wpb_wrapper > div {
    margin-bottom: 15px;
}
body.CE_job-functions--page .job_poster_content {
    min-height: 200px;
}
body.CE_job-functions--page #ce-job-function-intro .vc_column-inner  {
padding-bottom: 60px !important;
    max-width: 100%;
    margin: auto !important;
}
 body.CE_job-functions--page #ce-job-function-intro {
    padding: 0  !important;
}
body.CE_job-functions--page .journey-container-content > .vc_column-inner {
padding: 60px 15px !important;
}
body.CE_job-functions--page #ce-browse-job {
   padding: 60px 0 !important; 
}
}

@media (max-width: 1200px) {
  body.CE_job-functions--page #ce-poster-list .wpb_wrapper .wpb_wrapper {
        padding: 90px 10px 60px 10px;
    }

}
@media (max-width: 992px) {
body.CE_job-functions--page .job_poster_content {
    min-height: 400px;
}
body.CE_job-functions--page #ce-poster-list .wpb_wrapper .wpb_wrapper {
    padding: 30px 15px;
}
}

@media (min-width:768px) {
   body.CE_job-functions--page #ce-job-functions-intro {
        top: 0;
    }
}

@media (max-width:768px)  {
   body.CE_job-functions--page #ce-select-deploy-train p {
    margin-bottom: 15px;
}
 body.CE_job-functions--page #ce-select-deploy-train h2 {
    margin-bottom: 15px;
}
    body.CE_job-functions--page #ce-browse-job {
    padding: 30px 0 !important;
}
body.CE_job-functions--page #ce-select-deploy-train > div {
    padding: 100px 0 !important;
}
body.CE_job-functions--page #journey-container > div > .vc_column-inner {
padding: 30px 15px 0 15px !important;
}
body.CE_job-functions--page div .browse-job-container {
    padding: 60px 15px !important;
}
body.CE_job-functions--page .job_poster .img_row {
    margin-bottom: 0;
}
body.CE_job-functions--page #ce-job-function-intro .vc_column-inner {
    padding: 30px 15px !important;
}
body.CE_job-functions--page #ce-job-function-intro {
    padding-bottom: 0 !important;
}
}




