.section_wrapper,
.container {
  max-width: 1548px !important; }

body.CE_home--page #custom--tab_row .custom--tile--spring_professional {
  background-color: #01498E;
  margin: -75px 0 75px 0 !important; }

body.CE_home--page #custom--tab_row .custom--tile--spring_professional > div,
body.CE_home--page #custom--tab_row .custom--tile--job_alert > div {
  padding: 120px 60px !important; }
  @media (max-width: 1200px) {
    body.CE_home--page #custom--tab_row .custom--tile--spring_professional > div,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert > div {
      padding: 40px !important; } }

body.CE_home--page #custom--tab_row .custom--tile--spring_professional * {
  color: #ffffff; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert {
  background-color: #B1ADAF;
  margin: 0px 0 0px 0 !important; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert * {
  color: #000000; }

@media (max-width: 991px) {
  body.CE_home--page #custom--tab_row .custom--tile--spring_professional,
  body.CE_home--page #custom--tab_row .custom--tile--job_alert {
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important; } }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block {
  margin-top: 25px;
  margin-bottom: 45px; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block:first-child {
  margin-top: 0; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item {
  padding: 5px 0;
  border-bottom: 1px solid #000000; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--title {
  font-size: 27px;
  line-height: 27px;
  font-family: "Colfax Bold";
  padding-top: 10px;
  padding-bottom: 10px; }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--title {
      font-size: 24px;
      line-height: 24px; } }
  @media (max-width: 991px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--title {
      font-size: 19px;
      line-height: 19px; } }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--sub_info,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  padding: 0;
  margin: 0; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type {
  position: relative;
  font-size: 17px;
  line-height: 2;
  position: relative;
  font-family: "Colfax Regular";
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  text-transform: uppercase; }
  @media (min-width: 1201px) and (max-width: 1399px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type {
      font-size: 16px !important; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type {
      font-size: 15px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type {
      font-size: 14px !important; } }
  @media (max-width: 767px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date,
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type {
      font-size: 13px !important; } }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city {
  margin-right: 20px;
  padding-left: 30px; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type {
  padding-left: 60px; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city:before {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/icon-location-black.svg"); }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date:before {
  background-image: url("http://spring-candidates.cpi-development.eu/wp-content/uploads/2017/08/icon-calendar-black.svg"); }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .city:before,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .date:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .type:before {
  content: '';
  position: absolute;
  left: 0px;
  top: -10px;
  width: 50px !important;
  height: 50px !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a {
  text-align: right; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a {
  color: #000000;
  text-transform: uppercase;
  font-family: "Colfax Bold";
  font-size: 17px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px; }
  @media (min-width: 1201px) and (max-width: 1399px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a {
      font-size: 16px !important; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a {
      font-size: 15px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a {
      font-size: 14px !important; } }
  @media (max-width: 767px) {
    body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a {
      font-size: 13px !important; } }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a * {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a:hover,
body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a:hover * {
  color: #ffffff; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert a.btn-silver:hover {
  color: #ffffff; }

body.CE_home--page #custom--tab_row .custom--tile--job_alert .last_vacancies_block .vacancie_item .vacancie--apply a * {
  display: inline-block;
  vertical-align: middle; }

body.CE_home--page #custom--customer_engagemenet {
  margin-top: 150px !important; }
  @media (max-width: 767px) {
    body.CE_home--page #custom--customer_engagemenet {
      margin-top: 75px !important; } }

body.CE_home--page #custom--customer_engagemenet .tiles {
  text-align: center;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0 !important; }

body.CE_home--page #custom--customer_engagemenet .tile {
  display: inline-block;
  vertical-align: top;
  min-height: 300px;
  background-color: #ffffff;
  width: 33.333%;
  padding: 150px 40px 90px 40px;
  margin: 0px -2px; }
  @media (min-width: 992px) and (max-width: 1999px) {
    body.CE_home--page #custom--customer_engagemenet .tile {
      padding-top: 70px;
      padding-bottom: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_home--page #custom--customer_engagemenet .tile {
      padding-top: 60px;
      padding-bottom: 70px; } }
  @media (max-width: 767px) {
    body.CE_home--page #custom--customer_engagemenet .tile {
      padding-top: 40px;
      padding-bottom: 60px; } }
  @media (min-width: 993px) {
    body.CE_home--page #custom--customer_engagemenet .tile {
      width: 33.333%; } }
  @media (min-width: 768px) and (max-width: 1200px) {
    body.CE_home--page #custom--customer_engagemenet .tile {
      width: 50%; } }
  @media (max-width: 767px) {
    body.CE_home--page #custom--customer_engagemenet .tile {
      width: 100%; } }

@media (min-width: 1201px) {
  body.CE_home--page #custom--customer_engagemenet .tile:nth-child(even) {
    background-color: #F4F4F4; } }

@media (min-width: 1201px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(1),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(2),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(3) {
    border-top: 1px solid #DADADA; } }

@media (min-width: 1201px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(4),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(5),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(6) {
    border-bottom: 1px solid #DADADA; } }

@media (min-width: 768px) and (max-width: 1200px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(1),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(4),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(5) {
    background-color: #F4F4F4; } }

@media (min-width: 768px) and (max-width: 1200px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(1),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(2) {
    border-top: 1px solid #DADADA; } }

@media (min-width: 768px) and (max-width: 1200px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(5),
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(6) {
    border-bottom: 1px solid #DADADA; } }

@media (max-width: 767px) {
  body.CE_home--page #custom--customer_engagemenet .tile:nth-child(even) {
    background-color: #F4F4F4; } }

@media (max-width: 767px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(1) {
    border-top: 1px solid #DADADA; } }

@media (max-width: 767px) {
  body.CE_home--page #custom--customer_engagemenet .tiles .tile:nth-child(6) {
    border-bottom: 1px solid #DADADA; } }

body.CE_home--page #custom--customer_engagemenet .tile p {
  margin: 0;
  padding: 0; }

body.CE_home--page #custom--customer_engagemenet .tile .img_row img {
  width: 125px;
  height: 125px; }

body.CE_home--page #custom--customer_engagemenet .tile .pre_title {
  text-transform: uppercase;
  padding-top: 20px;
  display: table;
  width: 100%;
  height: 88px; }
  @media (max-width: 767px) {
    body.CE_home--page #custom--customer_engagemenet .tile .pre_title {
      height: auto !important;
      padding-top: 10px; } }

body.CE_home--page #custom--customer_engagemenet .tile .pre_title p {
  display: table-cell;
  width: 100%;
  vertical-align: middle; }

body.CE_home--page #custom--customer_engagemenet .tile .title {
  display: table;
  width: 100%;
  height: 100px; }
  @media (max-width: 767px) {
    body.CE_home--page #custom--customer_engagemenet .tile .title {
      height: auto !important;
      padding-top: 10px;
      padding-bottom: 10px; } }

body.CE_home--page #custom--customer_engagemenet .tile .title h3 {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0 !important; }
  @media (max-width: 991px) {
    body.CE_home--page #custom--customer_engagemenet .tile .title h3 {
      font-size: 47px; } }

body.CE_home--page #custom--customer_engagemenet .tile .title span {
  display: inline-block;
  vertical-align: middle; }

body.CE_home--page #custom--customer_engagemenet .tile .info {
  min-height: 100px;
  margin-top: 15px;
  margin-bottom: 30px; }
  @media (max-width: 991px) {
    body.CE_home--page #custom--customer_engagemenet .tile .info {
      margin-top: 15px; } }

@media (min-width: 991px) and (max-width: 1999px) {
  body.CE_home--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
    left: -50px; } }

@media (max-width: 767px) {
  body.CE_home--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
    left: -44px; } }

/* ----------------- START why_working_at_spring--blue_block ----------------- */
body.CE_home--page #custom--why_working_at_spring {
  margin-top: -90px !important; }
  @media (max-width: 767px) {
    body.CE_home--page #custom--why_working_at_spring {
      margin-top: -35px !important; } }

body.CE_home--page #custom--why_working_at_spring--blue_block {
  padding-left: 100px !important;
  padding-right: 100px !important;
  margin-left: auto !important;
  margin-right: auto !important; }
  @media (min-width: 1570px) {
    body.CE_home--page #custom--why_working_at_spring--blue_block {
      margin-left: 15px !important;
      margin-right: 15px !important; } }
  @media (max-width: 767px) {
    body.CE_home--page #custom--why_working_at_spring--blue_block {
      max-width: 100% !important;
      padding-left: 40px !important;
      padding-right: 40px !important; } }

body.CE_home--page #custom--why_working_at_spring--blue_block * {
  color: #ffffff; }

body.CE_home--page #custom--why_working_at_spring--blue_block .vc_column-inner {
  padding-top: 0; }

body.CE_home--page #custom--why_working_at_spring--blue_block .why_worikng--items {
  text-align: center;
  margin-bottom: 0; }

body.CE_home--page #custom--why_working_at_spring--blue_block .why_worikng--item {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  position: relative;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 70px;
  width: 33%; }
  @media (max-width: 1200px) {
    body.CE_home--page #custom--why_working_at_spring--blue_block .why_worikng--item {
      width: 100%;
      margin-bottom: 30px; } }

body.CE_home--page #custom--why_working_at_spring--blue_block .why_worikng--item:last-child {
  margin-bottom: 50px; }

@media (min-width: 768px) and (max-width: 1200px) {
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring--img_block,
  body.CE_home--page #custom--why_working_at_spring--blue_block p {
    display: inline-block;
    vertical-align: middle;
    width: 49%; } }

@media (max-width: 767px) {
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring--img_block,
  body.CE_home--page #custom--why_working_at_spring--blue_block p {
    width: 100%;
    display: block; } }

body.CE_home--page #custom--why_working_at_spring--blue_block p span {
  display: block;
  margin-bottom: 10px; }

body.CE_home--page #custom--why_working_at_spring--blue_block p span:last-child {
  margin-bottom: 0px; }

@media (max-width: 767px) {
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring--img_block {
    text-align: center; } }

@media (min-width: 1201px) {
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring--img_block {
    position: absolute;
    width: 100%;
    height: 100%; }
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring-block-1 .why_working_at_spring--img_block {
    left: -40px;
    top: 80px; }
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring-block-2 .why_working_at_spring--img_block {
    left: 75px;
    bottom: -80px; }
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring-block-3 .why_working_at_spring--img_block {
    left: 150px;
    bottom: -80px; } }

@media (max-width: 767px) {
  body.CE_home--page #custom--why_working_at_spring--blue_block .why_working_at_spring--img_block img {
    width: 150px; } }

/* -----------------  END  why_working_at_spring--blue_block ----------------- */
/* ----------------- START #custom--meet_our_team ----------------- */
#custom--meet_our_team {
  margin-top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 90px !important;
  padding-top: 90px !important; }

/* -----------------  END  #custom--meet_our_team ----------------- */
body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .slide {
  text-align: center; }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .slide > div {
  display: inline-block;
  width: 33%;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: -2px;
  margin-right: -2px;
  border-bottom: 2px solid #D9D9D9;
  height: 170px;
  min-height: 50px;
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .slide > div {
      width: 50%;
      max-width: 350px; } }
  @media (max-width: 767px) {
    body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .slide > div {
      width: 100%;
      max-width: 250px; } }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .slide > div > img {
  width: auto;
  max-width: 220px;
  height: auto;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots {
  display: block;
  width: 100%;
  text-align: center; }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots .owl-dot {
  display: inline-block; }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots .owl-dot span {
  display: inline-block;
  width: 12px !important;
  height: 12px !important;
  margin: 30px !important;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #E51E54 !important; }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots .owl-dot span {
  background-color: #CBCBCB !important; }

body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots .owl-dot:hover,
body.CE_home--page #custom--customer_talk .owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  cursor: pointer; }

/* ------------------- START #custom--schedule_a_coffee_with_us ------------------- */
#custom--schedule_a_coffee_with_us {
  padding-left: 15px !important;
  padding-right: 15px !important; }

/* -------------------  END  #custom--schedule_a_coffee_with_us ------------------- */
