body.YP_contact--page * {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body.YP_contact--page section#section__1--slider .section__1--main_title_block h5.sub_title,
body.YP_contact--page section#section__1--slider .section__1--main_title_block h6.sub_title {
  font-family: "Roboto" !important;
  font-weight: 400; }

body.YP_contact--page section#section__1--slider #row_scroll.top_slider {
  bottom: 50px !important; }

body.YP_contact--page section#section__1--slider #row_scroll.top_slider button.scroll_btn {
  margin-bottom: 55px !important; }

body.YP_contact--page #sc-intro.contact-page-intro {
  margin-top: -100px !important; }
  @media (max-width: 991px) {
    body.YP_contact--page #sc-intro.contact-page-intro {
      margin-top: 0px !important; } }

@media (max-width: 1000px) {
  body.YP_contact--page #sc-intro.contact-page-intro .form-transparent .vc_column-inner {
    max-width: 100%; } }

body.YP_contact--page #sc-intro.contact-page-intro .container {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important; }
  @media (min-width: 1565px) {
    body.YP_contact--page #sc-intro.contact-page-intro .container {
      padding-left: 15px !important;
      padding-right: 15px !important; } }
  @media (min-width: 1050px) and (max-width: 1200px) {
    body.YP_contact--page #sc-intro.contact-page-intro .container {
      padding-left: 15px !important;
      padding-right: 15px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.YP_contact--page #sc-intro.contact-page-intro .container {
      padding-left: 15px !important;
      padding-right: 15px !important; } }

body.YP_contact--page #sc-intro .contact-page-intro-wrap {
  overflow: visible; }

body.YP_contact--page #sc-intro.contact-page-intro address {
  margin-bottom: 60px; }

body.YP_contact--page #sc-intro address {
  margin-bottom: 35px; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent > div {
  text-align: center;
  background: #01498E;
  padding: 110px 50px 00px 50px !important; }
  @media (max-width: 991px) {
    body.YP_contact--page #sc-intro.contact-page-intro .form-transparent > div {
      padding: 50px 15px 00px 15px !important; } }

body.YP_contact--page .wpcf7-form-control-wrap {
  text-align: left; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent p {
  color: #ffffff; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form {
  width: 100%; }
  @media (min-width: 1200px) {
    body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form {
      max-width: 50% !important; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form {
      max-width: 66% !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form {
      max-width: 82% !important; } }
  @media (max-width: 767px) {
    body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form {
      max-width: 100% !important; } }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="radio"] + span:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  -webkit-box-shadow: 0 0 0 3px #ffffff;
          box-shadow: 0 0 0 3px #ffffff; }

body.YP_contact--page .form_input_wrap .form_item:first-child {
  float: left; }

body.YP_contact--page .form_input_wrap .form_item:last-child {
  float: right; }

body.YP_contact--page .form_input_wrap .form_item {
  margin-bottom: 15px;
  width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 991px) {
    body.YP_contact--page .form_input_wrap .form_item {
      float: none;
      width: 100%; } }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span.first {
  margin-left: 0; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="radio"] {
  display: none; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  min-height: 250px !important;
  max-height: 450px !important; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea::-webkit-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]::-webkit-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]::-webkit-input-placeholder {
  background: transparent; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea::-moz-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]::-moz-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]::-moz-placeholder {
  background: transparent; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea:-ms-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]:-ms-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]:-ms-input-placeholder {
  background: transparent; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea::placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]::placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]::placeholder {
  background: transparent; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form * {
  font-size: 19px; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="radio"]:checked + span,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"],
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"],
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="submit"] {
  color: #ffffff;
  -webkit-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: 0s;
          transition-delay: 0s; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea::-webkit-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]::-webkit-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea::-moz-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]::-moz-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea:-ms-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]:-ms-input-placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form span .wpcf7-list-item-label,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea::placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"]::placeholder,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"]::placeholder {
  color: rgba(255, 255, 255, 0.5); }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="radio"]:checked + span:before {
  border: 3px solid #01498E;
  background: #ffffff; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form textarea,
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="text"],
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="email"],
body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="submit"] {
  border: 3px solid #ffffff !important;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  padding: 10px 25px; }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="submit"] {
  cursor: pointer;
  width: 100%;
  max-width: 330px;
  background: #002c55;
  display: block;
  text-align: center;
  padding: 10px 10px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 991px) {
    body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="submit"] {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; } }

body.YP_contact--page #sc-intro.contact-page-intro .form-transparent form input[type="submit"]:hover {
  background: #ffffff;
  color: #000000; }

body.YP_contact--page #custome-a_coffee > div {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }
  @media (max-width: 991px) {
    body.YP_contact--page #custome-a_coffee > div {
      padding-top: 50px !important;
      padding-bottom: 00px !important; } }

body.YP_contact--page .map_wrapper #g-map {
  height: 700px;
  width: 100%;
  margin: 0px 0 175px 0; }
  @media (max-width: 1400px) {
    body.YP_contact--page .map_wrapper #g-map {
      height: 350px;
      margin: 60px 0; } }
  @media (max-width: 991px) {
    body.YP_contact--page .map_wrapper #g-map {
      margin: 30px 0; } }

body.YP_contact--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
  left: -35px; }
  @media (max-width: 991px) {
    body.YP_contact--page #section--row_scroll_down.the_team #row_scroll button.scroll_btn {
      left: -29px; } }

body.YP_contact--page .gray_team_wrap {
  padding: 200px 100px; }

body.YP_contact--page section.contact-page-looking-for-talent.vc_section {
  padding: 0;
  margin-top: -150px;
  overflow: visible; }

body.YP_contact--page .contact-page-looking-for-talent h2 {
  margin-bottom: 40px; }

body.YP_contact--page .contact-page-looking-for-talent .spring-btn {
  margin-top: 40px; }

body.YP_contact--page .contact-page-looking-for-talent .btn_top_wrap {
  margin-top: -195px; }

body.YP_contact--page .our_team_item_content h2 {
  color: #ffffff; }

body.YP_contact--page .our_team_item_content .wpb_wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 480px;
  height: 100%; }

body.YP_contact--page .our_team_item_content {
  color: #ffffff;
  height: 100%;
  visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body.YP_contact--page .our_team_item {
  cursor: pointer; }

body.YP_contact--page .our_team_item > div.vc_column-inner {
  background-position: center center !important; }

body.YP_contact--page .our_team_item > .vc_column-inner > .wpb_wrapper {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body.YP_contact--page .our_team_item:hover .our_team_item_content {
  visibility: visible; }

body.YP_contact--page .our_team_item:hover > .vc_column-inner > .wpb_wrapper {
  background: rgba(1, 73, 142, 0.8); }

body.YP_contact--page .our_team_item .wpb_wrapper {
  height: 100%; }

body.YP_contact--page .our_team_item_content > .wpb_wrapper {
  padding: 60px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center; }

body.YP_contact--page .our_team_item .roboto-r {
  word-wrap: break-word;
  margin-bottom: 0; }

body.YP_contact--page .our_team_item .soc_link {
  color: #ffffff; }

body.YP_contact--page .our_team_item .soc_link i {
  font-size: 30px; }

body.YP_contact--page .our_team_item .soc_link:hover {
  color: #E51E54; }

body.YP_contact--page .our_team_item .soc_link {
  display: inline-block;
  margin: 0 15px; }

body.YP_contact--page .scroll_up {
  text-align: center; }

body.YP_contact--page .scroll_up button {
  margin-bottom: 15px;
  cursor: pointer;
  background: transparent;
  color: #01498E;
  font-size: 21px;
  line-height: 21px;
  font-family: "BebasNeue Regular", "Colfax Regular", "Roboto", Arial, Tahoma, sans-serif !important;
  letter-spacing: 5px;
  display: inline-block;
  background-color: transparent;
  border: none; }

body.YP_contact--page .scroll_up button:after {
  background: transparent; }

body.YP_contact--page .contact-page-looking-for-talent .width-80 .vc_column-inner {
  max-width: 80%;
  background: #01498E;
  margin: 0 auto 120px;
  text-align: center;
  padding: 90px 15px; }

body.YP_contact--page section#custom--follow_us.contact-page-follow-wrap {
  padding: 200px 15px !important; }
  @media (max-width: 991px) {
    body.YP_contact--page section#custom--follow_us.contact-page-follow-wrap {
      padding: 100px 15px !important; } }

body.YP_contact--page section#custom--follow_us.contact-page-follow-wrap a span {
  font-size: 30px;
  color: #01498E;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

body.YP_contact--page section#custom--follow_us.contact-page-follow-wrap .social-links {
  margin: 45px 0 0 0;
  list-style: none; }

body.YP_contact--page .contact-page-follow-wrap .social-links li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin: 0 30px; }

body.YP_contact--page section#custom--follow_us.contact-page-follow-wrap .social-links li:hover span {
  color: #E51E54; }

body.YP_contact--page .slider-social-links li {
  margin-top: 10px !important;
  display: inline-block; }

body.YP_contact--page .slider-social-links span {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 30px; }

body.YP_contact--page .slider-social-links li:hover span {
  color: #01498E; }

body.YP_contact--page #home-slider .roboto-r {
  font-size: 20px !important;
  line-height: 25px !important;
  padding: 10px 0 !important; }

body.YP_contact--page .gray_team_wrap {
  padding: 60px 15px; }

body.YP_contact--page .gray_team_wrap .wpb_wrapper > div {
  margin-bottom: 15px; }

body.YP_contact--page section.contact-page-looking-for-talent.vc_section {
  margin-top: 0; }

body.YP_contact--page .contact-page-looking-for-talent .width-80 .vc_column-inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 15px; }

body.YP_contact--page .contact-page-follow-wrap {
  padding: 90px 0; }

body.YP_contact--page .contact-page-looking-for-talent .roboto-r {
  margin-bottom: 15px; }

body.YP_contact--page .contact-page-looking-for-talent h2 {
  margin-bottom: 15px; }

body.YP_contact--page .contact-page-looking-for-talent .width-80 .vc_column-inner {
  max-width: 100%; }

body.YP_contact--page .contact-page-follow-wrap {
  padding: 45px 15px; }

body.YP_contact--page .contact-page-looking-for-talent .width-80 .vc_column-inner {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 15px 30px 15px; }

body.YP_contact--page .our_team_item_content > .wpb_wrapper {
  padding: 30px 15px; }

body.YP_contact--page .our_team_item_content .wpb_wrapper {
  min-height: 400px; }

body.YP_contact--page .contact-page-follow-wrap .social-links li {
  margin: 0 10px; }

body.YP_contact--page .contact-page-follow-wrap .social-links {
  margin: 25px 0 0 0; }

body.YP_contact--page #our_team_section {
  background: #F4F4F4;
  padding-bottom: 450px; }

body.YP_contact--page #our_team_section {
  padding-bottom: 200px; }
