.color-white h2 {
	color: #fff;
}
.color-white h4 {
	color: #fff;
}
.color-white .over_title {
    color: #fff;
}
.color-white p {
	color: #fff;
}
body.YP_job-functions--page #job-poster-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
body.YP_job-functions--page .job_poster > .vc_column-inner{
    height: 100%;
}
body.YP_job-functions--page #yp-job-functions-intro {
	overflow: visible;
}
body.YP_job-functions--page #yp-job-functions-intro .vc_column-inner {
   
    margin: auto;
}
.align-center {
	text-align: center;
}
 body.YP_job-functions--page #yp-job-functions-wrap h6,  body.YP_job-functions--page .job_poster h6,   body.YP_job-functions--page #yp-job-functions-program h6,   body.YP_job-functions--page #job-function-experience h6 {
    color: #fff;
 }
 
body.YP_job-functions--page .job-list .wpb_wrapper .wpb_wrapper {
    text-align: center;
    padding: 100px 90px;
    box-sizing: border-box;
}
body.YP_job-functions--page #job-function-experience .btn_row {
    margin-top: 30px;
}
body.YP_job-functions--page .experience-wrap {
	padding: 360px 20% 420px 20% !important;
    background-repeat: no-repeat;
    background-size: cover;
}
body.YP_job-functions--page .top-70 {
	margin-top: 70px;
}
body.YP_job-functions--page .top-45 {
	margin-top: 45px;
}
body.YP_job-functions--page .yp-job-function-apply h2 {
	/*font-size: 50px;*/
	margin-bottom: 40px
}
body.YP_job-functions--page .yp-job-function-apply h4 {
	margin-bottom: 35px;
}

body.YP_job-functions--page #yp-job-functions-intro .vc_single_image-wrapper {
    margin: 0;
}
body.YP_job-functions--page #ce-job-function-intro div.target-scroll {
	padding: 0 !important;
	margin: 0 !important;
}



/*new*/
body.YP_job-functions--page #yp-job-functions-program .btn_row {
	margin-top: 30px;
}
body.YP_job-functions--page #yp-job-functions-program {
	z-index: 2;
	position: relative;
}
body.YP_job-functions--page .job_poster_content .wpb_wrapper {
    min-height: 750px;
    cursor: pointer;
}
body.YP_job-functions--page .job_poster_content {
    height: 100%;
    visibility: hidden;
    /*transition: all 0.5s ease-out;*/
    transition: all 0.3s;
    /*transition: all .4s;*/
    box-sizing: border-box;

}
body.YP_job-functions--page .job_poster .wpb_wrapper {
height: 100%;
}
body.YP_job-functions--page .job_poster:hover .job_poster_content {
   visibility: visible;
}
body.YP_job-functions--pagee .job_poster > .vc_column-inner > .wpb_wrapper {
    transition: all 0.3s;
    box-sizing: border-box;
}
body.YP_job-functions--page .job_poster .btn {
       transition: background 0.3s !important;
}
body.YP_job-functions--page .job_poster .btn_row {
    width: 100%;
}
body.YP_job-functions--page .job_poster .over_title {
    color: #fff;
}
body.YP_job-functions--page .job_poster:hover > .vc_column-inner > .wpb_wrapper {
    background-color: rgba(1, 73, 142, 0.5);
    transition: all 0.5s ease;
}

body.YP_job-functions--page .job_poster h4 {
    color: #fff;
}

body.YP_job-functions--page .job_poster .title h2 {
    color: #fff;
}

body.YP_job-functions--page .job_poster .info p {
    color: #fff;
}

body.YP_job-functions--page .job_poster_content > .wpb_wrapper {
display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center; 
}



@media (max-width: 1400px) {
body.YP_job-functions--page .journey-item-img {

}

body.YP_job-functions--page .functions-wrap > .wpb_column > .vc_column-inner {
padding-bottom: 60px !important
}
body.YP_job-functions--page #yp-job-functions-intro {
    padding-bottom: 60px !important
}
body.YP_job-functions--page #yp-job-text-wrap .vc_column-inner {
padding: 60px 15px !important
}
body.YP_job-functions--page .job_poster_content .wpb_wrapper {
    min-height: 200px;
}
body.YP_job-functions--page .job-list .wpb_wrapper .wpb_wrapper {
    padding: 60px 15px;
}
body.YP_job-functions--page a.btn-medium, body.YP_job-functions--page button.btn-medium {
    padding: 5px 20px;
    max-width: 100%;
    font-size: 15px;
    display: inline-block !important;
    width: auto;
}
body.YP_job-functions--page div .experience-wrap {
    padding: 150px 30px !important;
}
body.YP_job-functions--page #yp-job-functions-program {
  padding: 60px 0 !important;
  margin: 0 !important
}
body.YP_job-functions--page .journey-wrap {
padding: 60px 15px !important;
}
body.YP_job-functions--page .journey-item-left > .vc_column-inner{
padding: 0 !important;
}
body.YP_job-functions--page .journey-item-right > .vc_column-inner{
padding: 50px !important;
}
body.YP_job-functions--page .top-45 {
     margin-top: 0; 
}
body.YP_job-functions--page .yp-job-function-apply h2 {
    margin-bottom: 15px;
}
body.YP_job-functions--page .journey-item-right img {
    max-width: 70% !important;
    margin: auto !important;
    display: block;
}
body.YP_job-functions--page .journey-item-right .vc_single_image-wrapper {
    margin-bottom: 0;
}
}


@media (max-width: 1000px) {
   

body.YP_job-functions--page .functions-wrap > div > .vc_column-inner {
	margin: 0 !important;
	padding-bottom: 60px !important;
	max-width: 100% !important;
}

body.YP_job-functions--page .yp-job-text .vc_empty_space   {
	display: none;
}
body.YP_job-functions--page .yp-job-text .width-70-perc {
	max-width: 100% !important;
}

}


@media (max-width: 768px) {
    body.YP_job-functions--page .yp-job-text .vc_column-inner {
        padding: 30px 15px !important;
    }
    body.YP_job-functions--page .functions-wrap > .wpb_column > .vc_column-inner {
    padding: 30px 15px !important;
}
body.YP_job-functions--page div .experience-wrap {
    padding: 100px 0 !important;
}
body.YP_job-functions--page .job-list .wpb_wrapper .wpb_wrapper > div{
  margin-bottom: 15px;
}
body.YP_job-functions--page .job-list .wpb_wrapper .wpb_wrapper {
    padding: 30px 15px;
}
body.YP_job-functions--page #yp-job-functions-program {
    padding: 30px 0 !important;
}
body.YP_job-functions--page .journey-wrap {
    padding: 30px 15px !important;
}
}

