#ce-success-stories-intro {
  overflow: hidden;
  margin-bottom: 200px; }
  @media (max-width: 991px) {
    #ce-success-stories-intro {
      margin-bottom: 75px; } }

#ce-success-stories-intro h4 {
  margin-bottom: 25px; }

#ce-success-stories-intro h2 {
  margin-bottom: 30px; }

#ce-success-stories-intro .icom-long-vr-arrow {
  color: #01498E;
  font-size: 120px;
  margin: -60px 0 130px 1px; }
  @media (max-width: 991px) {
    #ce-success-stories-intro .icom-long-vr-arrow {
      margin-bottom: 60px; } }

/* -------------- START #ce-success-stories-gallery SECTION ( like TILES ) -------------- */
#ce-success-stories-gallery {
  z-index: 1; }

#ce-success-stories-gallery > div {
  margin: 0 auto; }

@media (min-width: 480px) and (max-width: 1399px) {
  #ce-success-stories-gallery > div {
    max-width: 90%; } }

@media (min-width: 1400px) {
  #ce-success-stories-gallery > div {
    max-width: 80%; } }

#ce-success-stories-gallery * {
  margin: 0;
  padding: 0; }

#ce-success-stories-gallery h2,
#ce-success-stories-gallery h4 {
  margin-bottom: 25px;
  color: #ffffff; }

@media (min-width: 1200px) and (max-width: 2020px) {
  #ce-success-stories-gallery h2 {
    font-size: 3vw; } }

#ce-success-stories-gallery .wpb_raw_code {
  min-height: 476px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

#ce-success-stories-gallery .wpb_raw_code > div {
  text-align: center;
  display: table;
  min-height: inherit; }

#ce-success-stories-gallery .wpb_raw_code .content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px; }

#ce-success-stories-gallery .wpb_raw_code .content h2 {
  margin-bottom: 0; }

#ce-success-stories-gallery .wpb_raw_code .content.text {
  text-align: left;
  padding: 0 10%; }

#ce-success-stories-gallery .wpb_raw_code .content.text h2,
#ce-success-stories-gallery .wpb_raw_code .content.text h4 {
  color: #000000; }

#ce-success-stories-gallery .wpb_raw_code .hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  background: rgba(1, 73, 142, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center; }

#ce-success-stories-gallery .wpb_raw_code:hover .hover {
  opacity: 1;
  visibility: visible; }

#ce-success-stories-gallery .vc_column-inner > .wpb_wrapper {
  height: 100%; }

#ce-success-stories-gallery .bg-logo > div {
  background-position: center !important; }

/* --------------  END  #ce-success-stories-gallery SECTION ( like TILES ) -------------- */
#ce-success-stories-coffe h2,
#ce-success-stories-references h2,
#ce-success-stories-references h4 {
  margin-bottom: 25px; }

/* --------------- START #ce-success-stories-references SECTION ( SLIDER) --------------- */
#ce-success-stories-references {
  margin-top: -140px;
  padding: 250px 0 200px; }

#ce-success-stories-references p {
  margin-bottom: 125px; }

/* --------------- START #ce-success-stories-references SECTION ( SLIDER) --------------- */
/* ----------------------- START #ce-success-stories-coffe SECTION ----------------------- */
#ce-success-stories-coffe {
  top: -150px; }
  @media (max-width: 991px) {
    #ce-success-stories-coffe {
      top: -75px; } }

#ce-success-stories-coffe h2,
#ce-success-stories-coffe h4,
#ce-success-stories-coffe p {
  color: #ffffff; }

#ce-success-stories-coffe p {
  margin-bottom: 55px; }

#ce-success-stories-coffe .vc_column-inner {
  background: #01498E;
  margin: 0 auto;
  text-align: center;
  padding: 90px 15px; }

@media (min-width: 480px) and (max-width: 767px) {
  #ce-success-stories-coffe .vc_column-inner {
    max-width: 90%; } }

@media (min-width: 768px) {
  #ce-success-stories-coffe .vc_column-inner {
    max-width: 80%; } }

/* -----------------------  END  #ce-success-stories-coffe SECTION ----------------------- */
