.job_poster {
    min-height: 750px;
    cursor: pointer;
}
.job_poster_content {
   height: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
    transition: all 0.3s;
}
.job_poster:hover .job_poster_content {
    height: auto;
}
